---
layout: page
permalink: /council-members/
hero-text: Council Members
header-image: /assets/img/fpc-conference.jpg
description:
excerpt: The membership of the Federal Privacy Council includes the Privacy Branch Chief in the Office of Information and Regulatory Affairs at the Office of Management and Budget, who serves as the Chair, and the Senior Agency Officials for Privacy (SAOP) at each agency described in <a href="https://www.gpo.gov/fdsys/pkg/FR-2016-02-12/pdf/2016-03141.pdf">Executive Order 13719</a>, as well as other officials from agencies and offices, who are designated by the Chair.

super_leadership_icons:
    - name: Kirsten Moncada
      logo: /assets/img/bio.moncada.kirsten.png
      url: /#
      agency: Office of Management And Budget
      title: FPC Chair
    - name: Joo Chung
      border: 'no'
      logo: /assets/img/bio.chung.joo1.png
      url: /#
      agency: Department of Defense
      title: FPC Vice-Chair
leadership_icons:
    - name: Kellie Cosgrove Riley
      logo: /assets/img/bio.riley.kellie.png
      url: /#
      agency: Office of Personnel Management
      title:
    - name: Charles Cutshall
      logo: /assets/img/bio.cutshall.charles.jpg
      url: /#
      agency: Department of Commerce
      title:
    - name: Shannon Dahn
      border: 'yes'
      logo: /assets/img/Shanon.Dahn.png
      url: /#
      agency: Federal Deposit Insurance Corporation
      title:
    - name: Rene Hadjigeorgalis
      border: 'yes'
      logo: /assets/img/ReneHadjigeorgalis.png
      url: /#
      agency: Department of State
      title:
    - name: Lynn Parker Dupree
      logo: /assets/img/dupree.jpg
      url: /#
      agency: Department of Homeland Security
      title:
    - name: Lyn Kirby
      logo: /assets/img/placeholder.png
      url: /#
      agency: Department of Defense
      title:
    - name: Rebecca Richards
      logo: /assets/img/bio.rebecca.richards.jpg
      url: /#
      agency: National Security Agency
      title:
    - name: Claire Stapleton
      logo: /assets/img/bio.claire.stapleton.jpg
      url: /#
      agency: Federal Deposit Insurance Corporation
      title:
    - name: Peter Winn
      border: 'yes'
      logo: /assets/img/bio.peter.winn.png
      url: /#
      agency: Department of Justice
      title:
council_members_13719_icons:
    - name: Eric F. Stein
      border : 'yes'
      logo: /assets/img/bio.eric.stein.jpg
      url: /#
      agency: Department of State
    - name: Ryan Law
      border: 'yes'
      logo: /assets/img/Ryan_Law.png
      url: /#
      agency: Department of the Treasury
    - name: Deborah J. Hartley
      logo: /assets/img/placeholder.png
      url: /#
      agency: Department of the Interior
    - name: Gary Washington
      logo: /assets/img/bio.gary.washington.jpg
      url: /#
      agency: United States Department of Agriculture
    - name: Charles Cutshall
      logo: /assets/img/bio.cutshall.charles.jpg
      url: /#
      agency: Department of Commerce
    - name: Al Stewart
      logo: /assets/img/al-stewart.png
      url: /#
      agency: Department of Labor
    - name: Karl Mathias
      logo: /assets/img/mathias.jpg
      url: /#
      agency: Department of Health and Human Services
    - name: Lynn Parker Dupree
      border : 'yes'
      logo: /assets/img/dupree.jpg
      url: /#
      agency: Department of Homeland Security
    - name: Bradley Jewitt
      border : 'yes'
      logo: /assets/img/bradley-jewitt.jpg
      url: /#
      agency: Department of Housing and Urban Development
    - name: Jack Albright
      border : 'yes'
      logo: /assets/img/JackAlbright.jpg
      url: /#
      agency: Department of Transportation
    - name: Ann Dunkin
      logo: /assets/img/placeholder.png
      url: /#
      agency: Department of Energy
    - name: Kevin Herms
      logo: /assets/img/KevinHerms.jpeg
      url: /#
      agency: Department of Education
    - name: 
      logo: /assets/img/placeholder.png
      url: /#
      agency: Department of Veterans Affairs
    - name: Vaughn Noga
      border : 'no'
      logo: /assets/img/bio.noga.vaughn.png
      url: /#
      agency: Environmental Protection Agency
    - name: Benjamin Huebner
      logo: /assets/img/bio.benjamin.huebner.jpg
      url: /#
      agency: Office of the Director of National Intelligence
    - name: Stephen Kucharski
      logo: /assets/img/StevenKucharski.png
      url: /#
      agency: Small Business Administration
    - name: Jeffrey Seaton
      border : 'yes'
      logo: /assets/img/seaton_portrait-2.png
      url: /#
      agency: National Aeronautics and Space Administration
    - name: Mark Walther 
      logo: /assets/img/Mark_Walther.png
      url: /#
      agency: United States Agency for International Development
    - name: Beth Killoran
      logo: /assets/img/bio.beth.killoran.jpg
      url: /#
      agency: General Services Administration
    - name: Dorothy Aronson
      logo: /assets/img/Dorothy_Aronson.png
      url: /#
      agency: National Science Foundation
    - name: Gary M. Stern
      border : 'no'
      logo: /assets/img/bio.stern.gary.png
      url: /#
      agency: National Archives and Records Administration

council_members_icons:
    - name: Kristi Scott
      logo: /assets/img/bio.kristi.scott.jpg
      url: /#
      agency: Central Intelligence Agency
    - name: Rob Schwartz
      border : 'yes'
      logo: /assets/img/bio.Rob.Schwartz.jpg
      url: /#
      agency: Commodity Futures Trading Commission
    - name: Tannaz Haddadi
      logo: /assets/img/bio.tannaz.haddadi.jpg
      url: /#
      agency: Consumer Financial Protection Bureau
    - name: Erin Prest
      border : 'no'
      logo: /assets/img/fbi-logo.png
      url: /#
      agency: Federal Bureau of Investigation
    - name: Naomi Lefkovitz
      logo: /assets/img/bio.naomi.lefkovitz.jpg
      url: /#
      agency: National Institute of Standards and Technology
    - name: Royce Min
      border: 'no'
      logo: /assets/img/bio.agarwal.asheesh.png
      url: /#
      agency: Social Security Administration
    - name: Maya Bernstein
      logo: /assets/img/bio.maya.bernstein.jpg
      url: /#
      agency: Department of Health and Human Services


---
<!--<div class="margin-0 font-sans-sm padding-bottom-3">{{page.excerpt}}</div>-->
<!--<section class="usa-section usa-grid clearfix">

    <div class="grid-row grid-gap ">
        <div class="grid-col-12">

        </div>
    </div>
</section>-->

  <div class="grid-container shadow-5 radius-lg bg-white padding-y-5 margin-bottom-3">
    <div class="margin-bottom-8">
      <h2 class="margin-0 font-sans-lg council-leadership-h2">Leadership & Executive Committee</h2>
    </div>
    <div class="grid-row grid-gap">

      {% for icon in page.super_leadership_icons %}
      <div class="desktop:grid-col-4 margin-bottom-3">
        {% if icon.border != 'no'%}
        <img class="size-full wp-image-30379 aligncenter circle-image-members" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
        {% else %}
        <img class="size-full wp-image-30379 aligncenter circle-image-members-borderless" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
        {% endif %}
        <div>
        <span>
      <span class="person_font">
        {{ icon.name }}<span class="agency_font">,</span>
      </span>
      <span class="agency_font"> {{ icon.title }}</span>
      </span>
          <span>
        <div class="agency_font"> {{ icon.agency }}</div>
      </span>
          <!--<span>
          <div class="agency_font"> {{ icon.title }}</div>
        </span>-->
        </div>
        <br>
      </div>
      {% endfor %}
      <div class="grid-row grid-gap">
        {% for icon in page.leadership_icons %}
        <div class="desktop:grid-col-4">
          {% if icon.border != 'no'%}
          <img class="size-full wp-image-30379 aligncenter circle-image-members" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
          {% else %}
          <img class="size-full wp-image-30379 aligncenter circle-image-members-borderless" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
          {% endif %}
          <div>
        <span>
      <div class="person_font">
        {{ icon.name }}</div>
      </span>
            <span>
        <div class="agency_font"> {{ icon.agency }}</div>
      </span>
            <span>
        <div class="agency_font"> {{ icon.title }}</div><br>
      </span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="grid-container shadow-5 radius-lg bg-white padding-y-5 margin-bottom-3">

  <div class="margin-bottom-3">
    <h2 class="margin-0 font-sans-lg council-leadership-h2">E.O. 13719 Council Members</h2>
  </div>

    <div class="margin-0 font-sans-sm padding-bottom-3">
      The membership of the Federal Privacy Council includes the Privacy Branch Chief in the Office of Information and Regulatory Affairs
      at the Office of Management and Budget, who serves as the Chair, and the Senior Agency Officials for Privacy at each agency described
      in <a href="https://www.govinfo.gov/content/pkg/FR-2016-02-12/pdf/2016-03141.pdf">Executive Order 13719</a>. The Privacy Council may also include other officials from agencies and offices, as the Chair may designate,
      and the Chair may invite the participation of officials from such independent agencies as she deems appropriate.
    </div>

    <div class="grid-row grid-gap">

    {% for icon in page.council_members_13719_icons %}
    <div class="desktop:grid-col-4">
      {% if icon.border != 'no'%}
      <img class="size-full wp-image-30379 aligncenter circle-image-members" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
      {% else %}
      <img class="size-full wp-image-30379 aligncenter circle-image-members-borderless" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
      {% endif %}
      <div>
          <span>
        <div class="person_font">
          {{ icon.name }}</div>
        </span>
        <span>
          <div class="agency_font"> {{ icon.agency }}</div><br>
        </span>
      </div>
    </div>
    {% endfor %}


  </div>
  </div>



  <div class="grid-container shadow-5 radius-lg bg-white padding-y-5 margin-bottom-3">

    <div class="margin-bottom-8">
      <h2 class="margin-0 font-sans-lg council-leadership-h2">Council Members</h2>
    </div>
    <div class="grid-row grid-gap">

      {% for icon in page.council_members_icons %}
      <div class="desktop:grid-col-4">
        {% if icon.border != 'no'%}
        <img class="size-full wp-image-30379 aligncenter circle-image-members" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
        {% else %}
        <img class="size-full wp-image-30379 aligncenter circle-image-members-borderless" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
        {% endif %}
        <div>
        <span>
      <div class="person_font">
        {{ icon.name }}</div>
      </span>
          <span>
        <div class="agency_font"> {{ icon.agency }}</div><br>
      </span>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>

  <div id="council-committees" class="grid-container shadow-5 radius-lg bg-white padding-y-5 margin-bottom-3">

  <div class="margin-bottom-8">
    <h2 class="font-sans-md council-leadership-h2 ">Council Committees</h2>
  </div>
    <h3 class="font-sans-md" style=" color: #323a45;">Agency Implementation Committee</h3>
    <p class="font-sans-sm">Collaboration strengthens the Federal privacy community. This committee’s mission is to provide a forum for Federal agency staff to discuss issues and share knowledge related to privacy program governance and privacy risk management.
    </p>

<!--    <h3 class="font-sans-md " style=" color: #323a45;">Committee Leadership</h3>-->
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-6">
        Rebecca Richards, Co-Chair <br>
        National Security Agency
      </div>
      <div class="desktop:grid-col-6">
        Claire Stapleton, Co-Chair <br>
        Federal Deposit Insurance Corporation
      </div>
    </div>

    <h3 class="font-sans-md" style=" color: #323a45;">Federal Privacy Workforce Committee</h3>
    <p class="font-sans-sm">The greatest asset of a Federal privacy program is its people. This committee supports Senior Agency Officials for Privacy in hiring, retaining, training, and developing an effective and efficient workforce of privacy professionals that enables agency mission success.
    </p>

<!--    <h3 class="font-sans-md " style=" color: #323a45;">Committee Leadership</h3>-->

    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-6">
        Kellie Cosgrove Riley, Co-Chair <br>
        Office of Personnel Management
      </div>
      <div class="desktop:grid-col-6">
        Shannon Dahn, Co-Chair <br>
        Federal Deposit Insurance Corporation
      </div>
    </div>

    <h3 class="font-sans-md" style=" color: #323a45;">Public Affairs and Community Engagement Committee</h3>
    <p class="font-sans-sm">The Public Affairs and Community Engagement Committee fosters the growth and vibrancy of the federal privacy community by raising awareness of Council related opportunities for leadership and professional growth. In addition, the Committee supports the Federal Privacy Council’s efforts to engage and educate the public and the Federal privacy community through the Council’s website, newsletters, and events.
    </p>
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-6">
        Charles Cutshall, Co-Chair <br>
        Commodity Futures Trading Commission
      </div>
      <div class="desktop:grid-col-6">
        Lyn Kirby, Co-Chair <br>
        Department of Defense
      </div>
    </div>

    <h3 class="font-sans-md " style=" color: #323a45;">Technology and Innovation Committee</h3>
    <p class="font-sans-sm">To enable the transformation to a 21st-century government that serves the American people more effectively, agencies must embrace and leverage cutting-edge technologies, new digital services, and advances in data analytics. This committee addresses issues at the intersection of privacy, technology, and policy with the overall goal of promoting innovation and enabling the wide-scale adoption of new technologies and services.</p>

    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-6">
        Lynn Parker Dupree, Co-Chair <br>
        Department of Homeland Security
      </div>
      <div class="desktop:grid-col-6">
        Rene Hadjigeorgalis, Co-Chair <br>
        Department of State
      </div>
    </div>



  </div>





<div class="grid-container shadow-5 radius-lg bg-white padding-y-5 margin-bottom-3">

  <div class="margin-bottom-8">
    <h2 class="font-sans-md council-leadership-h2 ">Council Communities of Practice</h2>
  </div>
  <h3 class="font-sans-md" style=" color: #323a45;">Financial Regulators Privacy Community of Practice</h3>
  <p class="font-sans-sm">The Financial Regulators Privacy Community of Practice is a cross-agency community of federal partners with a role to play in providing privacy support to financial regulatory agencies.  Financial regulatory agencies are responsible for overseeing the functioning and fairness of financial markets and for prevent and investigate fraud, keep markets efficient and transparent, and make sure customers and clients are treated fairly.
  </p>

  <!--    <h3 class="font-sans-md " style=" color: #323a45;">Committee Leadership</h3>-->
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-6">
      Claire Stapleton, Co-Chair <br>
      Federal Deposit Insurance Corporation
    </div>
    <div class="desktop:grid-col-6">
      Shawn Hartley, Co-Chair <br>
      Pension Benefit Guaranty Corporation
    </div>
  </div>

  <h3 class="font-sans-md" style=" color: #323a45;">Micro Agency Community of Practice</h3>
  <p class="font-sans-sm">The Micro Agency Community of Practice serves as a forum for privacy professionals in micro agencies to share privacy best practices, address challenges, and network. Micro agencies are agencies that employ fewer than 100 people.
  </p>

  <!--    <h3 class="font-sans-md " style=" color: #323a45;">Committee Leadership</h3>-->

  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-6">
      Nadine Mancini, Co-Chair <br>
      Occupational Safety and Health Review Commission
    </div>
    <div class="desktop:grid-col-6">
      Logan O’Shaughnessy, Co-Chair <br>
      Privacy and Civil Liberties Oversight Board
    </div>
  </div>
</div>



<div id="working-groups" class="grid-container shadow-5 radius-lg bg-white padding-y-5 margin-bottom-3">

  <div class="margin-bottom-8">
    <h2 class="font-sans-md council-leadership-h2 ">Council Working Groups</h2>
  </div>
  <h3 class="font-sans-md" style=" color: #323a45;">Privacy Risk Management Working Group</h3>
  <p class="font-sans-sm">OMB Circular A-130 requires agencies to implement the Risk Management Framework (RMF) and manage privacy risks across the information system development life cycle. This interagency working group will provide a forum for agency privacy professionals to identify and develop best practices for managing privacy risks.



  </p>

  <!--    <h3 class="font-sans-md " style=" color: #323a45;">Committee Leadership</h3>-->
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-6">
      Kevin Herms, Co-Chair	 <br>
      Department of Education
    </div>
    <div class="desktop:grid-col-6">
      Charles Cutshall, Co-Chair <br>
      Commodity Futures Trading Commission
    </div>
  </div>

  <h3 class="font-sans-md" style=" color: #323a45;">Data-Driven Policy Working Group</h3>
  <p class="font-sans-sm">There are numerous efforts across the Executive Branch of the Federal government to improve the policy-making through the innovative use of data. This working group ensures that federal privacy professionals coordinate and inform best practices related to data-driven policy-making.  The working group is also responsible for coordinating with the Chief Data Officers Council, the Chief FOIA Officers Council, and others as appropriate.
  </p>

  <!--    <h3 class="font-sans-md " style=" color: #323a45;">Committee Leadership</h3>-->

  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-6">
      Tannaz Haddadi, Co-Chair <br>
      Consumer Financial Protection Bureau
    </div>
  </div>

  <h3 class="font-sans-md " style=" color: #323a45;">Managing Re-identification Risk Working Group</h3>
  <p class="font-sans-sm">In response to Title II of the Foundations for Evidence-Based Policymaking Act of 2018, all Federal agencies are challenged to establish or improve upon processes for disclosure avoidance that reduce the risk of re-identification in publicly released data assets. This working group provides a forum for agency privacy professionals who are working in disclosure and re-identification avoidance programs that function as part of an agency privacy program.
  </p>

  <!--    <h3 class="font-sans-md " style=" color: #323a45;">Committee Leadership</h3>-->

  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-6">
      Shannan Catalano, Co-Chair <br>
      Department of Education
    </div>
    <div class="desktop:grid-col-6">
      Jamie Huang, Co-Chair <br>
      Department of Justice
    </div>
  </div>


</div>

</div>
