---
layout: page
permalink: /council-members/
hero-text: Council Members
header-image: /assets/img/fpc-conference.jpg
description:
excerpt: The membership of the Federal Privacy Council includes the Privacy Branch Chief in the Office of Information and Regulatory Affairs at the Office of Management and Budget, who serves as the Chair, and the Senior Agency Officials for Privacy (SAOP) at each agency described in <a href="https://www.gpo.gov/fdsys/pkg/FR-2016-02-12/pdf/2016-03141.pdf">Executive Order 13719</a>, as well other officials from agencies and offices, who are designated by the Chair.
leadership_icons:
    - name: Kirsten Moncada
      logo: /assets/img/bio.kirsten.moncada.jpg
      url: /#
      agency: Office of Information and Regulatory Affairs
      title: FPC Chair
    - name: Joo Chung
      border: 'no'
      logo: /assets/img/bio.chung.joo.png
      url: /#
      agency: Department of Defense
      title: FPC Vice-Chair
    - name: John Krebs
      logo: /assets/img/bio.john.krebs.jpg
      url: /#
      agency: Federal Trade Commission
      title:
    - name: Rebecca Richards
      logo: /assets/img/bio.rebecca.richards.jpg
      url: /#
      agency: National Security Agency
      title:
    - name: Kellie Cosgrove Riley
      logo: /assets/img/bio.riley.kellie.png
      url: /#
      agency: Office of Personnel Management
      title:
    - name: Claire Stapleton
      logo: /assets/img/bio.claire.stapleton.jpg
      url: /#
      agency: Federal Deposit Insurance Corporation
      title:
    - name: Peter Winn
      border: 'no'
      logo: /assets/img/bio.winn.peter.png
      url: /#
      agency: Department of Justice
      title:
    - name: Charles Cutshall
      logo: /assets/img/bio.cutshall.charles.png
      url: /#
      agency: Commodity Futures Trading Commission
      title:
council_members_icons:
    - name: Royce Min
      border : 'no'
      logo: /assets/img/bio.agarwal.asheesh.png
      url: /#
      agency: Social Security Administration
    - name: Kristen Baldwin
      border : 'no'
      logo: /assets/img/bio.transportation.png
      url: /#
      agency: Department of Transportation
    - name: John Bravacos
      border : 'no'
      logo: /assets/img/hud-logo.png
      url: /#
      agency: Department of Housing and Urban Development
    - name: Albert Bullock
      logo: /assets/img/bio.albert.bullock.jpg
      url: /#
      agency: United States Agency for International Development
    - name: William Vajda
      border : 'no'
      logo: /assets/img/doi-logo.png
      url: /#
      agency: Department of the Interior
    - name: Kristi Scott
      logo: /assets/img/bio.kristi.scott.jpg
      url: /#
      agency: Central Intelligence Agency
    - name: Rocky Campione
      logo: /assets/img/bio.rocky.campione.jpg
      url: /#
      agency: Department of Energy
    - name: Benjamin Huebner
      logo: /assets/img/bio.benjamin.huebner.jpg
      url: /#
      agency: Office of the Director of National Intelligence
    - name: Timothy Skinner
      logo: /assets/img/bio.treasury.seal.png
      url: /#
      agency: Department of Treasury
    - name: Gary Washington
      logo: /assets/img/bio.gary.washington.jpg
      url: /#
      agency: United States Department of Agriculture
    - name: Naomi Lefkovitz
      logo: /assets/img/bio.naomi.lefkovitz.jpg
      url: /#
      agency: National Institute of Standards and Technology
    - name: John C. Sullivan
      border : 'no'
      logo: /assets/img/state-logo.png
      url: /#
      agency: Department of State
    - name: Vaughn Noga
      border : 'no'
      logo: /assets/img/bio.noga.vaughn.png
      url: /#
      agency: Environmental Protection Agency
    - name: Erin Prest
      border : 'no'
      logo: /assets/img/fbi-logo.png
      url: /#
      agency: Federal Bureau of Investigation
    - name: Catrina Purvis
      logo: /assets/img/bio.purvis.catrina.png
      url: /#
      agency: Department of Commerce
    - name: Keith Bluestein
      logo: /assets/img/sba-bluestein.png
      url: /#
      agency: Small Business Association
    - name: Beth Killoran
      logo: /assets/img/bio.beth.killoran.jpg
      url: /#
      agency: General Services Administration
    - name: Gary M. Stern
      border : 'no'
      logo: /assets/img/bio.stern.gary.png
      url: /#
      agency: National Archives and Records Administration
    - name: Renee Wynn
      border : 'no'
      logo: /assets/img/bio.wynn.renee.png
      url: /#
      agency: National Aeronutics and Space Administration
    - name: Bryan Slater
      logo: /assets/img/bio.slater.bryan.png
      url: /#
      agency: Department of Labor
    - name: Kevin Herms
      border : 'no'
      logo: /assets/img/education-logo.png
      url: /#
      agency: Department of Education
    - name: Jose Arrieta
      logo: /assets/img/bio.jose.arrieta.jpg
      url: /#
      agency: Department of Health and Human Services
    - name: James Gfrerer
      logo: /assets/img/bio.james.gfrerer.jpg
      url: /#
      agency: Department of Veterans Affairs
    - name: Tannaz Haddadi
      logo: /assets/img/bio.tannaz.haddadi.jpg
      url: /#
      agency: Consumer Financial Protection Bureau
    - name: Dena Kozanas
      border : 'no'
      logo: /assets/img/dhs-logo.png
      url: /#
      agency: Department of Homeland Security
---
<h2 class="margin-0 font-sans-md">{{page.excerpt}}</h2>
<!--<section class="usa-section usa-grid clearfix">

    <div class="grid-row grid-gap ">
        <div class="grid-col-12">

        </div>
    </div>
</section>-->

<section class="usa-section usa-prose clearfix grid-container">
  <div>
    <h2 class="margin-0 font-sans-md council-leadership-h2">Council Members</h2>
  </div>
    <div class="grid-row grid-gap">
    {% for icon in page.leadership_icons %}
    <div class="tablet:grid-col-6">
      {% if icon.border != 'no'%}
      <img class="size-full wp-image-30379 aligncenter circle-image-members" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
      {% else %}
      <img class="size-full wp-image-30379 aligncenter circle-image-members-borderless" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
      {% endif %}
      <div>
        <span>
      <div class="person_font">
        {{ icon.name }}</div><br>
      </span>
      <span>
        <div class="agency_font"> {{ icon.agency }}</div><br>
      </span>
      <span>
        <div class="agency_font"> {{ icon.title }}</div>
      </span>
      </div>
    </div>
    {% endfor %}
    </div>
</section>


<section class="usa-section usa-prose clearfix grid-container">
  <div>
      <h2 class="margin-0 font-sans-md council-leadership-h2">Council Members</h2>
  </div>
  <div class="grid-row grid-gap">
    {% for icon in page.council_members_icons %}
    <div class="desktop:grid-col-4">
      {% if icon.border != 'no'%}
        <img class="size-full wp-image-30379 aligncenter circle-image-members" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
      {% else %}
        <img class="size-full wp-image-30379 aligncenter circle-image-members-borderless" src="{{ site.baseurl }}{{ icon.logo }}" alt="{{ icon.name }} image">
      {% endif %}
      <div>
        <span>
      <div class="person_font">
        {{ icon.name }}</div><br>
      </span>
      <span>
        <div class="agency_font"> {{ icon.agency }}</div><br>
      </span>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

