---
layout: default
permalink: /data-privacy-week-2023/
title: Data Privacy Week 2023
---

<section class="usa-section about">
    <div class="usa-grid">
        <div class="grid-container">
            <div class="priority-tag-line"><h1 class="margin-0 font-ui-2xl">{{ page.title }}</h1></div>
            <h2 class="margin-top-0 text-accent-cool-light">January 21-27</h2>
        </div>
    </div>
</section>
<section class="usa-section padding-2">
    <div class="usa-grid">
        <div class="grid-row grid-container">
            <div class="desktop:grid-col-5">
                <div class="grid-container shadow-5 radius-lg bg-white padding-y-4 padding-x-6 margin-bottom-3">
                    <img src="{{site.baseurl}}/assets/img/DPW.png" alt="Data Privacy Week" />
                    <h2 class="text-primary-darker">Data Privacy Week Events</h2>
                    <a href="" class="usa-button usa-button--hover border-0 width-full">For Federal Personnel</a>
                    <a href="https://staysafeonline.org/programs/data-privacy-week/talking-data/" class="usa-button usa-button--hover border-0 width-full margin-top-1">For the Public</a>
                </div>
            </div>
            <div class="desktop:grid-col-7 padding-left-6">
                <h2 class="text-primary-darker">Take Control of Your Privacy</h2>
                <p>The Federal Privacy Council is proud be a champion for Data Privacy Week 2024, a global effort to raise awareness about the importance of respecting privacy, safeguarding data, and enabling trust.  The National Cybersecurity Alliance has announced that this year’s Data Privacy Week theme is <a href="https://staysafeonline.org/programs/data-privacy-week/individuals/" target="_blank">“Take Control of Your Privacy”</a> . On this page you will find resources and events for Federal employees and members of the public.</p>
                <p><b>About Data Privacy Week:</b>  Data Privacy Week commemorates the January 28, 1981 signing of Convention 108, the first legally binding international treaty dealing with privacy and data protection. Since 2009, resolutions passed by Congress have supported the designation of January 28th as National Data Privacy Day in the United States. Since 2022, the Data Privacy Day campaign has been expanded to Data Privacy Week. </p>
                <a href="https://staysafeonline.org/programs/data-privacy-week/" class="usa-button usa-button--hover border-0">Learn More</a>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="usa-section padding-2">
    <div class="usa-grid">
        <div class="grid-row grid-container">
            <div class="desktop:grid-col-9">
                <h2 class="text-primary-darker">Federal Data Privacy Week Champions</h2>
                <p>The Federal Privacy Council is proud to recognize those agencies that opted into participating in the National Cyber Security Alliance's <a href="https://staysafeonline.org/programs/2023-data-privacy-week-champions/">Data Privacy Day Champions program</a>.</p>
                <div class="usa-graphic-list__row grid-row grid-gap">
                    <div class="tablet:grid-col-2 border-2px border-base-lightest container members-list padding-x-2 padding-y-2 card__members text-center">
                        <img src="{{site.baseurl}}/assets/img/fpc_logo.png" alt="Federal Privacy Council" class="height-10" /><br />
                        Federal Privacy Council
                    </div>
                    <div class="tablet:grid-col-2 border-2px border-base-lightest container members-list padding-x-2 padding-y-2 card__members text-center">
                        <img src="{{site.baseurl}}/assets/img/state_department_seal.png" alt="U.S. Department of State" class="height-10" /><br />
                        U.S. Department of State
                    </div>
                </div>
            </div>
            <div class="desktop:grid-col-3">
                <h2 class="text-primary-darker">Take Action to Take Control of Your Privacy</h2>
                <ul class="usa-sidenav">
                    <li class="usa-sidenav__item"><a href="https://staysafeonline.org/programs/data-privacy-week/individuals/">Take Control of Your Data</a></li>

                    <li class="usa-sidenav__item"><a href="https://staysafeonline.org/resources/manage-your-privacy-settings/">Manage Your Online Privacy Settings</a></li>

                    <li class="usa-sidenav__item"><a href="https://www.youtube.com/watch?v=x73WuhVBNak">Top 3 Data Privacy Tips for Parents and Children (video)</a></li>

                    <li class="usa-sidenav__item"><a href="https://staysafeonline.org/resources/what-to-do-when-your-data-is-breached/">What To Do When Your Data Is Breached</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="usa-section padding-2">
    <div class="usa-grid">
        <div class="grid-row grid-container">
            <div class="desktop:grid-col-12">
                <h2 class="text-primary-darker">Resources</h2>
                <h4 class="text-primary-darker">Learn About Privacy: FPC's Educational Videos</h4>
                <p>Executive Branch agencies necessarily collect, maintain, use, disclose, and dispose of large amounts of personally identifiable information (PII) to carry out missions mandated by Federal statute. By watching these short videos, learn more about how the Executive Branch of the Federal Government protects your privacy.</p>
                <div class="grid-row grid-gap space-between">
                    {% for icon in site.data.priority_icons %}
                    <div class="tablet:grid-col-3 learn-about text-center margin-y-2 bg-white padding-2 margin-05 shadow-5 members-hover radius-lg ">
                        {% if icon.url %}
                        <a href="{{ site.baseurl }}{{ icon.url }}" class="text-no-underline text-gray-70" style="display: inline-block;">
                            {% else %}
                            <a href="{{ icon.link }}" class="text-no-underline" style="display: inline-block;">
                                {% endif %}
                                <div>
                                    <img style="width:190px;height:150px;object-fit:cover; border: 1px solid #555;" alt="{{ icon.alt-text }}" src="{{site.baseurl}}{{ icon.logo }}" />
                                </div>
                                <p class="font-sans-sm text-gray-70 text-left text-no-underline">{{ icon.time }}</p>
                                <p class="font-heading-md text-gray-70 text-left text-no-underline">{{ icon.name }}</p>
                                <p class="font-sans-sm text-gray-70 text-left text-no-underline">{{ icon.filler }}</p>
                            </a>
                    </div>
                    {% endfor %}
                </div>

                <h4 class="text-primary-darker">Privacy Tools and Resources</h4>
                <div class="grid-row grid-gap">
                    {% for icon in site.data.privacy_tools %}
                    <div class="desktop:grid-col-4 privacy-tools text-center margin-y-2 bg-white padding-2 margin-05 shadow-5 members-hover radius-lg">
                        <img style="width:190px;height:150px;object-fit:cover; border: 1px solid #555;" alt="{{ icon.alt-text }}" src="{{site.baseurl}}{{ icon.logo }}" />
                        <h3>{{icon.name}}</h3>
                        <p>{{icon.title}}</p>
                        <a href="{{ site.baseurl }}{{ icon.link }}" class="usa-button usa-button--hover border-0 width-full">Read More</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
