---
layout: default
permalink: /data-privacy-week-2024/
title: Data Privacy Week 2024
---

<section class="usa-section about">
    <div class="usa-grid">
        <div class="grid-container">
            <div class="priority-tag-line"><h1 class="margin-0 font-ui-xl">{{ page.title }}</h1></div>
            <h2 class="margin-top-0 text-accent-cool-light">January 21-27</h2>
        </div>
    </div>
</section>
<section class="usa-section padding-2">
    <div class="usa-grid">
        <div class="grid-row grid-container">
            <div class="desktop:grid-col-6">
                <div class="grid-container shadow-5 radius-lg bg-white padding-7 margin-bottom-3">
                    <img src="{{site.baseurl}}/assets/img/DPW.png" alt="Data Privacy Week" />
                    <h2 class="text-primary-darker">Data Privacy Week Events</h2>
                    <a href="{{site.baseurl}}/data-privacy-week-2024/events" class="usa-button usa-button--hover border-0 width-full">For Federal Personnel</a>
                    <a href="https://staysafeonline.org/programs/data-privacy-week/talking-data/" class="usa-button usa-button--hover border-0 width-full margin-top-1">For the Public</a>
                </div>
            </div>
            <div class="desktop:grid-col-6 desktop:padding-left-6">
                <h2 class="text-primary-darker margin-top-0">Take Control of Your Privacy</h2>
                <p>The Federal Privacy Council is proud be a champion for Data Privacy Week 2024, a global effort to raise awareness about the importance of respecting privacy, safeguarding data, and enabling trust.  The National Cybersecurity Alliance has announced that this year’s Data Privacy Week theme is <a href="https://staysafeonline.org/programs/data-privacy-week/individuals/">“Take Control of Your Privacy”</a> . On this page you will find resources and events for Federal employees and members of the public.</p>
                <h2 class="text-primary-darker">About Data Privacy Week</h2>
                <p>Data Privacy Week commemorates the January 28, 1981 signing of Convention 108, the first legally binding international treaty dealing with privacy and data protection. Since 2009, resolutions passed by Congress have supported the designation of January 28th as National Data Privacy Day in the United States. Since 2022, the Data Privacy Day campaign has been expanded to Data Privacy Week. </p>
                <a href="https://staysafeonline.org/programs/data-privacy-week/" class="usa-button usa-button--hover border-0">Learn More</a>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="usa-section padding-2">
    <div class="usa-grid">
        <div class="grid-row grid-container">
            <div class="desktop:grid-col-12">
                <h2 class="text-primary-darker margin-top-0">Federal Data Privacy Week Champions</h2>
                <p>The Federal Privacy Council is proud to recognize those agencies that opted into participating in the National Cyber Security Alliance's <a href="https://staysafeonline.org/programs/2023-data-privacy-week-champions/">Data Privacy Day Champions program</a>.</p>
                <div class="usa-graphic-list__row grid-row grid-gap">
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/doe-logo-color.png" alt="Department of Energy" class="height-8" /><br />
                        Department of Energy
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/smithosnian.png" alt="Smithsonian Institution" class="height-8" /><br />
                        Smithsonian Institution
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/dod-seal.png" alt="Department of Defense" class="height-8" /><br />
                        Department of Defense
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/department-of-the-interior.png" alt="Department of the Interior" class="height-8" /><br />
                        Department of the Interior
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/cpsc_seal.png" alt="Consumer Product Safety Commission " class="height-8" /><br />
                        Consumer Product Safety Commission
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/department-of-agriculture.png" alt="Department of Agriculture" class="height-8" /><br />
                        Department of Agriculture
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/cftc_seal.png" alt="Commodity Futures Trading Commission " class="height-8" /><br />
                        Commodity Futures Trading Commission
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/doc-logo.png" alt="Department of Commerce " class="height-8" /><br />
                        Department of Commerce
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/personnel_management_seal.png" alt="Office of Personnel Management" class="height-8" /><br />
                        Office of Personnel Management
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/ODNI_seal.png" alt="Office of the Director of National Intelligence" class="height-8" /><br />
                        Office of the Director of National Intelligence
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/cfpb_seal_v3.jpg" alt="Consumer Financial Protection Bureau" class="height-8" /><br />
                        Consumer Financial Protection Bureau
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/va-logo-color.png" alt="Department of Veterans Affairs" class="height-8" /><br />
                        Department of Veterans Affairs
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/environmental_protection_agency_seal.png" alt="Environmental Protection Agency" class="height-8" /><br />
                        Environmental Protection Agency
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/fdic_seal.jpg" alt="Federal Deposit Insurance Corporation" class="height-8" /><br />
                        Federal Deposit Insurance Corporation
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/cisa-logo.png" alt="Cybersecurity and Infrastructure Security Agency" class="height-8" /><br />
                        Cybersecurity and Infrastructure Security Agency
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/department-of-education.png" alt="Department of Education" class="height-8" /><br />
                        Department of Education
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/health_and_human_department_seal.png" alt="Department of Health and Human Services" class="height-8" /><br />
                        Department of Health and Human Services
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/IRS seal.png" alt="Internal Revenue Service" class="height-8" /><br />
                        Internal Revenue Service
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/national-aeronautics-and-space-administration.png" alt="National Aeronautics and Space Administration" class="height-8" /><br />
                        National Aeronautics and Space Administration
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/National_Defense_University_emblem.jpg" alt="National Defense University" class="height-8" /><br />
                        National Defense University
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/social_security_administration_seal.png" alt="Social Security Administration" class="height-8" /><br />
                        Social Security Administration
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/state_department_seal.png" alt="Department of State" class="height-8" /><br />
                        Department of State
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/us-forest.png" alt="US Forest Service" class="height-8" /><br />
                        US Forest Service
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/cftc_seal.png" alt="US International Trade Comission" class="height-8" /><br />
                        US International Trade Comission
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/US international trade commission.png" alt="United States Agency for International Development" class="height-8" /><br />
                        United States Agency for International Development
                    </div>
                    <div class="desktop:grid-col-2 tablet:grid-col-6 container members-list padding-top-2  card__members font-size text-center">
                        <img src="{{site.baseurl}}/assets/img/fhfa-logo.png" alt="Federal Finance Housing Agency" class="height-8" /><br />
                        Federal Finance Housing Agency
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="usa-section padding-2">
    <div class="usa-grid">
        <div class="grid-row grid-container">
            <h2 class="text-primary-darker margin-top-0">Take Action to Take Control of Your Privacy</h2>
            <div class="usa-graphic-list__row grid-row grid-gap desktp:grid-col-12">
                <div class="desktop:grid-col-6">
                    <ul>
                        <li><a href="https://staysafeonline.org/programs/data-privacy-week/individuals/">Take Control of Your Data</a></li>

                        <li><a href="https://staysafeonline.org/resources/manage-your-privacy-settings/">Manage Your Online Privacy Settings</a></li>
                    </ul>
                </div>
                <div class="desktop:grid-col-6 spacing">
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=x73WuhVBNak">Top 3 Data Privacy Tips for Parents and Children (video)</a></li>

                        <li><a href="https://staysafeonline.org/resources/what-to-do-when-your-data-is-breached/">What To Do When Your Data Is Breached</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="usa-section padding-2">
    <div class="usa-grid">
        <div class="grid-row grid-container">
            <div class="desktop:grid-col-12">
                <h2 class="text-primary-darker margin-top-0">Resources</h2>
                <h3 class="text-primary-darker">Learn About Privacy: FPC's Educational Videos</h3>
                <p>Executive Branch agencies necessarily collect, maintain, use, disclose, and dispose of large amounts of personally identifiable information (PII) to carry out missions mandated by Federal statute. By watching these short videos, learn more about how the Executive Branch of the Federal Government protects your privacy.</p>
                <div class="grid-row grid-gap space-between">
                    {% for icon in site.data.priority_icons %}
                    <div class="tablet:grid-col-3 learn-about font-size text-center margin-y-2 bg-white padding-2 margin-05 shadow-5 members-hover radius-lg ">
                        {% if icon.url %}
                        <a href="{{ site.baseurl }}{{ icon.url }}" class="text-no-underline text-gray-70" style="display: inline-block;">
                            {% else %}
                            <a href="{{ icon.link }}" class="text-no-underline" style="display: inline-block;">
                                {% endif %}
                                <div>
                                    <img style="width:190px;height:150px;object-fit:cover; border: 1px solid #555;" alt="{{ icon.alt-text }}" src="{{site.baseurl}}{{ icon.logo }}" />
                                </div>
                                <p class="font-sans-sm text-gray-70 text-left text-no-underline">{{ icon.time }}</p>
                                <p class="font-heading-md text-gray-70 text-left text-no-underline">{{ icon.name }}</p>
                                <p class="font-sans-sm text-gray-70 text-left text-no-underline">{{ icon.filler }}</p>
                            </a>
                    </div>
                    {% endfor %}
                </div>

                <h3 class="text-primary-darker">FPC Tools and Resources</h3>
                <div class="grid-row grid-gap">
                    {% for icon in site.data.privacy_tools %}
                    <div class="desktop:grid-col-2 privacy-tools font-size margin-y-2 bg-white padding-2 margin-05 shadow-5 members-hover radius-lg">
                        <img style="width:300px;height:210px;object-fit:cover; border: 1px solid #555;" alt="{{ icon.alt-text }}" src="{{site.baseurl}}{{ icon.logo }}" />
                        <h3>{{icon.name}}</h3>
                        <p>{{icon.title}}</p>
                        {% if icon.name contains "SORN" %}
                        <a href="{{ icon.link }}" class="usa-button usa-button--hover border-0" aria-label="Visit">Visit</a>
                        {% else %}
                        <a href="{{ icon.link }}" class="usa-button usa-button--hover border-0" aria-label="Read More for {{icon.name}}">Read More</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

