---
layout: default
permalink: /elements-of-federal-privacy-program/
title: Elements of Federal Privacy Program
description:
excerpt: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
number_of_icons: 4
priority_icons:
    - name: Breach Response
      logo: /assets/img/logos/wrench.svg
      url: /elements-of-federal-privacy-program/breach-response/
    - name: Privacy Impact Assessments
      logo: /assets/img/logos/design-tool.svg
      url: /elements-of-federal-privacy-program/privacy-impact-assessments/
    - name: Systems of Records Notices
      logo: /assets/img/logos/Group-2.svg
      url: /elements-of-federal-privacy-program/system-of-record-notices/
    - name: Privacy Workforce
      logo: /assets/img/logos/Group-1.svg
      link: /elements-of-federal-privacy-program/privacy-workforce/
    - name: Senior Agency Officials For Privacy
      logo: /assets/img/logos/handshake.svg
      url: /elements-of-federal-privacy-program/senior-agency-officials-for-privacy/
    - name: Privacy Risk Management
      logo: /assets/img/logos/warranty.svg
      url: /elements-of-federal-privacy-program/privacy=risky-management/
    - name: Budget and Acquisition
      logo: /assets/img/logos/accounting.svg
      url: /elements-of-federal-privacy-program/budget-and-acquisition/
    - name: Websites and Digital Services
      logo: /assets/img/logos/web-development.svg
      link: /elements-of-federal-privacy-program/website-and-digital-services/
    - name: Training and Accountability
      logo: /assets/img/logos/education.svg
      link: /elements-of-federal-privacy-program/training-and-accountability/
---

<section class="usa-section usa-grid  about clearfix">
    <div class="grid-row grid-gap ">

        <div class="grid-col-10 grid-offset-1">
            <div class="priority-tag-line"><h1 class="margin-0 font-ui-2xl">{{ page.title }}</h1></div><br>
        </div>
    </div>

</section>



<section class="usa-section usa-grid clearfix">
    <div class="grid-row grid-gap ">

        <div class="grid-col-10 grid-offset-1">
            <div><h2 class="margin-0 font-sans-md">{{page.excerpt}}</h2></div>
        </div>
    </div>

</section>



<section class="usa-graphic_list usa-section usa-prose clearfix grid-container">

    <div class="grid-row grid-gap">
        {% for icon in page.priority_icons %}
        <div class="tablet:grid-col-3 text-center margin-y-2 bg-white padding-4 margin-1 shadow-5 members-hover radius-lg ">
            {% if icon.url %}
            <a href="{{ site.baseurl }}{{ icon.url }}" class="text-no-underline text-gray-70" style="display: inline-block;">
                {% else %}
                <a href="{{ icon.link }}" class="text-no-underline" style="display: inline-block;">
                    {% endif %}
                    <div class="circle-image picons icon-back">
                        <img class="picon" src="{{site.baseurl}}{{ icon.logo }}" alt="{{ icon.name }} image" />
                    </div>
                    <p class="font-heading-md text-gray-70 text-no-underline">{{ icon.name }}</p>
                </a>
        </div>
        {% endfor %}
    </div>
</section>



