---
layout: default
permalink: /learn-about-federal-privacy-program/
title: Learn about Federal Privacy
description:
excerpt: Executive Branch agencies necessarily collect, maintain, disclose, and dispose of large amounts of personally identifiable information (PII) to carry out missions mandated by Federal statute.  Learn about how the Executive Branch of the Federal Government protects your privacy by watching any of these short videos.
number_of_icons: 4
priority_icons:
 - name: Roles in Federal Privacy
   logo: /assets/img/logos/Video_3.png
   url: /roles-in-federal-privacy/
   filler: Lorem ipsum dolor sit amet, consectetur adipiscing el
   time: 8 minutes
 - name: Privacy Impact Statements
   logo: /assets/img/logos/Video_2.png
   url: /privacy-impact-asessments/
   filler: Lorem ipsum dolor sit amet, consectetur adipiscing el
   time: 7 minutes
 - name: Terms to Know
   logo: /assets/img/logos/Video_3.png
   url: #
   filler: Lorem ipsum dolor sit amet, consectetur adipiscing el
   time: 8 minutes
---

<section class="usa-section about">
    <div class="usa-grid">
        <div class="grid-container ">
            <div class="priority-tag-line"><h1 class="margin-0 font-ui-2xl">{{ page.title }}</h1></div><br>
        </div>
    </div>
</section>




<section class="usa-section">
    <div class="usa-grid">
        <div class="grid-container ">
            <div><div class="margin-0 font-sans-sm">{{page.excerpt}}</div></div>
        </div>
    </div>

</section>



<section class="usa-graphic_list usa-section usa-prose clearfix grid-container">

    <div class="grid-row grid-gap">
        {% for icon in page.priority_icons %}
        <div class="tablet:grid-col-3 text-center margin-y-2 bg-white padding-2 margin-3 shadow-5 members-hover radius-lg ">
            {% if icon.url %}
            <a href="{{ site.baseurl }}{{ icon.url }}" class="text-no-underline text-gray-70" style="display: inline-block;">
                {% else %}
                <a href="{{ icon.link }}" class="text-no-underline" style="display: inline-block;">
                    {% endif %}
                    <div >
                        <img style="width:200px;height:150px;object-fit:cover;" src="{{site.baseurl}}{{ icon.logo }}" alt="{{ icon.name }} image" />
                    </div>
                    <p class="font-sans-sm text-gray-70 text-left text-no-underline">{{ icon.time }}</p>
                    <p class="font-heading-md text-gray-70 text-left text-no-underline">{{ icon.name }}</p>
                    <p class="font-sans-sm text-gray-70 text-left text-no-underline">{{ icon.filler }}</p>
                </a>
        </div>
        {% endfor %}
    </div>
</section>



