---
layout: default
permalink: /elements-of-federal-privacy-program/
title: Elements of a Federal Privacy Program
description:
excerpt: Executive Branch agencies are required to have agency-wide privacy programs that, among other things, ensure compliance with applicable privacy requirements, develop and evaluate privacy policy, and manage privacy risks. Explore each of the <i>Elements of a Federal Privacy Program</i> below to learn more about the various statutory and policy requirements that inform and guide privacy programs.
number_of_icons: 4
priority_icons:
    - name: Breach Response
      logo: /assets/img/logos/wrench.svg
      url: /elements-of-federal-privacy-program/breach-response/
    - name: Privacy Impact Assessments
      logo: /assets/img/logos/design-tool.svg
      url: /elements-of-federal-privacy-program/privacy-impact-assessments/
    - name: System of Records Notices
      logo: /assets/img/logos/Group-2.svg
      url: /elements-of-federal-privacy-program/system-of-record-notices/
    - name: Privacy Workforce
      logo: /assets/img/logos/Group-1.svg
      url: /elements-of-federal-privacy-program/privacy-workforce/
    - name: Senior Agency Officials For Privacy
      logo: /assets/img/logos/handshake.svg
      url: /elements-of-federal-privacy-program/senior-agency-officials-for-privacy/
    - name: Privacy Risk Management
      logo: /assets/img/logos/warranty.svg
      url: /elements-of-federal-privacy-program/privacy=risky-management/
    - name: Budget and Acquisition
      logo: /assets/img/logos/accounting.svg
      url: /elements-of-federal-privacy-program/budget-and-acquisition/
    - name: Websites and Digital Services
      logo: /assets/img/logos/web-development.svg
      url: /elements-of-federal-privacy-program/website-and-digital-services/
    - name: Training and Accountability
      logo: /assets/img/logos/education.svg
      url: /elements-of-federal-privacy-program/training-and-accountability/
---


<section class="usa-section about">
    <div class="usa-grid">
        <div class="grid-container ">
            <div class="priority-tag-line"><h1 class="margin-0 font-ui-2xl">{{ page.title }}</h1></div><br>
        </div>
    </div>

</section>



<section class="usa-section margin-bottom-0 padding-bottom-0">
    <div class="usa-grid">
        <div class="grid-container ">
            <div><div class="margin-0 font-sans-sm">{{page.excerpt}}</div></div>
        </div>
    </div>

</section>



<section class="usa-graphic_list usa-section usa-prose clearfix grid-container">

    <div class="grid-row grid-gap tablet:flex-justify-center">
        {% for icon in page.priority_icons %}
        <div class="tablet:grid-col-3 text-center bg-white padding-4 margin-2 shadow-5 members-hover radius-lg ">
            {% if icon.url %}
            <a href="{{ site.baseurl }}{{ icon.url }}" class="text-no-underline text-gray-70" style="display: inline-block;">
                {% else %}
                <a href="{{ icon.link }}" class="text-no-underline" style="display: inline-block;">
                    {% endif %}
                    <div class="circle-image picons icon-back">
                        <img class="picon" src="{{site.baseurl}}{{ icon.logo }}" alt="{{ icon.name }} image" />
                    </div>
                    <p class="font-heading-md text-gray-70 text-no-underline">{{ icon.name }}</p>
                </a>
        </div>
        {% endfor %}
    </div>
</section>
