<div class="usa-width-two-thirds">
    <ul class="usa-accordion usa-accordion--bordered">
        <li>
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4">
               Copyright </button>
            <div id="b-a4" class="usa-accordion__content">
                <p>Most of the material on FPC.gov website is created by Federal employees, and you may reproduce, publish or otherwise use it without
                permission consistent with the Copyright Act of 1976. Please consider appropriate citation to the Federal Privacy Council as the 
                source. Copyrighted materials may also appear on this website, or may be reached through a link on this website. Copyright and 
                other intellectual property laws may apply to your use of those materials.</p>
                <p>Most images found on FPC.gov were licensed for use by the Federal Privacy Council from a stock photography service or other copyright
                holder, who may prohibit republication, retransmission, reproduction, or any other use of the images.</p>
            </div>
        </li>
        <li>
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">
               Disclaimer
            </button>
            <div id="b-a1" class="usa-accordion__content">
               <p> The information you have accessed or received is provided “as is” for informational purposes only. The Federal
                Privacy Council does not provide any warranties of any kind regarding this information. In no event shall the 
                U.S. Government or its contractors or subcontractors be liable for any damages including but not limited to, 
                direct, indirect, special, or consequential damages, arising out of, resulting from, or in any way connected 
                with this information, whether or not based upon warranty, contract, tort, or otherwise, whether or not arising 
                out of negligence, and whether or not injury was sustained from, or arose out of the results of, or reliance 
                upon the information.</p>
                <p>In addition, the Federal Privacy Council does not endorse or recommend any commercial product or service, including
                any subjects of analysis. The inclusion of any specific commercial products, processes, or services by service mark, 
                manufacturer, or otherwise, does not constitute or imply the endorsement or recommendation by the Federal Privacy 
                Council.</p>
                <p> The Federal Privacy Council does not have authority to provide legal advice, set policies for the Federal Government,
                or represent the views of the Federal Government or the views of any agency within the Federal Government; accordingly, 
                the information on this website in no way constitutes policy or legal advice, nor does it in any way reflect Federal 
                Government views or opinions. Agencies shall consult law, regulation, and policy, including Office of Management and 
                Budget guidance, to understand applicable requirements.</p>
            </div>
        </li>
        <li>
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3">
                Linking Policy</button>
            <div id="b-a3" class="usa-accordion__content">
                <p>  <b>Links to Other Sites</b> FPC.gov includes hypertext links or pointers to information created and maintained by other
                Federal Government agencies and/or other public or private organizations. FPC.gov provides these links and pointers 
                for your information and convenience. If you click on a link to an outside or third-party website , you will leave 
                the FPC.gov website, and your activity on any third-party sites will be governed by the third parties’ privacy and 
                security policies.</p>
                <p>Please note, the Federal Privacy Council is not responsible for the content of any third-party website. The inclusion
                of links and pointers to third-party websites is not intended to assign importance to those sites or the information 
                contained on those sites, and should not be considered an endorsement or a recommendation by the Federal Privacy Council 
                of any views or materials offered by these sites. The Federal Privacy Council does not control or guarantee the accuracy, 
                relevance, timeliness, or completeness of the information contained on any linked site.<br>
                <b>Linking to FPC.gov</b></p>
                <p>FPC.gov is maintained by the Federal Privacy Council.</p>
                <p>This is a public domain website, which means you may link to FPC.gov at no cost and without specific permission.</p>
                <p>If you choose to link to this site, we suggest including a description: FPC.gov is the website of the Federal Privacy Council.<br>
                -or-<br>
                FPC.gov is the website of the Federal Privacy Council. This website includes a compilation of select information related to 
                the responsibilities and best practices for Federal Government agencies managing information resources that involve personally 
                identifiable information (PII) and privacy requirements set forth in laws, guidance, standards, and policies.</p>
            </div>
        </li>
        <li>
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2">
                Materials on this Website
            </button>
            <div id="b-a2" class="usa-accordion__content">
                <p>The materials on this website were compiled by the Federal Privacy Council and include publicly available
                information about the Federal Privacy Council and some of its ongoing initiatives. This website also provides 
                a partial inventory of laws, policies, and best practices related to the creation, collection, use, processing, 
                storage, maintenance, dissemination, disclosure, and disposal of personally identifiable information (PII) by 
                agencies within the Federal Government.</p>
                <p>This website does not provide a complete inventory of all the statutory and policy requirements associated with
                managing PII and protecting privacy across the Federal Government. Not all requirements or best practices on this 
                website apply to all agencies. The information contained on this website may not reflect current legal developments 
                or agency-specific requirements and may not be accurate or complete.</p>
                <p>This website is not intended to compile or include requirements or best practices that relate to the private sector.
                Some of the materials on this website may apply or be of interest to entities outside of the Federal Government; 
                but, the focus of this website is exclusive to Federal agency privacy professionals and the requirements and best 
                practices that apply to agencies in the Federal Government.</p>
            </div>
        </li>              
    </ul>
</div>
