{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}


<section>
    <div class="champion" id="carousel-1" auto-scroll="9000">
        <section class="carousel-screen">
            <div class="grid-container display-flex">
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/fpc_logo.png" alt="Federal Privacy Council" class="height-10" /><br />
                    Federal Privacy Council
                </div>
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/state_department_seal.png" alt="U.S. Department of State" class="height-10" /><br />
                    U.S. Department of State
                </div>
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/education-logo-color.png" alt="U.S. Department of Education" class="height-10" /><br />
                    U.S. Department of Education
                </div>
            </div>
        </section>
        <section class="carousel-screen">
            <div class="grid-container display-flex">
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/dod-seal.png" alt="U.S. Department of Defense" class="height-10" /><br />
                    U.S. Department of Defense
                </div>
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/doe-logo-color.png" alt="U.S. Department of Energy" class="height-10" /><br />
                    U.S. Department of Energy
                </div>
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/va-logo-color.png" alt="U.S. Department of Veterans Affairs" class="height-10" /><br />
                    U.S. Department of Veterans Affairs
                </div>
            </div>
        </section>
        <section class="carousel-screen">
            <div class="grid-container display-flex">
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/doti-logo.PNG" alt="U.S. Department of Interior" class="height-10" /><br />
                    U.S. Department of Interior
                </div>
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/doc-logo.png" alt="U.S. Department of Commerce" class="height-10" /><br />
                    U.S. Department of Commerce
                </div>
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/fhfa-logo.png" alt="Federal Housing Finance Agency" class="height-10" /><br />
                    Federal Housing Finance Agency
                </div>
            </div>
        </section>
        <section class="carousel-screen">
            <div class="grid-container display-flex">
                <div class="desktop:grid-col-4 tablet:grid-col-6 container members-list padding-y-2 card__members text-center">
                    <img src="{{site.baseurl}}/assets/img/cftc_seal.png" alt="Commodity Futures Trading Commission" class="height-10" /><br />
                    Commodity Futures Trading Commission
                </div>
            </div>
        </section>
        <div class="left-arrow">
            <span class="chevron left" aria-label="Previous slide" tabindex=0></span>
        </div>

        <div class="right-arrow">
            <span class="chevron right" aria-label="Next slide" tabindex=0></span>
        </div>
    </div>
</section>
