<div class="top">
    <div class="grid-container">
<div class="carousel grid-container backgroundCover">
    <div class="item">
        <div class="grid-row padding-bottom-7">
            <h1 class="font-ui-xl margin-top-0">Learn about Federal Privacy</h1>
            <div class="grid-col-10">
            <p class="font-ui-md margin-top-0">We've got a new look! Explore our new features and learn how the CFO Council tackles the most pressing issues
                in the Federal Financial Management.</p></div>
            <div class="grid-col-2 text-right">
            <a class="text-no-underline text-primary usa-button bg-white border-0 padding-2" href="">Video Tour</a></div></div>
    </div>
    <div class="item slick-slide" aria-hidden="true">
        <div class="grid-row padding-bottom-7">
            <h1 class="font-ui-xl margin-bottom-1">Video 1 header</h1>
            <p class="font-ui-md margin-top-0">The first video text</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="">Video 1</a></div>
    </div>
    <div class="item slick-slide" aria-hidden="true">
        <div class="grid-row padding-bottom-7">
            <h1 class="font-ui-xl margin-bottom-1">Video 2 header</h1>
            <p class="font-ui-md margin-top-0">The second video text</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="">Video 2</a></div>
    </div>
    <div class="item slick-slide"  aria-hidden="true">
        <div class="grid-row padding-bottom-7">
            <h1 class="font-ui-xl margin-bottom-1">Video 3 header</h1>
            <p class="font-ui-md margin-top-0">The third video text</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="">Video 3</a></div>
    </div>

</div>
</div>
</div>