<div class="top">
    <div class="grid-container">
<div class="carousel grid-container backgroundCover">
    <div class="item">
        <div class="grid-row padding-bottom-7">
            <p class="font-ui-lg margin-top-0 text-bold">Learn about Federal Privacy</p>
            <div class="desktop:grid-col-10">
            <p class="font-ui-md margin-top-0 line-height-mono-4 text-bold">Interested in learning more about how agencies protect your privacy? Explore our collection of short videos to learn more about roles in Federal privacy, the Privacy Act, and privacy impact assessments.
             </p></div>
            <div class="desktop:grid-col-2 text-center">
            <a class="text-no-underline text-primary usa-button bg-white border-0 padding-2" href="{{site.baseurl}}/learn-about-federal-privacy-program/">Videos</a></div></div>
    </div>
    <div class="item">
        <div class="grid-row padding-bottom-7">
            <h1 class="font-ui-lg margin-top-0 text-bold">Roles in Federal Privacy</h1>
            <div class="desktop:grid-col-10">
                <p class="font-ui-md margin-top-0 line-height-mono-4 text-bold">Learn about how the Federal Privacy Council, Senior Agency Officials for Privacy, and agency privacy programs strive to preserve the public’s trust in government by upholding the highest standards for collecting, maintaining, using, and disseminating information about people.
                </p></div>
            <div class="desktop:grid-col-2 text-center">
                <a class="text-no-underline text-primary usa-button bg-white border-0 padding-2" href="{{site.baseurl}}/roles-in-federal-privacy/">Video</a></div></div>
    </div>
    <div class="item">
        <div class="grid-row padding-bottom-7">
            <h1 class="font-ui-lg margin-top-0 text-bold">The Privacy Act of 1974</h1>
            <div class="desktop:grid-col-10">
                <p class="font-ui-md margin-top-0 line-height-mono-4 text-bold">Learn about a cornerstone of Federal privacy law, the Privacy Act of 1974, and the rights and protections it provides for individuals whose information agencies require to carry out their mission of serving the American people.</p></div>
            <div class="desktop:grid-col-2 text-center">
                <a class="text-no-underline text-primary usa-button bg-white border-0 padding-2" href="{{site.baseurl}}/privacy-act-1974/">Video</a></div></div>
    </div>
    <div class="item">
        <div class="grid-row padding-bottom-7">
            <h1 class="font-ui-lg margin-top-0 text-bold">Privacy Impact Assessments</h1>
            <div class="desktop:grid-col-10">
                <p class="font-ui-md margin-top-0 line-height-mono-4 text-bold">Learn about privacy impact assessments – one of the most valuable tools Federal agencies use to manage privacy risks and ensure compliance with applicable privacy requirements.
                </p></div>
            <div class="desktop:grid-col-2 text-center">
                <a class="text-no-underline text-primary usa-button bg-white border-0 padding-2" href="{{site.baseurl}}/privacy-impact-asessments/">Video</a></div></div>
    </div>

    <div class="item">
        <div class="grid-row padding-bottom-7">
            <h1 class="font-ui-lg margin-top-0 text-bold">Fair Information Practice Principles</h1>
            <div class="desktop:grid-col-10">
                <p class="font-ui-md margin-top-0 line-height-mono-4 text-bold">Learn about the Fair Information Practice Principles (FIPPs), which serve as the foundation for privacy laws and policies applicable to Federal agencies. 
                </p></div>
            <div class="desktop:grid-col-2 text-center">
                <a class="text-no-underline text-primary usa-button bg-white border-0 padding-2" href="{{site.baseurl}}/fair-info-practice-principles/">Video</a></div></div>
    </div>


</div>
</div>
</div>
