<div class="carousel top backgroundCover" style="background: url('{{ site.baseurl }}/assets/img/filler_image.jpg') no-repeat; background-size: 100% 100%; padding:45px 0; color:#fff;background-color: #000;">
    <div class="item">
        <div class="grid-col-10 grid-offset-1">
            <h1 class="font-ui-xl margin-bottom-1">Learn about Federal Privacy</h1>
            <p class="font-ui-md margin-top-0">We've got a new look! Explore our new features and learn how the CFO Council tackles the most pressing issues
                in the Federal Financial Management.</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="">Video Tour</a></div>
    </div>
    <div class="item slick-slide" aria-hidden="true">
        <div class="grid-col-10 grid-offset-1">
            <h1 class="font-ui-xl margin-bottom-1">Video 1 header</h1>
            <p class="font-ui-md margin-top-0">The first video text</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="">Video 1</a></div>
    </div>
    <div class="item slick-slide" aria-hidden="true">
        <div class="grid-col-10 grid-offset-1">
            <h1 class="font-ui-xl margin-bottom-1">Video 2 header</h1>
            <p class="font-ui-md margin-top-0">The second video text</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="">Video 2</a></div>
    </div>
    <div class="item slick-slide"  aria-hidden="true">
        <div class="grid-col-10 grid-offset-1">
            <h1 class="font-ui-xl margin-bottom-1">Video 3 header</h1>
            <p class="font-ui-md margin-top-0">The third video text</p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="">Video 3</a></div>
    </div>
</div>
