{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="carousel-container">
    <div class="carousel" id="carousel-1" auto-scroll="9000">
        <h1 class="usa-sr-only">Federal Privacy Council</h1>
        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background7">
            <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout card-style">
                        <p class="text-gray-70 font-sans-md text-bold text">The Federal Privacy Council is proud to support Data Privacy Week 2023. This page contains:</p>
                        <ul>
                            <li>Useful resources</li>
                            <li>Events hosted by the Federal community</li>
                            <li>Data Privacy Champions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background8">
            <!-- <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout card-style">
                        <h2 class="usa-hero__heading">
                            <span class="font-ui-lg text-normal text-primary-darker text-bold">Collaboration Index for Security and Privacy Controls</span>
                        </h2>
                        <p class="text-gray-70 font-sans-md text-bold text">A guide to help information security programs and privacy programs understand the level of collaboration that may be appropriate when implementing controls.</p>
                        <a class="usa-button usa-button--hover carousel-button" aria-label="Read more about Collaboration Index for Security and Privacy Controls" href="{{ site.baseurl }}/assets/pdf/Collaboration Index for Security and Privacy Controls FINAL.pdf">Read More</a>
                    </div>
                </div>
            </div> -->
        </section>

        <section class="circle-container">
            <div class="circle" aria-label="slide 1" tabindex=0></div>
            <div class="circle" aria-label="slide 2" tabindex=0></div>
        </section>
        <div class="left-arrow">
            <span class="chevron left" aria-label="Previous slide" tabindex=0></span>
        </div>
        <div class="right-arrow">
            <span class="chevron right" aria-label="Next slide" tabindex=0></span>
        </div>
    </div>
</section>
