<footer class="usa-footer usa-footer--big">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#" class="usa-button usa-button--outline border-0">Return to top</a>
  </div>
  <div class="usa-footer__primary-section padding-y-5">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <nav class="usa-footer__nav" aria-label="Footer navigation">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content">
                  <ul class="usa-list usa-list--unstyled padding-y-2">
                    <li class="usa-footer__secondary-link"><a href="https://www.cio.gov">Federal <abbr title="Chief Information Officers">CIO</abbr> Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.pic.gov" ><abbr title="Performance Improvement Council">Perf. Improvement Council</abbr></a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.cdo.gov"><abbr title="Chief Data Officer">CDO.gov</abbr></a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content">
                  <ul class="usa-list usa-list--unstyled padding-y-2">
                    <li class="usa-footer__secondary-link"><a href="https://www.cfo.gov">Federal <abbr title="Chief Financial Officers">CFO</abbr> Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.chcoc.gov/">Federal <abbr title="Chief Human Capital Officers">CHCO</abbr> Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://cao.gov/">Federal <abbr title="Chief Acquisition Officers">CAO</abbr> Council</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content">
                  <ul class="usa-list usa-list--unstyled padding-y-2">
                    <li class="usa-footer__secondary-link"><a href="{{site.baseurl}}/privacy-policy/">Privacy Statement</a></li>
                    <li class="usa-footer__secondary-link"><a href="{{site.baseurl}}/accessibility-policy/">Accessibility Policy</a></li>
                    <li class="usa-footer__secondary-link"><a href="mailto:privacy.council@gsa.gov">Contact Us</a></li>
                  </ul>
                </section>
              </div>

            </div>
          </nav>
        </div>


      </div>
    </div>
  </div>
  <!--<div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="{{site.baseurl}}/assets/img/fpc_logo.png" alt="FPC Logo">
          </div>

        </div>

      </div>
      <div class="usa-footer__contact-links mobile-lg:grid-col-6">
        <h3 class="usa-footer__contact-heading">Federal Privacy Council</h3>
        <address class="usa-footer__address">
          <div class="usa-footer__contact-info grid-row grid-gap">
            <div class="grid-col-auto">
              <a href="tel:1-800-555-5555">(800) CALL-GOVT</a>
            </div>
            <div class="grid-col-auto">
              <a href="mailto:info@agency.gov">info@agency.gov</a>
            </div>
          </div>
        </address>
      </div>
    </div>
  </div>-->
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="{{site.baseurl}}/assets/img/fpc_logo.png" alt="">
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          
          <!--<h3 class="usa-footer__contact-heading">Federal Privacy Council</h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">              
              <div class="grid-col-auto">
                <a href="mailto:info@agency.gov">privacy.council@gsa.gov</a>
              </div>              
            </div>            
          </address>-->
          <div class="usa-footer__secondary-section">
            <!--<nav class="usa-footer__nav" aria-label="Footer navigation">-->
              <div class="display-flex flex-row flex-justify-end">
                <div class="grid-col-auto"><a href="{{site.baseurl}}/about-this-site">About this Site</a></div>
              </div>
           <!-- </nav> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
