<footer class="usa-footer usa-footer--big">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#" class="usa-button usa-button--outline border-0">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <nav class="usa-footer__nav" aria-label="Footer navigation">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://www.cio.gov">Federal CIO Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.pic.gov">Perf. Improvement Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.performance.gov">Performance.gov</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="https://www.cfo.gov">Federal CFO Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://www.chcoc.gov/">Federal CHCO Council</a></li>
                    <li class="usa-footer__secondary-link"><a href="https://cao.gov/">Federal CAO Council</a></li>
                  </ul>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-4">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="{{site.baseurl}}/privacy-policy/">Privacy Statement</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Accessibility Policy</a></li>
                    <li class="usa-footer__secondary-link"><a href="mailto:privacy.council@gsa.gov">Contact Us</a></li>
                  </ul>
                </section>
              </div>

            </div>
          </nav>
        </div>


      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="{{site.baseurl}}/assets/img/fpc_logo.png" alt="FPC Logo">
          </div>

        </div>

      </div>
    </div>
  </div>
</footer>
