{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="carousel-container">
    <div class="carousel" id="carousel-1" auto-scroll="9000">
        <h1 class="usa-sr-only">Federal Privacy Council</h1>
        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background4">
            <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout card-style">
                        <h2 class="usa-hero__heading">
                            <span class="font-ui-lg text-normal text-primary-darker text-bold">Welcome to FPC.gov</span>
                        </h2>
                        <p class="text-gray-70 font-sans-md text-bold text">The Federal Privacy Council (FPC) was established in <a href="https://www.govinfo.gov/content/pkg/FR-2016-02-12/pdf/2016-03141.pdf">Executive Order 13719</a> on February 9, 2016. The Federal Privacy Council is the principal interagency forum to improve the privacy practices of agencies and entities acting on their behalf.</p>
                        <a class="usa-button usa-button--hover carousel-button" aria-label="Read more about the FPC Vision and purpose" href="{{ site.baseurl }}/vision-and-purpose/">Read more</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background6">
            <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout card-style">
                        <h2 class="usa-hero__heading">
                            <span class="font-ui-lg text-normal text-primary-darker text-bold">Collaboration Index for Security and Privacy Controls</span>
                        </h2>
                        <p class="text-gray-70 font-sans-md text-bold text">A guide to help information security programs and privacy programs understand the level of collaboration that may be appropriate when implementing controls.</p>
                        <a class="usa-button usa-button--hover carousel-button" aria-label="Read more about Collaboration Index for Security and Privacy Controls" href="{{ site.baseurl }}/assets/pdf/Collaboration Index for Security and Privacy Controls FINAL.pdf">Read More</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background5">
            <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout card-style">
                        <h2 class="usa-hero__heading">
                            <span class="font-ui-lg text-normal text-primary-darker text-bold">New FIPPs Icons</span>
                        </h2>
                        <p class="text-gray-70 font-sans-md text-bold text">
                            The icons for each of the 9 Fair Information Practice Principles are now available
                            for download!
                        </p>
                        <a class="usa-button usa-button--hover carousel-button" aria-label="Download FIPPS icons" href="{{ site.baseurl }}/resources/fipps">Read more</a>
                    </div>
                </div>
            </div>
        </section>


        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background2">
            <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout card-style">
                        <h2 class="usa-hero__heading">
                            <span class="font-ui-lg text-normal text-primary-darker text-bold">New FPC SORN Dashboard</span>
                        </h2>
                        <p class="text-gray-70 font-sans-md text-bold text">Just Launched! The Federal Privacy Council released a new online search tool to quickly locate the Privacy Act System of Record Notices (SORNs) published by Federal agencies. </p>
                        <a class="usa-button usa-button--hover carousel-button" aria-label="New FPC SORN Dashboard" href="https://sorndashboard.fpc.gov/">Get started</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="carousel-screen usa-graphic-list padding-y-4 abstract-background3">
            <div class="grid-container">
                <div class="grid-gap-banner">
                    <div class="usa-hero__callout card-style">
                        <h2 class="usa-hero__heading">
                            <span class="font-ui-lg text-normal text-primary-darker text-bold">New Fair Information Practice Principles Video</span>
                        </h2>
                        <p class="text-gray-70 font-sans-md text-bold text">Just Released! The Federal Privacy Council released a new educational video about the Fair Information Practice Principles, which serve as the foundation for privacy laws and policies applicable to Federal agencies.</p>
                        <a class="usa-button usa-button--hover carousel-button" aria-label="Read more about Fair Information Practice Principles" href="{{ site.baseurl }}/fair-info-practice-principles/">Watch</a>
                    </div>
                </div>
            </div>
        </section>



        <section class="circle-container">
            <div class="circle" aria-label="slide 1" tabindex=0></div>
            <div class="circle" aria-label="slide 2" tabindex=0></div>
            <div class="circle" aria-label="slide 3" tabindex=0></div>
            <div class="circle" aria-label="slide 4" tabindex=0></div>
            <div class="circle" aria-label="slide 5" tabindex=0></div>
            <div class="circle" aria-label="slide 6" tabindex=0></div>
        </section>
        <div class="left-arrow">
            <span class="chevron left" aria-label="Previous slide" tabindex=0></span>
        </div>
        <div class="right-arrow">
            <span class="chevron right" aria-label="Next slide" tabindex=0></span>
        </div>
    </div>
</section>
