{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-section--light">
    <div class="grid-container" style=" max-width: 40%; padding:45px 0; color:#fff;background-color: #000;">
        <div class="grid-col-10 grid-offset-1">
            <h1 class="font-ui-xl margin-bottom-1">Protecting an individual's privacy is of utmost importance</h1>
            <p class="font-ui-md margin-top-0">Privacy has been at the heart of our democracy from the inception, and we need it now more than ever. </p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="">Executive Order 13719</a></div>
    </div>
</section>
