{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-section--light">
    <div class="grid-container" style=" max-width: 40%; padding:45px 0; color:#fff;background-color: #000;">
<!--        <div class="usa-hero__callout grid-col-8" style="min-width: 40px">-->
<!--            <h2 class="usa-hero__heading"><span class="usa-hero__heading&#45;&#45;alt">Protecting an individual's privacy is of utmost importance</span>-->
<!--            </h2>-->
<!--            <p>Privacy has been at the heart of our democracy from the inception, and we need it now more than ever</p>-->
<!--            <a class="usa-button" href="javascript:void(0)">Executive Order 13719</a>-->
<!--        </div>-->
        <div class="grid-col-10 grid-offset-1">
            <h1 class="font-ui-xl margin-bottom-1">Protecting an individual's privacy is of utmost importance</h1>
            <p class="font-ui-md margin-top-0">Privacy has been at the heart of our democracy from the inception, and we need it now more than ever. </p>
            <a class="margin-top-1 text-no-underline text-white margin-bottom-1 usa-button usa-button--secondary bg-red border-0 padding-2" href="">Executive Order 13719</a></div>
    </div>
</section>
