   
   <H2 class="sub_section_header" style="text-underline: none;"></H2>
<DIV class="content">
<BR>
             

<H4><STRONG>Overview</STRONG></H4>

               
<P>

               OVERVIEW TEXT


<BR><BR>
Source: <BR>
<BR>
<BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

   
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a300">
                Helpful Tips

</button>
    <div id="b-a300" class="usa-accordion__content">
                                                                                                    
                   TIPS TEXT                              
                                                
    </div>
  </li>
                    
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a301">
      Regulations
    </button>
    <div id="b-a301" class="usa-accordion__content">

                                                  
                                                  <p>
                                                     Regulations Text
                                                  
                                                  

<BR>
<A HREF="[ *** URL *** ]">[ *** REG  ***]</A><BR>      
<A HREF="[ *** URL *** ]">[ *** REG  ***]</A><BR>      
<A HREF="[ *** URL *** ]">[ *** REG  ***]</A><BR>      

</p>
                                                 
                                                 
               </div>
           
  </li>
  
  
  <!-- STATUTORY IMPLEMENTATION GUIDANCE -->
                    
                                                 <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a302">
Statutory Implementation Guidance
</button>
    <div id="b-a302" class="usa-accordion__content">

                              
                       <P><STRONG>[ ***AGENCY*** ]</STRONG></P>
                       
                       
                        Statutory Implementation Text

                       
<P><A href="[ *** URL ***]" 
target="_blank"></A><BR>
<A href="[ *** URL ***]" 
target="_blank"></A><BR>
<A href="[ *** URL ***]" 
target="_blank"></A><BR>
<A href="[ *** URL ***]" 
target="_blank"></A><BR>
               
               </P>
                          
                                                 
                                                 
    </div>
                                                                                      
  </li>


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a303">
      Supplemental Material
    </button>
    <div id="b-a303" class="usa-accordion__content">
 
<P><STRONG>[ *** AGENCY *** ]</STRONG></P>
<P><EM><STRONG>{ *** COMPONENT ***}</STRONG></EM></P>
<UL>
  <LI><A href="" 
  target="_blank"></A></LI>
  
</UL>


<P><EM><STRONG>[ *** COMPONENT *** ]</STRONG></EM></P>
<UL>
  <LI><A HREF="[ *** URL ***]">[*** MATERIAL ***]</A></LI></UL>
                                                 
    </div>
    
                              
                              
                                                              
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a300">
                Executive Orders, Memoranda, and Directives

</button>
    <div id="b-a300" class="usa-accordion__content">
                                       
    <p>                                       
                  EXECUTIVE ORDERS TEXT      
                                                  
                                             
     

                                                  
       
       </p>
       
    </div>
  </li>
 
                              
                              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
