   
   <H2 class="sub_section_header" style="text-underline: none;">Public Health Service Act (Certificates of Confidentiality)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap6A.pdf')" 
title="(opens New Window)">42 U.S.C. Ch. 6A</A></H5>
               <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap6A-subchapII-partA-sec241.pdf">42 U.S.C. § 241(d)  Protection of privacy of individuals who are research subjects</A><BR>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

            Under section 301(d) of the Public Health Service Act (42 U.S.C. § 241(d)), the Secretary of the U.S. Department of Health and Human Services may authorize persons engaged in biomedical, behavioral, clinical, or other research to protect the privacy of individuals who are the subjects of that research. This authority has been delegated to the National Institutes of Health (NIH). Persons authorized by the NIH to protect the privacy of research subjects may not be compelled in any Federal, State, or local civil, criminal, administrative, legislative, or other proceedings to identify them by name or other identifying characteristic.


<BR><BR>
Source: <A HREF="https://humansubjects.nih.gov/coc/background">Certificates of Confidentiality Background</A><BR>

</P>
</DIV>                                                                                                  
                

         
