   
   <H2 class="sub_section_header" style="text-underline: none;">Intelligence Reform and Terrorism Prevention Act of 2004 (IRTPA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/PLAW-108publ458/pdf/PLAW-108publ458.pdf')" 
title="(opens New Window)">Pub. L. 108-458</A></H5>
               <A HREF="https://www.dni.gov/index.php/who-we-are/organizations/ogc/ogc-related-menus/ogc-related-content/ic-legal-reference-book">Office of the Director of National Intelligence Legal Reference Book </A><BR>

<H4><STRONG>Overview</STRONG></H4>

               
<P>
<A HREF="https://it.ojp.gov/PrivacyLiberty/authorities/statutes/1282">IRTPA</A> addresses many different facets of information gathering and the intelligence community.  IRPTA’s eight titles reflect its broad scope:
<UL>
<LI>Title I – Reform of the Intelligence Community</A></LI>
<LI>Title II – Federal Bureau of Investigation</A></LI>
<LI>Title III – Security Clearances</A></LI>
<LI>Title IV – Transportation Security</A></LI>
<LI>Title V – Border Protection, Immigration, and Visa Matters</A></LI>
<LI>Title VI – Terrorism Prevention</A></LI>
<LI>Title VII – Implementation of 9/11 Commission Recommendations</A></LI>
<LI>Title VIII – Other Matters, including a requirement that the Department of Homeland Security ensure that the civil rights and civil liberties of persons are not diminished by efforts, activities, and programs aimed at securing the homeland.
</UL>



</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

   
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a730">
                Helpful Tips

</button>
    <div id="b-a730" class="usa-accordion__content">

More information can be found in the following resources:

<UL>
<LI>Sec. 1011. Reorganization and improvement of management of intelligence community. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap44-subchapI.pdf">50 U.S.C. § 3021 et seq</A>)</LI>
<LI>Sec. 103D. Civil Liberties Protection Officer. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap44-subchapI-sec3029.pdf">50 U.S.C. § 3029</A>)</LI>
<LI>Sec. 1016. Information sharing. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1-subchapVIII-partI-sec485.pdf">6 U.S.C. § 485</A>)</LI>
<LI>Sec. 1061. Privacy and Civil Liberties Oversight Board. (<A HREF="https://www.pclob.gov/library/42USC2000ee-PCLOB_Enabling_Statute.pdf">42 U.S.C. § 2000ee et seq</A>)</LI>
<LI>Sec. 1062. Sense of Congress on Designation of Privacy and Civil Liberties Officers. (<A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-108publ458/pdf/PLAW-108publ458.pdf">Pub.L. 108-458</A>)</LI>
<LI>Sec. 4012. Advanced airline passenger prescreening. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title49/pdf/USCODE-2014-title49-subtitleVII-partA-subpartiii-chap449-subchapI-sec44903.pdf">49 U.S.C. § 44903(j)(2)</A>)</LI>
<LI>Sec. 6002. Additional semiannual reporting requirements under the Foreign Intelligence Surveillance Act of 1978. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapV.pdf">50 U.S.C. § 1871</A>)</LI>
<LI>Sec. 7212. Driver’s licenses and personal identification cards. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title49/pdf/USCODE-2014-title49-subtitleVI-partA-chap303-sec30301.pdf">49 U.S.C. § 30301 note</A>)</LI>
<LI>Sec. 8302. Mission of Department of Homeland Security. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1-subchapI-sec111.pdf">6 U.S.C. § 111(b)(1)</A>)</LI>
<LI>Sec. 8303. Officer for Civil Rights and Civil Liberties. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1-subchapVII-sec345.pdf">6 U.S.C. § 345(a)</A>)</LI>
<LI>Sec. 8304. Protection of civil rights and civil liberties by Office of Inspector General. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title5/pdf/USCODE-2015-title5-app-inspector.pdf">5 U.S.C. App. Inspector General Act of 1978</A>)</LI>
<LI>Sec. 8305. Privacy officer. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1-subchapII-partC-sec142.pdf">6 U.S.C. § 142</A>)</LI>
</UL>                             
                                                
    </div>
  </li>
                    
                    
                    
             
                              
                              
                                                              
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a731">
                Executive Orders, Memoranda, and Directives

</button>
    <div id="b-a731" class="usa-accordion__content">
                                       
    <p>                                       
                     <UL>                        
<LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2008-08-04/pdf/E8-17940.pdf">United States Intelligence Activities, Exec. Order No. 12333 (46 FR 59941, Dec. 08, 1981), amended by Exec. Order 13284 (68 FR 4057, Jan. 28, 2003), Exec. Order 13355 (69 FR 53593, Sept. 1, 2004), and Exec. Order 13470 (73 FR 45325, Aug. 4, 2008)</A></LI>     
<LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2005-10-27/pdf/05-21571.pdf">Further Strengthening the Sharing of Terrorism Information to Protect Americans, Exec. Order No. 13388 (70 FR 62023, Oct. 27, 2005)</A></LI>
<LI><A HREF="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2016/m_16_24_0.pdf">OMB Memorandum M-16-24, Role and Designation of Senior Agency Officials for Privacy (Sept. 2016) </A></LI>                                                  
       
                                                                                                    </UL>
                                                                                                    
       </p>
       
    </div>
  </li>
 
                              
                              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
