   
   <H2 class="sub_section_header" style="text-underline: none;">Implementing Recommendations of the 9/11 Commission Act of 2007</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/PLAW-110publ53/pdf/PLAW-110publ53.pdf')" 
title="(opens New Window)">6 U.S.C. 101 et seq</A></H5>
           <I>See also:</I> <A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-110publ53/pdf/PLAW-110publ53.pdf">Pub. Law 110-153 and</A>
           <A HREF="https://www.dni.gov/index.php/who-we-are/organizations/ogc/ogc-related-menus/ogc-related-content/ic-legal-reference-book">the Office of the Director of National Intelligence Legal Reference Guide</A>
           <BR>

<H4><STRONG>Overview</STRONG></H4>
</B></STRONG>
</B></STRONG>
 </B></STRONG>                                                                                                                          
<P>

          <A HREF="https://it.ojp.gov/PrivacyLiberty/authorities/statutes/1283">This Act</A> amended section 1016 of Intelligence Reform and Terrorism Prevention Act (IRTPA) and amended the Homeland Security Act of 2002 to expand and further refine the scope of the Information Sharing Environment (ISE).
</B></STRONG></B></STRONG>
</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

   
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a710">
                Helpful Tips

</button>
    <div id="b-a710" class="usa-accordion__content">
            
 More information can be found in the following resources:
<UL>
<LI>Sec. 504. Information sharing. <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1-subchapVIII-partI-sec485.pdf">(6 U.S.C. § 485)</A></LI>
<LI>Sec. 511. Department of Homeland Security State, Local, and Regional Fusion Center Initiative. <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1-subchapII-partA.pdf">(6 U.S.C. § 121 et seq)</A></LI>
<LI>Sec. 801. Modification of authorities relating to Privacy and Civil Liberties Oversight Board. <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1-subchapII-partA.pdf">(5 U.S.C. § 601 note)</A></LI>
<LI>Sec. 802. Department Privacy Officer. <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1-subchapII-partC-sec142.pdf">(6 U.S.C. § 142)</A></LI>
<LI>Sec. 803. Privacy and Civil Liberties Officers. <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title42/pdf/USCODE-2014-title42-chap21E-sec2000ee-1.pdf">(42 U.S.C. § 2000ee-1)</A></LI>
<LI>Sec. 804. Federal Agency Data Mining Reporting Act of 2007. <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title42/pdf/USCODE-2014-title42-chap21E-sec2000ee-3.pdf">(42 U.S.C. § 2000ee-3)</A></LI>
<LI>Sec. 1606. Appeal and redress process for passengers wrongly delayed or prohibited from boarding a flight. <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title49/pdf/USCODE-2014-title49-subtitleVII-partA-subpartiii-chap449-subchapI-sec44926.pdf">(49 U.S.C. § 44926)</A></LI>
</UL>
            
            
            
                                                
    </div>
  </li>
                    
                    
                    
              
   
                              
                              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
