   
   <H2 class="sub_section_header" style="text-underline: none;">Education Sciences Reform Act of 2002 (ESRA)   </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title20/pdf/USCODE-2015-title20-chap76-subchapI.pdf')" 
title="(opens New Window)">20 U.S.C. §§ 9501-9584</A></H5>
<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title20/pdf/USCODE-2015-title20-chap76-subchapI-partF-sec9573.pdf">20 U.S.C. § 9573 Confidentiality</A>

<H4><STRONG>Overview</STRONG></H4>

               
<P>
<A HREF="https://ies.ed.gov/">Institute of Education Sciences (IES)</A>. The mission of IES is to provide rigorous evidence on which to ground education practice and policy. This is accomplished through the work of its <A HREF="https://www2.ed.gov/about/offices/list/ies/index.html">four centers</A>: the National Center for Education Evaluation, the National Center for Education Research, the National Center for Education Statistics, and the National Center for Special Education Research.
<BR><BR>
Section 208 of the <A HREF="https://www2.ed.gov/policy/rschstat/leg/PL107-279.pdf">Education Sciences Reform Act of 2002</A> states, “All collection, maintenance, use, and wide dissemination of data by the Institute, including each office, board, committee, and center of the Institute, shall conform with the requirements of section 552a of title 5, United States Code, the confidentiality standards of subsection (c) of this section, and sections 444 and 445 of the General Education Provisions Act (20 U.S.C. §§ 1232g, 1232h).”
<BR><BR>
Further that “the Director shall ensure that all individually identifiable information about students, their academic achievements, their families, and information with respect to individual schools, shall remain confidential in accordance with section 552a of title 5, United States Code, the confidentiality standards of subsection (c) of this section, and sections 444 and 445 of the General Education Provisions Act (20 U.S.C. §§ 1232g, 1232h).”
<BR><BR>
The prohibitions of <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title20/pdf/USCODE-2015-title20-chap76-subchapI-partF-sec9573.pdf">Section 9573 of Title 20</A> include:

<UL>
<LI>No person may use any individually identifiable information furnished…for any purpose other than a research, statistics,
or evaluation purpose.</LI>
<LI>No person may make any publication whereby the data furnished by any particular person…can be identified.</LI>
<LI>No person may permit anyone other than the individuals authorized by the Director to examine the individual reports.</LI>

</UL>


</P>
</DIV>                                                                                                  
                

