   
   <H2 class="sub_section_header" style="text-underline: none;">Uniting and Strengthening America by Fulfilling Rights and Ensuring Effective Discipline Over Monitoring Act of 2015 (USA FREEDOM Act)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/PLAW-114publ23/pdf/PLAW-114publ23.pdf')" 
title="(opens New Window)">Pub.L. 114-23, 129 Stat. 268</A></H5>
             

<H4><STRONG>Overview</STRONG></H4>

               
<P>

The ‘‘Uniting and Strengthening America by Fulfilling Rights and Ensuring Effective Discipline Over Monitoring Act of 2015’’ or the ‘‘USA FREEDOM Act of 2015’’ was enacted “to reform the authorities of the Federal Government to require the production of certain business records [e.g., call detail records], conduct electronic surveillance, use pen registers and trap and trace devices, and use
other forms of information gathering for foreign intelligence, counterterrorism, and criminal purposes, and for other purposes.”


<BR><BR>
Source: <A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-114publ23/pdf/PLAW-114publ23.pdf">Pub.L. 114-23, 129 Stat. 268</A><BR>


</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

         
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a575">
                Helpful Tips

</button>
    <div id="b-a575" class="usa-accordion__content">
                                                                                                    
<A HREF="https://www.congress.gov/bill/114th-congress/house-bill/2048/text">The USA FREEDOM Act</A> was enacted June 2, 2015, amending the Foreign Intelligence Surveillance Act of 1978 (FISA).
<BR><BR>

<UL>
<LI>TITLE I—FISA Business Records Reforms</LI>
<LI>TITLE II— FISA Pen Register and Trap and Trace Device Reform</LI>
<LI>TITLE III— FISA Acquisitions Targeting Persons outside the United States</LI>
<LI>TITLE IV— Foreign Intelligence Court Reforms</LI>
<LI>TITLE V— National Security Letter Reform</LI>
<LI>TITLE VI— FISA Transparency and Reporting Requirements</LI>
<LI>TITLE VII— Enhanced National Security Provisions</LI>
<LI>TITLE VIII— Safety of Maritime Navigation and Nuclear Terrorism Conventions Implementation</LI>
</UL>
      
      
      
      
    </div>
  </li>
                    
                    
  


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a576">
      Supplemental Material
    </button>
    <div id="b-a576" class="usa-accordion__content">
 
<P><STRONG>Loretta E. Lynch, Attorney General of the United States</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://www.nsa.gov/about/civil-liberties/reports/assets/files/UFA_SMPs_Nov_2015.pdf')" 
  title="(opens New Window)">“Minimization Procedures Used by the National Security Agency in connection with the Production of Call Detail Records Pursuant to Section 501 of the Foreign Intelligence Surveillance Act, as amended,” November 24, 2015</A></LI>
  
</UL>



<P><STRONG>National Security Agency (NSA) Civil Liberties and Privacy Office</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://www.nsa.gov/about/civil-liberties/reports/assets/files/UFA_Civil_Liberties_and_Privacy_Report.pdf')" 
  title="(opens New Window)">Transparency Report: The USA FREEDOM Act Business Records FISA Implementation, January 15, 2016  </A></LI>

</UL>

                                                 


<P><STRONG>Privacy and Civil Liberties Oversight Board (PCLOB)</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://www.pclob.gov/library/Recommendations_Assessment_Report_20160205.pdf')" 
  title="(opens New Window)">Recommendations Assessment Report, February 5, 2016</A></LI>
</UL>  

                                                 




<P><STRONG>U.S. Department of Justice, Federal Bureau of Investigation (FBI)</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://www.fbi.gov/file-repository/nsl-ndp-procedures.pdf')" 
  title="(opens New Window)">Termination Procedures for National Security Letter Nondisclosure Requirement, November 24, 2015</A></LI>
  </UL>

                                                 





<P><STRONG>Director of the Administrative Office of the U.S. Courts</STRONG></P>

<UL>
  <LI><A href="javascript:window.open('http://www.uscourts.gov/statistics-reports/analysis-reports/directors-report-foreign-intelligence-surveillance-courts')" 
  title="(opens New Window)">•Report of the Director of the Administrative Office of the U.S. Courts on Activities of the Foreign Intelligence Surveillance Courts for 2015</A></LI>
  </UL>

                                                 




</div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
