   
   <H2 class="sub_section_header" style="text-underline: none;">Consolidated Appropriations Act of 2005</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/PLAW-108publ447/pdf/PLAW-108publ447.pdf')" 
title="(opens New Window)">Public Law No. 108-447</A> (see division H, title V, section 522)</H5>
<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title5/pdf/USCODE-2015-title5-partI-chap5-subchapII-sec552a.pdf">Public Law No. 108-447</A>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

The Consolidated Appropriations Act of 2005 (the “Act”) requires that each agency, subject to the Act:
<UL>
<LI>shall have a Chief Privacy Officer to assume primary responsibility for privacy and data protection policy.  (Sec. 522(a))
<LI>shall establish and implement comprehensive privacy and data protection procedures governing the agency’s collection, use, sharing, disclosure, transfer, storage and security of information in an identifiable form relating to the agency employees and the public.  (Sec. 522(b))</LI>
<LI>shall prepare a written report of its use of information in an identifiable form, along with its privacy and data protection policies and procedures and record it with the Inspector General of the agency to serve as a benchmark for the agency.   (Sec. 552(c))</LI>
<LI>[a]t least every 2 years . . . shall have performed an independent, third party review of the use of information in identifiable form as the privacy and data protection procedures of the agency.  (Sec. 522(d))</LI>
<LI>[u]pon completion of a review, the Inspector General of an agency shall submit to the head of that agency a detailed report on the review.  (Sec. 522(e))</LI>
</UL>


</P>
</DIV>                                                                                                  
                
                                           
                                                                         
                        
