   
   <H2 class="sub_section_header" style="text-underline: none;">Health Insurance Portability and Accountability Act of 1996 (HIPAA Security Rule)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/PLAW-104publ191/pdf/PLAW-104publ191.pdf')" 
title="(opens New Window)">Health Insurance Portability and Accountability Act of 1996 (Public Law 104-191)</A></H5>
     <I>See also: </I><A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2015-title45-vol1/pdf/CFR-2015-title45-vol1-part160.pdf">45 C.F.R. Part 160</A><BR>
     <I>See also: </I><A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2015-title45-vol1/pdf/CFR-2015-title45-vol1-part164.pdf">45 C.F.R. §§ 164.102-106 and §§ 164.302-318</A><BR>


<H4><STRONG>Overview</STRONG></H4>

               
<P>

            The HIPAA Security Rule, adopted by the U.S. Department of Health and Human Services (HHS) pursuant to the Health Insurance Portability and Accountability Act of 1996 establishes national standards to protect individuals’ electronic personal health information that is created, received, used, or maintained by a covered entity. The Security Rule requires appropriate administrative, physical and technical safeguards to ensure the confidentiality, integrity, and security of electronic protected health information.


<BR><BR>
Sources: <BR>
<A HREF="https://www.hhs.gov/hipaa/for-professionals/security/index.html">Health Information Privacy, The Security Rule </A><BR>
<A HREF="https://aspe.hhs.gov/report/health-insurance-portability-and-accountability-act-1996">Health Information Portability and Accountability Act of 1996</A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a622">
                Helpful Tips

</button>
    <div id="b-a622" class="usa-accordion__content">
                                                                                                    
The complete suite of HIPAA Administrative Simplification Regulations can be found at 45 C.F.R. Part 160, Part 162, and Part 164, and includes:
<BR><BR>

<UL>
<LI>Transactions and Code Set Standards</LI>
<LI>Identifier Standards</LI>
<LI>Privacy Rule</LI>
<LI>Security Rule</LI>
<LI>Enforcement Rule</LI>
<LI>Breach Notification Rule</LI>
</UL>

Source: Health Information Privacy, Combined Text of All Rules  
<BR><BR>
The Administrative Simplification provisions of HIPAA, Title II required the Secretary of HHS to publish national standards for the security of electronic protected health information (e-PHI), electronic exchange, and the privacy and security of health information.  The Security Standards for the Protection of Electronic Protected Health Information (the Security Rule) establish a national set of security standards for protecting certain health information that is held or transferred in electronic form. The Security Rule operationalizes the protections contained in the Privacy Rule by addressing the technical and non-technical safeguards that organizations called “covered entities” must put in place to secure individuals’ “electronic protected health information” (e-PHI).  The text of the final regulation can be found at 45 C.F.R. Part 160 and Part 164, Subparts A and C.
                           
                                                
    </div>
  </li>
                    
               


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a623">
      Supplemental Material
    </button>
    <div id="b-a623" class="usa-accordion__content">
 
<P><STRONG>U.S. Department of Health and Human Services (HHS)</STRONG></P>

<UL>
<LI><A HREF="https://www.hhs.gov/hipaa/for-professionals/security/index.html">The Security Rule</A></LI>
<LI><A HREF="https://www.hhs.gov/hipaa/for-professionals/security/laws-regulations/index.html">Summary of the HIPAA Security Rule</A></LI>
<LI><A HREF="https://www.hhs.gov/hipaa/for-professionals/security/laws-regulations/index.html">Modifications to the HIPAA Privacy, Security, Enforcement, and Breach Notification Rules Under the Health Information Technology for Economic and Clinical Health Act and the Genetic Information Nondiscrimination Act; Other Modifications to the HIPAA Rules</A></LI>
<LI><A HREF="https://www.hhs.gov/hipaa/for-professionals/security/guidance/index.html">Security Rule Guidance Material</A></LI>
<LI><A HREF="https://www.hhs.gov/ocr/privacy/hipaa/administrative/securityrule/rafinalintro.html">Final Guidance on Risk Analysis</A></LI>
<LI><A HREF="https://www.hhs.gov/sites/default/files/ocr/privacy/hipaa/administrative/securityrule/remoteuse.pdf">Remote Use</A></LI>
<LI><A HREF="https://www.healthit.gov/providers-professionals/your-mobile-device-and-health-information-privacy-and-security">Your Mobile Device and Health Information Privacy and Security</A></LI>
<LI><A HREF="https://www.cdc.gov/cancer/npcr/tools/security/requirements.htm">HHS, Centers for Disease Control and Prevention (CDC), National Program of Cancer Registries, Data Security Guidelines for Cancer Registries</A></LI>
<LI><A HREF="https://www.nlm.nih.gov/hsrinfo/electronic_health_record.html">National Institutes of Health (NIH), Health Services Research Information Central (HSRIC), Privacy/Security and Research with Electronic Health Records</A></LI>

</UL>



                    
<P><STRONG>U.S. Department of Veterans Affairs (VA)</STRONG></P>

<UL>
  <LI><A href="javascript:window.open('https://mobile.va.gov/content/data-security')" 
  title="(opens New Window)">VA Mobile, Data Security</A></LI>
</UL>


  
  
  
  <P><STRONG>U.S. Department of Defense, Defense Health Agency (DHA) Privacy and Civil Liberties Office</STRONG></P>

<UL>
  <LI><A href="javascript:window.open('https://health.mil/Military-Health-Topics/Privacy-and-Civil-Liberties/HIPAA-Compliance-within-the-MHS')" 
  title="(opens New Window)">HIPAA Compliance within the Military Health Systems</A></LI>
</UL>

             
    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
