   
   <H2 class="sub_section_header" style="text-underline: none;">Uniting and Strengthening America by Providing Appropriate Tools Required to Intercept and Obstruct Terrorism Act of 2001 (USA PATRIOT Act)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/PLAW-107publ56/pdf/PLAW-107publ56.pdf')" 
title="(opens New Window)">Public Law 107-56</A></H5>
             

<H4><STRONG>Overview</STRONG></H4>

               
<P>
The USA PATRIOT Act was enacted in response to the attacks of September 11, 2001, and became law less than two months after those attacks.

<A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-107publ56/pdf/PLAW-107publ56.pdf">The Act</A> comprises ten categories, called “titles.”

<UL>
<LI>TITLE I—Enhancing Domestic Security against Terrorism</LI>
<LI>TITLE II—Enhanced Surveillance Procedures</LI>
<LI>TITLE III—International Money Laundering Abatement and Anti-Terrorist Financing Act of 2001</LI>
<LI>TITLE IV— Protecting the Border</LI>
<LI>TITLE V— Removing Obstacles to Investigating Terrorism</LI>
<LI>TITLE VI— Providing for Victims of Terrorism, Public Safety Officers, and their Families</LI>
<LI>TITLE VII— Increased Information Sharing for Critical Infrastructure Protection</LI>
<LI>TITLE VIII— Strengthening the Criminal Laws against Terrorism</LI>
<LI>TITLE IX— Improved Intelligence</LI>
<LI>TITLE X— Miscellaneous</LI>
</UL>


Source: <A HREF="https://it.ojp.gov/PrivacyLiberty/authorities/statutes/1281">Uniting and Strengthening America by Providing Appropriate Tools Required to Intercept and Obstruct Terrorism (USA PATRIOT) Act of 2001</A>

</P>
</DIV>                                                                                                  


<div class="usa-accordion">

  <button class="usa-accordion__button" aria-expanded="false" aria-controls="a1">
    Helpful Tips
  </button>
  </h2>
  <div id="a1" class="usa-accordion__content usa-prose">
    The USA PATRIOT Act modified many major U.S. intelligence, communications, and privacy laws, including: The Electronic Communications Privacy Act (EPCA ), which modifies Title III of the Omnibus Crime Control and Safe Streets Act (the Wiretap Act ); the Foreign Intelligence Surveillance Act of 1978 (FISA); and the Communications Act of 1934.  The USA PATRIOT Act has been reauthorized and amended several times since its initial enactment.
    <BR><BR>
    <UL>
    The USA PATRIOT Improvement and Reauthorization Act of 2005, Pub. L. No. 109-177 
    The reauthorizing legislation made permanent 14 of the 16 sunsetted USA PATRIOT Act provisions and placed four-year sunsets on the other two—the authority to conduct “roving” surveillance under the Foreign Intelligence Surveillance Act (FISA) and the authority to request production of business records under FISA (USA PATRIOT Act sections 206 and 215, respectively).
    </UL>

    <BR>
    Among the 14 USA PATRIOT Act provisions made permanent are: 

    <UL>

    <LI>Facilitating enhanced information-sharing and coordination 
    between national security and law enforcement personnel.</LI>

    <LI>Adding certain chemical weapons offenses, international 
    terrorism, nuclear and weapons of mass destruction threats,
    and computer espionage offenses to the list of wiretap predicates.</LI>

    <LI>Allowing Internet Service Providers to disclose 
    customer records voluntarily to the government in 
    emergencies involving an immediate risk of death or serious physical injury.</LI>

    <LI>Permitting victims of computer trespass (hacking) crimes to request law enforcement assistance 
    in monitoring trespassers on their computers.</LI>


    </UL>
    Source: <A HREF="https://www.justice.gov/archive/opa/pr/2006/March/06_opa_113.html">Fact Sheet: USA Patriot Act Improvement And Reauthorization Act of 2005 (Department of Justice)</A>
    <BR>        
    <UL> 
    <LI>
    The USA PATRIOT Act Additional Reauthorization Amendments Act of 2006, Pub. L. No. 109-178, was written to clarify that individuals who receive FISA orders can challenge nondisclosure requirements; that individuals who receive national security letters are not required to disclose the name of their attorney; and that libraries are not wire or electronic communication service providers unless they provide specific services.
    </LI>
    </UL>

    Source: S. 2271, 112th Congress, Second Session 
    <BR>
    <UL> 
    <LI>
    The PATRIOT Sunsets Extension Act of 2011, Pub. L. No. 112-14, amended the USA PATRIOT Improvement and Reauthorization Act of 2005 to extend until June 1, 2015, provisions concerning roving electronic surveillance orders, requests for the production of business records and other tangible things; and amended the Intelligence Reform and Terrorism Prevention Act of 2004 to extend until June 1, 2015, a provision revising the definition of an “agent of a foreign power” to include any non-U.S. person who engages in international terrorism or preparatory activities (the “lone wolf” provision).
    </LI>
    </UL>

    Source: Justice Information Sharing, USA PATRIOT Act 
    <BR>
    <UL> 
    <LI>
    
    On June 2, 2015, Congress passed and the President signed the USA FREEDOM Act of 2015,  Pub. L. No. 114-23. The Act reauthorized several important national security authorities; banned bulk collection under Section 215 of the USA PATRIOT Act, under the pen register and trap and trace provisions found in Title IV of Foreign Intelligence Surveillance Act (FISA), or pursuant to National Security Letters; adopted the new legal mechanism proposed by the President regarding the targeted production of telephony metadata; made significant modifications to proceedings before the FISC; and built on the U.S. Government’s unprecedented transparency about intelligence activities.
    </LI>
    </UL>

    Source: Transition to New Telephone Metadata Program (ODNI)
  </div>

  <button class="usa-accordion__button" aria-expanded="false" aria-controls="a2">
    Executive Orders, Memoranda, and Directives
  </button>
  </h2>
  <div id="a2" class="usa-accordion__content usa-prose">
    <UL>
    <LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2008-08-04/pdf/E8-17940.pdf">United States Intelligence Activities, Exec. Order No. 12333 (46 FR 59941, Dec. 08, 1981), amended by Exec. Order 13284 (68 FR 4057, Jan. 28, 2003), Exec. Order 13355 (69 FR 53593, Sept. 1, 2004), and Exec. Order 13470 (73 FR 45325, Aug. 4, 2008)</A></LI>     
    <LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2005-10-27/pdf/05-21571.pdf">Further Strengthening the Sharing of Terrorism Information to Protect Americans, Exec. Order No. 13388 (70 FR 62023, Oct. 27, 2005)</A></LI>
    <LI><A HREF="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2016/m_16_24_0.pdf">OMB Memorandum M-16-24, Role and Designation of Senior Agency Officials for Privacy (Sept. 2016)</A></LI>                                                  
           
                  </UL>

  </div>

</div>






<!-- <ul class="usa-accordion usa-accordion&#45;&#45;bordered">-->

   
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
     <!--                              
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a960">
                Helpful Tips

</button>
    <div id="b-a960" class="usa-accordion__content">
                                                                                                    
The USA PATRIOT Act modified many major U.S. intelligence, communications, and privacy laws, including: The Electronic Communications Privacy Act (EPCA ), which modifies Title III of the Omnibus Crime Control and Safe Streets Act (the Wiretap Act ); the Foreign Intelligence Surveillance Act of 1978 (FISA); and the Communications Act of 1934.  The USA PATRIOT Act has been reauthorized and amended several times since its initial enactment.
<BR><BR>
<UL>
The USA PATRIOT Improvement and Reauthorization Act of 2005, Pub. L. No. 109-177 
The reauthorizing legislation made permanent 14 of the 16 sunsetted USA PATRIOT Act provisions and placed four-year sunsets on the other two—the authority to conduct “roving” surveillance under the Foreign Intelligence Surveillance Act (FISA) and the authority to request production of business records under FISA (USA PATRIOT Act sections 206 and 215, respectively).
</UL>

<BR>
Among the 14 USA PATRIOT Act provisions made permanent are: 

<UL>

<LI>Facilitating enhanced information-sharing and coordination 
between national security and law enforcement personnel.</LI>

<LI>Adding certain chemical weapons offenses, international 
terrorism, nuclear and weapons of mass destruction threats,
and computer espionage offenses to the list of wiretap predicates.</LI>

<LI>Allowing Internet Service Providers to disclose 
customer records voluntarily to the government in 
emergencies involving an immediate risk of death or serious physical injury.</LI>

<LI>Permitting victims of computer trespass (hacking) crimes to request law enforcement assistance 
in monitoring trespassers on their computers.</LI>


</UL>

Source: <A HREF="https://www.justice.gov/archive/opa/pr/2006/March/06_opa_113.html">Fact Sheet: USA Patriot Act Improvement And Reauthorization Act of 2005 (Department of Justice)</A>
<BR>        
<UL> 
<LI>
The USA PATRIOT Act Additional Reauthorization Amendments Act of 2006, Pub. L. No. 109-178, was written to clarify that individuals who receive FISA orders can challenge nondisclosure requirements; that individuals who receive national security letters are not required to disclose the name of their attorney; and that libraries are not wire or electronic communication service providers unless they provide specific services.
</LI>
</UL>

Source: S. 2271, 112th Congress, Second Session 
<BR>
<UL> 
<LI>
 The PATRIOT Sunsets Extension Act of 2011, Pub. L. No. 112-14, amended the USA PATRIOT Improvement and Reauthorization Act of 2005 to extend until June 1, 2015, provisions concerning roving electronic surveillance orders, requests for the production of business records and other tangible things; and amended the Intelligence Reform and Terrorism Prevention Act of 2004 to extend until June 1, 2015, a provision revising the definition of an “agent of a foreign power” to include any non-U.S. person who engages in international terrorism or preparatory activities (the “lone wolf” provision).
</LI>
</UL>

Source: Justice Information Sharing, USA PATRIOT Act 
<BR>
<UL> 
<LI>
 
On June 2, 2015, Congress passed and the President signed the USA FREEDOM Act of 2015,  Pub. L. No. 114-23. The Act reauthorized several important national security authorities; banned bulk collection under Section 215 of the USA PATRIOT Act, under the pen register and trap and trace provisions found in Title IV of Foreign Intelligence Surveillance Act (FISA), or pursuant to National Security Letters; adopted the new legal mechanism proposed by the President regarding the targeted production of telephony metadata; made significant modifications to proceedings before the FISC; and built on the U.S. Government’s unprecedented transparency about intelligence activities.
</LI>
</UL>

Source: Transition to New Telephone Metadata Program (ODNI)
              
              
    </div>
  </li>-->
                    
                    
                    
 

    
                              
                              
                                                              
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->
<!--
    <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a961">
                Executive Orders, Memoranda, and Directives

</button>
    <div id="b-a961" class="usa-accordion__content">
                                       
    <p>                

                                                  <UL>
<LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2008-08-04/pdf/E8-17940.pdf">United States Intelligence Activities, Exec. Order No. 12333 (46 FR 59941, Dec. 08, 1981), amended by Exec. Order 13284 (68 FR 4057, Jan. 28, 2003), Exec. Order 13355 (69 FR 53593, Sept. 1, 2004), and Exec. Order 13470 (73 FR 45325, Aug. 4, 2008)</A></LI>     
<LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2005-10-27/pdf/05-21571.pdf">Further Strengthening the Sharing of Terrorism Information to Protect Americans, Exec. Order No. 13388 (70 FR 62023, Oct. 27, 2005)</A></LI>
<LI><A HREF="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2016/m_16_24_0.pdf">OMB Memorandum M-16-24, Role and Designation of Senior Agency Officials for Privacy (Sept. 2016)</A></LI>                                                  
       
              </UL>
              
       </p>
       
    </div>
  </li>
 
                              
                              
                                                                                      
      </li>
    </ul>  -->
