<A NAME="P">

   <p class="section_header">P</p>
   <hr>
    {% include law-library-p-act-to-regulate-the-issue-and-validity-of-passports.html %}  
    
    {% include law-library-p-paperwork-reduction-act-1995.html %}  
       
    {% include law-library-p-patient-safety-and-quality-improvement-act-2005.html %}  
       
    {% include law-library-p-privacy-act-1974.html %}  
    
    {% include law-library-p-protection-of-pupil-rights-amendment.html %}  
    
    {% include law-library-p-public-health-service-act-cert-confidentiality.html %}  
    
    {% include law-library-p-public-health-service-act-confidentiality-statistics.html %}  
    
</A>