   
   <H2 class="sub_section_header" style="text-underline: none;">Foreign Intelligence Surveillance Act of 1978 and Amendments (FISA)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36.pdf')" 
title="(opens New Window)">50 U.S.C. 1801 et seq</A></H5>
<I>See also:</I> <A HREF="https://www.gpo.gov/fdsys/pkg/STATUTE-92/pdf/STATUTE-92-Pg1783.pdf">Public Law 95-511</A><BR>

<H4><STRONG>Overview</STRONG></H4>

               
<P>
FISA authorizes electronic surveillance and other activities to obtain foreign intelligence information. 
FISA has been amended repeatedly since 1978, including the FISA Amendments Act (FAA) of 2008 containing Section 702 (reflected in Title VII below) and most recently by the USA FREEDOM Act of 2015 (reflected in the various titles below).  
<A HREF="https://www.dni.gov/index.php/who-we-are/organizations/ogc/ogc-related-menus/ogc-related-content/ic-legal-reference-book">The titles of FISA are</A>:

<UL>
<LI>Title I – Electronic Surveillance within the United States for Foreign Intelligence Purposes</LI>
<LI>Title II – Conforming Amendments</LI>
<LI>Title III – Physical Searches within the United States for Foreign Intelligence Purposes</LI>
<LI>Title IV – Pen Registers and Trap and Trace Surveillance Devices for Foreign Intelligence Purposes</LI>
<LI>Title V – Access to Certain Business Records for Foreign Intelligence Purposes</LI>
<LI>Title VI – Reporting Requirement</LI>
<LI>Title VII – Additional Procedures Regarding Certain Persons Outside the United States</LI>
<LI>Title VIII – Protection of Person Assisting the Government</LI>
</UL>

Source: <BR>


</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

      
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a566-helpful">
                Helpful Tips

</button>
    <div id="b-a566-helpful" class="usa-accordion__content">
<UL>                           
<LI>Sec. 101. Definition. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapI-sec1801.pdf">50 U.S.C. § 1801</A>)</LI>

<LI>Sec. 102. Electronic surveillance authorization without court order; 

<LI>Sec. 301. Definitions. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapII-sec1821.pdf">50 U.S.C. § 1821</A>)</LI>

<LI>Sec. 302. Authorization of physical searches for foreign intelligence purposes. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapII-sec1822.pdf">50 U.S.C. § 1822</A>)</LI>

<LI>Sec. 303. Application for order. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapII-sec1823.pdf">50 U.S.C. § 1823</A>)</LI>

<LI>Sec. 304. Issuance of order. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapII-sec1824.pdf">50 U.S.C. § 1824</A>)</LI>

<LI>Sec. 305. Use of information. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapII-sec1825.pdf">50 U.S.C. § 1825</A>)</LI>

<LI>Sec. 401. Definitions. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapIII-sec1841.pdf">50 U.S.C. § 1841</A>)</LI>

<LI>Sec. 402. Pen registers and trap and trace devices for foreign intelligence 
and international terrorism investigations. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapIII-sec1842.pdf">50 U.S.C. § 1842</A>)</LI>

<LI>Sec. 501. Access to certain business records for foreign intelligence
and international terrorism investigations. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapIV-sec1861.pdf">50 U.S.C. § 1861</A>)</LI>

<LI>Sec. 601. Semiannual report of the Attorney General. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapV-sec1871.pdf">50 U.S.C. § 1871</A>)</LI>

<LI>Sec. 602. Declassification of Signification Decisions, Orders, and Opinions. (<A HREF="http://uscode.house.gov/browse.xhtml">50 U.S.C. § 1872</A>)</LI>

<LI>Sec. 603. Annual Reports. (<A HREF="http://uscode.house.gov/browse.xhtml">50 U.S.C. § 1873</A>)</LI>

<LI>Sec. 702. Procedures for targeting certain persons outside the
United States other than United States persons. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapVI-sec1881a.pdf">50 U.S.C. § 1881a</A>)</LI>

<LI>Sec. 703. Certain acquisitions inside the United States targeting United States
persons outside the United States. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapVI-sec1881b.pdf">50 U.S.C. § 1881b</A>)</LI>

<LI>Sec. 704. Other acquisitions targeting United States persons
outside the United States. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapVI-sec1881c.pdf">50 U.S.C. § 1881c</A>)</LI>

<LI>Sec. 705. Joint applications and concurrent authorizations. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapVI-sec1881d.pdf">50 U.S.C. § 1881d</A>)</LI>

<LI>Sec. 706. Use of information acquired under this subchapter. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap36-subchapVI-sec1881e.pdf">50 U.S.C. § 1881e</A>)</LI>

</UL>
                           
    </div>
  </li>
                    
       
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
