<A NAME="top">


    <!-- AMERICANS WITH DISABILITIES ACT OF 1990  -->

    <A NAME="A">
        <p class="section_header">A</p>
        <hr>
        <H2 class="sub_section_header" style="text-underline: none;">Act to Regulate the Issue and Validity of Passports, And For Other Purposes, 1926 (as amended)</H2>
        <DIV class="content">
            <H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title22/pdf/USCODE-2015-title22-chap4-sec211a.pdf')"
                   title="(opens New Window)">22 U.S.C. § 211a, Passports</A></H5>

            <H4><STRONG>Overview</STRONG></H4>


            <P>

                This law provides that the U.S. Department of State is in charge of granting and issuing U.S. passports.
                <BR>

            </P>
        </DIV>

        <ul class="usa-accordion usa-accordion--bordered">

            <!-- HELPFUL TIPS -->



            <li>
                <button class="usa-accordion__button"
                        aria-expanded="false"
                        aria-controls="b-a825">
                    Helpful Tips

                </button>
                <div id="b-a825" class="usa-accordion__content">

                    Passport records may consist of applications submitted for the issuance of a passport or other records such as a Consular Report of Birth, a Certificate of Witness to Marriage, a Certificate of Loss of Nationality, or a Consular Report of Death.  These records are protected by the Privacy Act of 1974, 5 U.S.C. § 552a.  Passport records do not include evidence of travel such as entrance/exit stamps, visas, residence permits, etc.

                    <I>Source:</I> <A HREF="https://travel.state.gov/content/passports/en/passports/services/obtain-copies-of-passport-records.html">Order Copies of Passport Records</A>



                    Executive Order 11295 designates and empowers the Secretary of State to exercise, without the approval, ratification, or other action of the President, the authority to designate and prescribe for and on behalf of the United States rules governing the granting, issuing, and verifying of passports.

                    <I>Source:</I> <A HREF="https://www.archives.gov/federal-register/codification/executive-order/11295.html">Executive Order 11295, Rules governing the granting, issuing, and verifying of United States passports</A>

                </div>
            </li>




            <!-- REGULATIONS -->

            <li>
                <button class="usa-accordion__button"
                        aria-expanded="false"
                        aria-controls="b-a826">
                    Regulations
                </button>
                <div id="b-a826" class="usa-accordion__content">


                    <p>

                        <A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title22-vol1/pdf/CFR-2016-title22-vol1-part51.pdf">22 C.F.R. Part 51</A><BR>

                    </p>


                </div>

            </li>




            <!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

            <li>
                <button class="usa-accordion__button"
                        aria-expanded="false"
                        aria-controls="b-a827">
                    Executive Orders, Memoranda, and Directives

                </button>
                <div id="b-a827" class="usa-accordion__content">

                    <p>
                        Rules Governing the Granting, Issuing, and Verifying of United States Passports, Exec. Order 11295 (31 FR. 10603, August 5, 1966)

                        Available at: <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title22/pdf/USCODE-2015-title22-chap4-sec211a.pdf">22 U.S.C. § 211a</A>,
                        Passports and for further information at the <A HREF="http://www.archives.gov/federal-register/codification/executive-order/11295.html">National Archives – Executive Orders</A>




                    </p>

                </div>
            </li>




            <!--- SUPPLEMENTAL MATERIAL -->

            <li>
                <button class="usa-accordion__button"
                        aria-expanded="false"
                        aria-controls="b-a828">
                    Supplemental Material
                </button>
                <div id="b-a828" class="usa-accordion__content">

                    <P><STRONG>Department of State</STRONG></P>
                    <UL>
                        <LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1310.html">Foreign Affairs Manual (FAM) Regulations on Passport Applications</A></LI>

                        <LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apT.html">Introduction to Passport Services</A></LI>

                        <LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apJ.html">Information Request Letters and Information Notices</A></LI>

                        <LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apF.html">Release of Information from Passport Files</A></LI>

                        <LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apF.html">Passport Amendments</A></LI>

                        <LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apM.html">Gender Change on U.S. Passports</A></LI>

                    </UL>

                </div>












            </li>
        </ul>
        <H2 class="sub_section_header" style="text-underline:none;">Americans with Disabilities Act of 1990 (ADA) & Rehabilitation Act</H2>
        Americans with Disabilities Act (ADA)<BR>
        <h5>Americans with Disabilities Act (ADA)</h5>
        <h5><a href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap126.pdf">42 U.S.C. §§
                12101 <em>et seq</em></a></h5>
        <h5><a
                href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap126-subchapI-sec12112.pdf">42
                U.S.C. § 12112(d) Discrimination</a></h5>

        <h5>Rehabilitation Act (Rehab Act)</h5>
        <p><strong><a
                    href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title29/pdf/USCODE-2015-title29-chap16.pdf')"
                    title="(opens New Window)">29 U.S.C. §§ 701 <em>et seq</em> (Chapter 16 Vocational Rehabilitation
                    and Other Rehabilitation Services)</a></strong></p>

        <h4><strong>Overview</strong></h4>
        <p>The <a href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap126.pdf">ADA</a>
            prohibits discrimination and guarantees that people with disabilities have the same opportunities as
            everyone else to participate in the mainstream of American life &#8212; to enjoy employment opportunities,
            to purchase goods and services, and to participate in State and local government programs and services.
            Modeled after the Civil Rights Act of 1964, which prohibits discrimination on the basis of race, color,
            religion, sex, or national origin – and Section 504 of the Rehabilitation Act of 1973 &#8212; the ADA is an
            &#8220;equal opportunity&#8221; law for people with disabilities.</p>
        <p>The ADA, at <a
                href="https://www.gpo.gov/fdsys/pkg/USCODE-2011-title42/pdf/USCODE-2011-title42-chap126-subchapI-sec12112.pdf">42
                U.S.C. § 12112(d), </a>generally prohibits medical examinations and inquiries of job applicants unless
            the inquiry is about the ability of the applicant to perform job related functions. The ADA <em>does</em>
            authorize medical examinations and inquiries by employers with regard to an employee’s request for
            reasonable accommodation for a disability. In both instances, there are confidentiality requirements that
            attach to the records and information gathered.</p>
        <p>The <a
                href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title29/pdf/USCODE-2015-title29-chap16.pdf">Rehabilitation
                Act of 1973 </a>(also known as the “Rehab Act”) prohibits discrimination on the basis of disability in
            programs run by federal agencies; programs that receive federal financial assistance; in federal employment;
            and in the employment practices of federal contractors. The standards for deciding if employment
            discrimination exists under the Rehab Act are the same as those used in Title I of the ADA.</p>
        <p>The Rehab Act, at 29 C.F.R. § 791(f) and §793(d), provides that these sections of the ADA apply equally to
            those entities subject to the Rehab Act.</p>
        <p>The Americans with Disabilities Act Amendments Act of 2008 (<a
                href="https://www.gpo.gov/fdsys/pkg/PLAW-110publ325/pdf/PLAW-110publ325.pdf">Public Law 110-325</a>)
            (ADAAA) further amended the definition of “individual with a disability” and amended sections 12101, 12102,
            12111 to 12114, 12201 and 12210 of the ADA and section 705 of the Rehab Act. The ADAAA also enacted sections
            12103 and 12205a and re-designated sections 12206 to 12213.</p>

        <p>Sources:<br>
        <a href="https://www.ada.gov/ada_intro.htm">Introduction to the ADA</a><br>
        <a href="https://www.disability.gov/rehabilitation-act-1973/">Rehabilitation Act of 1973 (disability.gov)</a><br>
        <a href="javascript:window.open('https://www.eeoc.gov/laws/statutes/ada.cfm')" title="(opens New Window)">Titles I and V of the Americans with Disabilities Act of 1990 (ADA) </a><br>
        <a href="javascript:window.open('https://www.eeoc.gov/laws/statutes/rehab.cfm')"title="(opens New Window)">The Rehabilitation Act of 1973 (EEOC)</a></p>

        




        <ul class="usa-accordion usa-accordion--bordered">
            <li>
                <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a1">
                    Helpful Tips
                </button>
                <div id="b-a1" class="usa-accordion__content">
                    The ADA, at <A
                        href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap126-subchapI-sec12112.pdf">42
                        U.S.C. § 12112(d), </A>generally prohibits medical examinations and inquiries
                    of job applicants unless the inquiry is about the ability of the applicant to
                    perform job related functions. The ADA <EM>does</EM> authorize medical
                    examinations and inquiries by employers with regard to an employee’s request
                    for reasonable accommodation for a disability.&nbsp; In both instances, there
                    are confidentiality requirements that attach to the records and information
                    gathered.
                    <p></p>
                    The Equal Employment Opportunity Commission (EEOC) issues government-wide
                    regulations for implementing the ADA at <A
                        href="https://www.gpo.gov/fdsys/pkg/CFR-2015-title29-vol4/pdf/CFR-2015-title29-vol4-part1630.pdf">29
                        C.F.R. Part 1630</A>.&nbsp; Except as otherwise provided in this part, this
                    part does not apply a lesser standard than the standards applied under title V
                    of the Rehabilitation Act of 1973 (<A
                        href="https://www.gpo.gov/fdsys/pkg/USCODE-2010-title29/pdf/USCODE-2010-title29-chap16-subchapV.pdf">29
                        U.S.C. §§ 790-794a, as amended</A>), or the regulations issued by Federal
                    agencies pursuant to that title. <A
                        href="https://www.gpo.gov/fdsys/pkg/CFR-2015-title29-vol4/pdf/CFR-2015-title29-vol4-part1630.pdf">[29
                        C.F.R. § 1630.1(c)]</A>
                </div>
            </li>
            <li>
                <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a2">
                    Regulations
                </button>
                <div id="b-a2" class="usa-accordion__content">
                    <A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/CFR-2016-title29-vol4/pdf/CFR-2016-title29-vol4-part1630.pdf')"
                        title="(opens New Window)">29 C.F.R. Part 1630</A>
                </div>
            </li>
            <li>
                <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a3">
                    Executive Orders, Memoranda, and Directives
                </button>
                <div id="b-a3" class="usa-accordion__content">

                    <A href="https://www.gpo.gov/fdsys/pkg/WCPD-2000-07-31/pdf/WCPD-2000-07-31-Pg1687.pdf">Executive
                        Order No. 13164 – Requiring Federal Agencies to Establish Procedures to
                        Facilitate the Provision of Reasonable Accommodation</A>
                </div>
            </li>
            <li>
                <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a4">
                    Supplemental Material
                </button>
                <div id="b-a4" class="usa-accordion__content">

                    <STRONG>Equal Employment Opportunity Commission</STRONG>
                    <UL>
                        <LI><A href="javascript:window.open('https://www.eeoc.gov/policy/docs/accommodation_procedures.html')"
                                title="(opens New Window)">EEOC, Policy Guidance on Executive Order 13164: Establishing
                                Procedures to Facilitate the Provision of Reasonable Accommodation&nbsp;
                            </A></LI>
                        <LI><A href="javascript:window.open('https://www.eeoc.gov/policy/docs/guidance-inquiries.html')"
                                title="(opens New Window)">EEOC,
                                Enforcement Guidance: Disability-Related Inquiries and Medical Examinations
                                of Employees Under the Americans with Disabilities Act (ADA)&nbsp; </A></LI>
                        <LI><A href="javascript:window.open('https://www.eeoc.gov/policy/docs/workcomp.html')"
                                title="(opens New Window)">EEOC, Enforcement Guidance: Workers’ Compensation and the
                                ADA</A></LI>
                        <LI><A href="javascript:window.open('https://www.eeoc.gov/policy/docs/psych.html')"
                                title="(opens New Window)">EEOC, Enforcement Guidance on the Americans with Disabilities
                                Act and Psychiatric Disabilities&nbsp; </A></LI>
                        <LI><A href="javascript:window.open('https://www.eeoc.gov/facts/evacuation.html')"
                                title="(opens New Window)">EEOC,
                                Fact Sheet on Obtaining and Using Employee Medical Information as Part of
                                Emergency Evacuation Procedures</A></LI>
                        <LI><A href="javascript:window.open('https://www1.eeoc.gov/policy/docs/fmlaada.html')"
                                title="(opens New Window)">EEOC, Fact Sheet, The Family and Medical Leave Act, the
                                Americans with Disabilities Act, and Title VII of the Civil Rights Act of 1964
                            </A></LI>
                        <LI><A href="javascript:window.open('https://www.eeoc.gov/eeoc/publications/ada_mental_health_provider.cfm')"
                                title="(opens New Window)">EEOC, The Mental Health Provider’s Role in a Client’s Request
                                for a Reasonable Accommodation at Work</A></LI>
                        <LI><A href="javascript:window.open('https://www.eeoc.gov/laws/types/intellectual_disabilities.cfm')"
                                title="(opens New Window)">EEOC, Questions &amp; Answers about Persons with Intellectual
                                Disabilities in the Workplace and the Americans with Disabilities Act
                                (ADA)</A></LI>
                        <LI><A href="javascript:window.open('https://www.eeoc.gov/eeoc/publications/qa_domestic_violence.cfm')
                               title=" (opens New Window)">EEOC, Questions and Answers: The Application of Title VII
                                and
                                the ADA to Applicants or Employees Who Experience Domestic or Dating
                                Violence, Sexual Assault, or Stalking</A></LI>
                        <LI><A href="javascript:window.open('https://www.eeoc.gov/eeoc/publications/hiv_doctors.cfm')"
                                title="(opens New Window)">EEOC,
                                Helping Patients with HIV Infection Who Need Accommodations at
                                Work</A></LI>
                    </UL>
                </div>
            </li>








        </ul>









        <!-- AVIATION AND TRANSPORTATION SECURIT ACT OF 2001 -->



        <H2 class="sub_section_header">Aviation
            and Transportation Security Act of 2001
     </H2>
    <DIV class="content">
        <H5><A
                href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title49/pdf/USCODE-2015-title49-subtitleI-chap1-sec114.pdf">49
                U.S.C. § 114 Transportation Security Administration</A></H5>
        <H5><A
                href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title49/pdf/USCODE-2015-title49-subtitleVII-partA-subpartiii-chap449-subchapI-sec44909.pdf">49
                U.S.C. § 44909 Passenger Manifests</A></H5>
        <H5>See also: <A
                href="https://www.tsa.gov/sites/default/files/aviation_and_transportation_security_act_atsa_public_law_107_1771.pdf">Pub.
                Law 107-71</A></H5>

        <H4>Overview</H4>
        <P>President Bush signed the Aviation and Transportation Security Act into law
            in November 2001, requiring screening conducted by federal officials, 100
            percent checked baggage screening, expansion of the Federal Air Marshal Service
            and reinforced cockpit doors. The Transportation Security Administration (TSA)
            was created to oversee security in all modes of transportation.</P>
        <P>Source:<br><A href="https://www.tsa.gov/timeline">Transportation Security
                Timeline</A></P>

    </DIV>


    <ul class="usa-accordion usa-accordion--bordered">
        <li>

            <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a5">
                Regulations
            </button>
            <div id="b-a5" class="usa-accordion__content">
                <P><A
                        href="https://www.gpo.gov/fdsys/pkg/CFR-2016-title19-vol1/pdf/CFR-2016-title19-vol1-part122-subpartE.pdf">19
                        C.F.R. Part 122 Subpart E</A></P>
                <P><A
                        href="https://www.gpo.gov/fdsys/pkg/CFR-2016-title19-vol1/pdf/CFR-2016-title19-vol1-part122-subpartE.pdf">49
                        C.F.R. § 1540.107 </A></P>
                <P><A href="https://www.gpo.gov/fdsys/pkg/CFR-2015-title49-vol9/pdf/CFR-2015-title49-vol9-part1560.pdf">49
                        C.F.R. Part 1560 </A></P>

            </div>
        </li>
        <li>
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a7">
                Executive Orders, Memoranda, and Directives
            </button>
            <div id="b-a7" class="usa-accordion__content">

                <P><A href="https://www.gpo.gov/fdsys/pkg/PPP-2003-book2/pdf/PPP-2003-book2-doc-pg1174.pdf">Directive
                        on Integration and Use of Screening Information To Protect Against Terrorism,
                        HSPD-6 (Sept. 16, 2003)</A></P>
            </div>
        </li>

        <li>
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a8">
                Supplemental Material
            </button>
            <div id="b-a8" class="usa-accordion__content">

                <P><STRONG>U.S. Department of Homeland Security</STRONG></P>
                <P><EM><STRONG>Transportation Security Administration</STRONG></EM></P>
                <P><A href="https://www.tsa.gov/travel">Travel Resources Page</A></P>
                <P><A href="https://www.dhs.gov/publication/passenger-name-record-privacy-policy">Passenger
                        Name Record Privacy Policy</A></P>

            </div>
        </li>
    </ul>

</A>
