   
   <H2 class="sub_section_header" style="text-underline: none;">Federal Agency Data Mining Reporting Act of 2007 (FADMRA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2014-title42/pdf/USCODE-2014-title42-chap21E.pdf')" 
title="(opens New Window)">42 U.S.C. § 2000ee-3</A></H5>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

            The Federal Agency Data Mining Reporting Act of 2007 (FADMRA) is contained in section 803 of the 
            <A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-110publ53/html/PLAW-110publ53.htm">Implementing 
            the Recommendations of the 9/11 Commission Act of 2007</A>.

The FADMRA provides that the head of each department or agency of the Federal Government that is engaged in any “pattern-based” data mining activity shall submit a report to Congress on all such activities of the department or agency under the jurisdiction of that official. The report shall be produced in coordination with the privacy officer of that department or agency, if applicable, and shall be made available to the public, except for an annex as described in subparagraph (c).



</P>
</DIV>                                                                                                  
    
                                                                                          
                            
                                                                                          
                                                                                          
