<A NAME="I">

   <p class="section_header">I</p>
   <hr>
    {% include law-library-i-immigration-and-nationality-act-1952.html %}  
    
    {% include law-library-i-implementing-recommendations-of-the-911-commission.html %}  
    
    {% include law-library-i-individuals-with-disabilities-education-act.html %}  
    
    {% include law-library-i-intelligence-reform-and-terrorism-prevention-act-of-2004.html %}  
    
    {% include law-library-i-internal-revenue-code.html %}  
    
    
    
    </A>
