   
   <H2 class="sub_section_header" style="text-underline: none;">Family Educational Rights and Privacy Act (FERPA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title20/pdf/USCODE-2015-title20-chap31-subchapIII-part4-sec1232g.pdf')" 
title="(opens New Window)">20 U.S.C. § 1232g</A></H5>

<H4><STRONG>Overview</STRONG></H4>

               
<P>
FERPA protects the privacy of student education records.  The law applies to all schools that receive funds under an applicable program of the U.S. Department of Education.  FERPA gives parents certain rights with respect to their children’s education records.  These rights transfer to the student when he or she reaches the age of 18 or attends a school beyond the high school level.
<BR><BR>
FERPA permits educational agencies and institutions, such as Local Education Agencies (LEA) and their constituent schools, to disclose PII from education records to State Education Agencies (SEA) and other State educational authorities without a parent’s prior consent under certain conditions. For a review of the exceptions to the general prior consent rule in FERPA, see 34 CFR § 99.31. The most common exception that relates to disclosure to a State educational authority is found in §§ 99.31(a)(3) and 99.35. The disclosure must be in connection with:
<BR>
<UL>

<LI>An audit or evaluation of Federal or State supported education programs; or</LI>
<LI>The enforcement of or compliance with Federal legal requirements relating to such programs.</LI>
</ul>
Information collected under this provision generally must be:
<UL>
<LI>Protected so that information is not disclosed to anyone other than the authorized representatives
of the State educational authority (§ 99.35(b)(1)); and,</LI>
<LI>Destroyed when no longer needed for the purposes listed above (§ 99.35(b)(2))</LI>
</UL>
<BR>
<I>
(Note: Federal entities, entities or individuals acting as the designated authorized representatives of the Attorney General, the Comptroller General, or the Secretary of Education, as well as other third parties receiving PII from education records without consent, generally must also protect the PII from unauthorized disclosure and comply with FERPA’s recordation provisions for any authorized re-disclosure, and may only use it in accordance with FERPA and for the specific purposes for which it was disclosed.)
</I>

<BR><BR>
Sources: <BR>
<A HREF="https://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html">Law and Guidance: Family Educational Rights and Privacy Act (FERPA)</A>
<BR>
<A HREF="https://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html">Family Educational Rights and Privacy Act (FERPA)</A>


</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

    
 
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a510">
                Helpful Tips

</button>
    <div id="b-a510" class="usa-accordion__content">
                                                                                                    
         FERPA may also be known as Section 444 of the General Education Provisions Act.
                        
                                                
    </div>
  </li>
                    
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a511">
      Regulations
    </button>
    <div id="b-a511" class="usa-accordion__content">

                                                  
                                                  <p>
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2010-title34-vol1/pdf/CFR-2010-title34-vol1-part99.pdf">34 C.F.R. Part 99</A>
                                                  
                                                 

</p>
                                                 
                                                 
               </div>
           
  </li>
  

<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a520">
      Supplemental Material
    </button>
    <div id="b-a520" class="usa-accordion__content">
 
<P><STRONG>U.S. Department of Education</STRONG></P>

<UL>
  <LI><A href="">Family Policy Compliance Office</A></LI>
  <LI><A href="">Privacy Technical Assistance Center</A></LI></UL>


    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
