   
   <H2 class="sub_section_header" style="text-underline: none;">Drug Abuse Prevention, Treatment, and Rehabilitation Act</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap6A-subchapIII-A-partD-sec290dd-2.pdf')" 
title="(opens New Window)">42 U.S.C § 290dd–2</A></H5>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

Confidentiality of substance use disorder (alcohol and drug abuse) patient records is required under 42 U.S.C § 290dd–2 and 

<A HREF="https://www.federalregister.gov/select-citation/2016/02/09/42-CFR-2">42 C.F.R Part 2</A>. The statute and regulation require that records related to patient treatment of substance use disorders remain confidential subject to certain specific exceptions or patient consent to disclose such information. The statute extends to cover “any program or activity relating to substance abuse education, prevention, training, treatment, rehabilitation, or research, which is conducted, regulated, or directly or indirectly assisted by any department or agency of the United States.”

<BR><BR>
Source: <A HREF="http://www.samhsa.gov/about-us/who-we-are/laws-regulations/public-comments-confidentiality-regulations">Listening Session Comments on Substance Abuse Treatment Confidentiality Regulations</A> <BR>
</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

     
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a400">
                Helpful Tips

</button>
    <div id="b-a400" class="usa-accordion__content">
                                                                                                    
The Confidentiality of Alcohol and Drug Abuse Patient Records regulations, <A HREF="https://www.federalregister.gov/select-citation/2016/02/09/42-CFR-2">42 C.F.R. Part 2</A>, implement section 543 of the Public Health Service Act, 42 U.S.C. § 290dd-2, as amended by section 131 of the Alcohol, Drug Abuse and Mental Health Administration (ADAMHA) Reorganization Act, <A HREF="https://history.nih.gov/research/downloads/PL102-321.pdf">Public Law 102-321</A>. The regulations were promulgated as a final rule on July 1, 1975 (40 FR 27802).
<BR><BR>
The restrictions of these regulations upon the disclosure and use of drug abuse patient records were initially authorized by section 408 of the Drug Abuse Prevention, Treatment, and Rehabilitation Act.  That section as amended was transferred by Public Law 98-24 to section 527 of the Public Health Service Act, which is codified at 42 U.S.C. § 290ee-3 (See <A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2007-title42-vol1/pdf/CFR-2007-title42-vol1-sec2-1.pdf">42 C.F.R. § 2.1<</A>).
<BR><BR>
In addition, the restrictions of these regulations upon the disclosure and use of alcohol abuse patient records were initially authorized by section 333 of the Comprehensive Alcohol Abuse and Alcoholism Prevention, Treatment, and Rehabilitation Act of 1970 (42 U.S.C. § 4582). The section as amended was transferred by Public Law 98-24 to section 523 of the Public Health Service Act which is codified at 42 U.S.C. § 290dd-3.  (See <A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2007-title42-vol1/pdf/CFR-2007-title42-vol1-sec2-2.pdf">42 C.F.R. § 2.2</A>).
                                          
                                                
    </div>
  </li>
                    
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a402">
      Regulations
    </button>
    <div id="b-a402" class="usa-accordion__content">

                                                  
                                                  <p>
       
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2015-title42-vol1/pdf/CFR-2015-title42-vol1-part2.pdf">42 C.F.R.
Part 2 Confidentiality of Alcohol and Drug Abuse Patient Records</A><BR>      
                      

</p>
                                                 
                                                 
               </div>
           
  </li>
  
  


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a403">
      Supplemental Material
    </button>
    <div id="b-a403" class="usa-accordion__content">
 
<P><STRONG>U.S. Department of Health and Human Services</STRONG></P>
<P><EM><STRONG>Substance Abuse and Mental Health Services Administration (SAMHSA)</STRONG></EM></P>
<UL>
  <LI><A href="javascript:window.open('http://www.samhsa.gov/about-us/who-we-are/laws/confidentiality-regulations-faqs')" 
  title="(opens New Window)">Applying the Substance Abuse Confidentiality Regulations (2015)</A></LI>
  <LI><A href="http://www.samhsa.gov/sites/default/files/faqs-applying-confidentiality-regulations-to-hie.pdf">Frequently Asked Questions, Applying the Substance Abuse Confidentiality Regulations to Health Information Exchange (HIE) (2010)</A></LI></UL>

                                                 
    </div>
    
                                                                                      
      </li>
    </ul>                           
                                                                         
                                                                         
                        
