   
   <H2 class="sub_section_header" style="text-underline: none;">Electronic Communications Privacy Act of 1986 (ECPA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title18/pdf/USCODE-2015-title18-partI.pdf')" 
title="(opens New Window)">18 U.S.C. §§ 1367, 2521, 2701 – 2712</A>,<A
HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title18/pdf/USCODE-2015-title18-partII.pdf">3117, 3121 – 3127</A></H5>
<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title18/pdf/USCODE-2015-title18-partI-chap119.pdf">18 U.S.C. § 2510 – 2522 Wire and Electronic Communications Interception and Interception of Oral Communications (Wiretap Act)</A><BR>
<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title18/pdf/USCODE-2015-title18-partI-chap121.pdf">18 U.S.C. §§ 2701-12. Stored Wire and Electronic Communications and Transactional Records Access (Stored Communications Act)</A><BR>
<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title18/pdf/USCODE-2015-title18-partII-chap206.pdf">18 U.S.C. §§ 3121 – 3227 Pen Registers and Trap and Trace Devices</A><BR>
See also: <A HREF="https://www.gpo.gov/fdsys/pkg/STATUTE-100/pdf/STATUTE-100-Pg1848.pdf">Public Law 99-508</A><BR>



<H4><STRONG>Overview</STRONG></H4>

               
<P>The Electronic Communications Privacy Act (ECPA) of 1986 created additional privacy protections for stored electronic communications and updated the Federal Wiretap Act to cover electronic communications as well as oral and wire communications.  Title II of the ECPA established a comprehensive system of protections for stored communications codified at <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2011-title18/pdf/USCODE-2011-title18-partI-chap121-sec2701.pdf">18 U.S.C. §§ 2701-2712</A> which has come to be referred to as the Stored Communications Act (SCA).

The ECPA, as amended, protects wire, oral, and electronic communications while those communications are being made, are in transit, and when they are stored on computers. The Act applies to email, telephone conversations, and data stored electronically

<BR><BR>
Source: <A HREF="https://it.ojp.gov/privacyliberty/authorities/statutes/1285">Justice Information Sharing, Electronic Communications Privacy Act of 1986</A> <BR>
</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

 
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a475">
                Helpful Tips

</button>
    <div id="b-a475" class="usa-accordion__content">
                                                                                                    
            ECPA has three titles:
<BR><BR>
Title I of the ECPA, which is often referred to as the Wiretap Act, prohibits the intentional actual or attempted interception, use, disclosure, or ‘procure[ment] [of] any other person to intercept or endeavor to intercept any wire, oral, or electronic communication.” There are exceptions.  Title I also prohibits the use of illegally obtained communications as evidence. [<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2011-title18/pdf/USCODE-2011-title18-partI-chap119-sec2515.pdf">18 U.S.C. § 2515</A>].
<BR><BR>
Title II of the ECPA, which is called the Stored Communications Act (SCA), protects the privacy of the contents of files stored by service providers and of records held about the subscriber by service providers, such as subscriber name, billing records, or IP addresses.  [<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2011-title18/pdf/USCODE-2011-title18-partI-chap121-sec2701.pdf">18 U.S.C. §§ 2701-12</A>].
<BR><BR>
Title III of the ECPA, which addresses pen register and trap and trace devices, requires government entities to obtain a court order authorizing the installation and use of a pen register (a device that captures the dialed numbers and related information to which outgoing calls or communications are made by the subject) and/or a trap and trace (a device that captures the numbers and related information from which incoming calls and communications coming to the subject have originated). No actual communications are intercepted by a pen register or trap and trace. [<a href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title18/pdf/USCODE-2015-title18-partII-chap206.pdf">18 U.S.C. §§ 3121 – 3227</A>]
<BR><BR>
Amendments.  The ECPA was significantly amended by the <A HREF="https://www.fpc.gov/communications-assistance-for-law-enforcement-calea/">Communications Assistance to Law Enforcement Act (CALEA) in 1994</A>, the USA PATRIOT Act in 2001, the USA PATRIOT reauthorization acts in 2006, and the FISA Amendments Act of 2008.  Other acts have made specific amendments of lesser significance.
                    <BR><BR>         
          Source: <A HREF="https://it.ojp.gov/privacyliberty/authorities/statutes/1285">Justice Information Sharing, Electronic Communications Privacy Act of 1986</A>                                      
    </div>
  </li>
                    
                    



<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a480">
      Supplemental Material
    </button>
    <div id="b-a480" class="usa-accordion__content">
 
<P><STRONG>U.S. Department of Justice</STRONG></P>

<UL>
  <LI><A href="javascript:window.open('https://www.justice.gov/jmd/electronic-communications-privacy-act-1986-pl-99-508')" 
  title="(opens New Window)">Electronic Communications Privacy Act of 1986 (Public Law 99-508)</A></LI>
  <LI><A href="">Computer Crimes and Intellectual Property Section (CCIPS), Searching and Seizing Computers and Obtaining Electronic Evidence in Criminal Investigations, Chapter 3 (2009)</A></LI>
  
  </UL>

<BR>

<P><STRONG>U.S. Mission to the European Union</STRONG></P>

<UL>
  <LI><A href="https://photos.state.gov/libraries/useu/231771/PDFs/Five%20Myths%20Regarding%20Privacy%20and%20Law%20Enforcement_October%209_2012_pdf.pdf">Five Myths Regarding Privacy and Law Enforcement Access to Personal Information in the European Union and the United States, October 2012</A></LI>
  
  </UL>
  
  
  <BR>
  
  <P><STRONG>Other Materials</STRONG></P>

<UL>
  <LI><A href="https://www.whitehouse.gov/sites/default/files/docs/big_data_privacy_report_5.1.14_final_print.pdf">Big Data: Seizing Opportunities, Preserving Values</A></LI>
  </UL>


    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
