   
   <H2 class="sub_section_header" style="text-underline: none;">Fair Credit Reporting Act (FCRA)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title15/pdf/USCODE-2015-title15-chap41-subchapIII.pdf')" 
title="(opens New Window)">15 U.S.C. § 1681</A></H5>

<H4><STRONG>Overview</STRONG></H4>

               
<P>
Overview

The Fair Credit Reporting Act (FCRA) promotes the accuracy, fairness, and privacy of consumer information contained in the files of consumer reporting agencies. If your company meets the definition of a “consumer reporting agency” (CRA),  if you furnish information to CRAs, or if you use that information for certain purposes, you may have obligations under the FCRA.



<BR><BR>
Source: <A HREF="https://www.ftc.gov/tips-advice/business-center/privacy-and-security/credit-reporting  ">Federal Trade Commission, Credit Reporting</A><BR>
</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

                                   
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a500">
      Regulations
    </button>
    <div id="b-a500" class="usa-accordion__content">
                                                
                                                  <p>
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2012-title12-vol8/pdf/CFR-2012-title12-vol8-part1022.pdf">12 C.F.R. §1022</A>
<BR><A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title16-vol1/pdf/CFR-2016-title16-vol1-part681.pdf">16 C.F.R. § 681</A>
<BR>
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title16-vol1/pdf/CFR-2016-title16-vol1-part682.pdf">16 C.F.R. § 682</A>

    
</p>
                                                 
               </div>
           
  </li>
  
  
  <!-- STATUTORY IMPLEMENTATION GUIDANCE -->
                    
                                                 <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a501">
Statutory Implementation Guidance
</button>
    <div id="b-a501" class="usa-accordion__content">

                              
                       <P><STRONG>U.S. Chief Human Capital Officers Council (CHCO)</STRONG></P>
                       
                       
                   

                       
<P><A href="javascript:window.open('https://www.chcoc.gov/content/governmentwide-guidance-ensure-fair-employment-opportunities-applicants-who-are-unemployed')" 
title="(opens New Window)">Governmentwide Guidance to Ensure Fair Employment Opportunities for Applicants Who Are Unemployed or Facing Financial Difficulty Through No Fault of Their Own</A>

</P>
                              
                       <P><STRONG>Office of Personnel Management (OPM)</STRONG></P>
                       
                       
                       
<P><A href="javascript:window.open('https://chcoc.gov/sites/default/files/fin-15-01.pdf')" 
title="(opens New Window)">Notice No. 15-01: Reminder Regarding Requirements of the Fair Credit Reporting Act</A>
<BR>

<A href="javascript:window.open('https://www.opm.gov/investigations/background-investigations/federal-investigations-notices/1998/fin98-02/')'" 
title="(opens New Window)">Letter No. 98-02: Background Investigations</A>
<BR>

</P>
                                                 
  
  
  
    </div>
                                                                                      
  </li>


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a502">
      Supplemental Material
    </button>
    <div id="b-a502" class="usa-accordion__content">
 
<P><STRONG>Consumer Financial Protection Bureau (CFPB)</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('http://files.consumerfinance.gov/f/201309_cfpb_bulletin_furnishers.pdf')" 
  title="(opens New Window)">CFPB Bulletin 2013-09: The FCRA’s requirement to investigate disputes and review “all relevant” information provided by consumer reporting agencies (CRAs) about the dispute</A></LI>
  <LI><A href="http://files.consumerfinance.gov/f/201402_cfpb_bulletin_fair-credit-reporting-act.pdf">CFPB Bulletin 2014-01: The FCRA’s requirement that furnishers conduct investigations of disputed information</A></LI>
  <LI><A href="http://files.consumerfinance.gov/f/201602_cfpb_supervisory-bulletin-furnisher-accuracy-obligations.pdf">CFPB Bulletin 2016-01: The FCRA’s requirement that furnishers establish and implement reasonable written policies and procedures regarding the accuracy and integrity of information furnished to all consumer reporting agencies</A></LI>
  </UL>



                
                
                <P><STRONG>Federal Trade Commission (FTC)</STRONG></P>

<UL>
  <LI><A href="">Using Consumer Reports for Credit Decisions: What to Know About Adverse Action and Risk-Based Pricing Notices</A></LI>
  <LI><A href="">Using Consumer Reports: What Employers Need to Know</A></LI>
  <LI><A href="">Consumer Reports: What Information Furnishers Need to Know</A></LI>
  <LI><A href="">Disposing of Consumer Report Information? Rule Tells How</A></LI>
  <LI><A href="">Businesses Must Provide Victims and Law Enforcement with Transaction Records Relating to Identity Theft</A></LI>
  <LI><A href="">40 Years of Experience with the Fair Credit Reporting Act: an FTC Staff Report with Summary of Interpretations</A></LI>
  <LI><A href="">Big Data: A Tool for Inclusion or Exclusion? Understanding the Issues</A></LI>
  <LI><A href="">Advisory Opinion to Pickett (07-10-98)</A></LI>
  <LI><A href="">Advisory Opinion to Copple (06-10-98)</A></LI>
  <LI><A href="">Advisory Opinion to Goeke (06-09-98)</A></LI>
  



<P><EM><STRONG>National Credit Union Administration (NCUA)</STRONG></EM></P>
<UL>
  <LI><A HREF="https://www.ncua.gov/Legal/OpinionLetters/OL2001-0603.pdf">Releasing Consumer Credit Information to Government Employers</A></LI></UL>
                
                
    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
