<H2 class="sub_section_header" style="text-underline: none;">Immigration and Nationality Act of 1952 (INA) </H2>
<DIV class="content">
  <H5><A
      href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title8/pdf/USCODE-2015-title8-chap12-subchapI-sec1101.pdf')"
      title="(opens New Window)">8 U.S.C. §§ 1101 et seq</A></H5>
  <I>See also: </I><A HREF="https://www.uscis.gov/ilink/docView/SLB/HTML/SLB/act.html">Immigration and Nationality Act
    (U.S. Citizenship and Immigration Services)</A><BR>

  <H4><STRONG>Overview</STRONG></H4>


  <P>

    The Immigration and Nationality Act, or INA, was created in 1952. The Act has been amended many times over the
    years, but is still the basic body of immigration law. The INA is divided into titles, chapters, and sections.
    Although it stands alone as a body of law, the Act is also contained in the United States Code (U.S.C.). When
    browsing the INA or other statutes you will often see reference to the U.S. Code citation. For example, Section 208
    of the INA deals with asylum, and is also contained in 8 U.S.C. 1158. Although it is correct to refer to a specific
    section by either its INA citation or its U.S. Code citation, the INA citation is more commonly used.



    <BR><BR>
    Source: <A HREF="https://www.uscis.gov/laws/immigration-and-nationality-act">Immigration and Nationality Act</A>


  </P>
</DIV>



<ul class="usa-accordion usa-accordion--bordered">


  <li>
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a700">
      Helpful Tips

    </button>
    <div id="b-a700" class="usa-accordion__content">

      Enforcement of the INA, including protection of confidentiality and privacy, involves multiple agencies, including
      but not limited to the U.S. Department of State, Customs and Border Protection, U.S. Citizenship and Immigration
      Services, U.S. Immigration and Customs Enforcement, and the U.S. Department of Labor.

    </div>
  </li>

  <li>
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a701">
      Regulations
    </button>
    <div id="b-a701" class="usa-accordion__content">


      <p>



        <A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title8-vol1/pdf/CFR-2016-title8-vol1.pdf">8 C.F.R. et
          seq</A><BR>

        22 C.F.R. et seq (<A
          HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title22-vol1/pdf/CFR-2016-title22-vol1.pdf">Vol.
          1 (Parts 1-299)</A> and <A
          HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title22-vol2/pdf/CFR-2016-title22-vol2.pdf">Vol 2. (Parts
          300-1799)</A>)

      </p>


    </div>

  </li>

  <li>
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a703">
      Executive Orders, Memoranda, and Directives

    </button>
    <div id="b-a703" class="usa-accordion__content">

      <p>

      <UL>
        <LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2011-08-09/pdf/2011-20395.pdf">Suspension of Entry as Immigrants
            and Nonimmigrants of Persons Who Participate in Serious Human Rights and Humanitarian Law Violations and
            Other Abuses, Proclamation No. 8697 (76 FR 49275, Aug. 4, 2011) </A></LI>
        <LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2011-07-27/pdf/2011-19155.pdf">Suspension of Entry of Aliens
            Subject to United Nations Security Council Travel Bans and International Emergency Economic Powers Act
            Sanctions, Proclamation No. 8693 (76 FR 44751, July 25, 2011)</A></LI>
        <LI><A HREF="https://www.gpo.gov/fdsys/pkg/PPP-2003-book2/pdf/PPP-2003-book2-doc-pg1174.pdf">Directive on
            Integration and Use of Screening Information To Protect Against Terrorism, HSPD-6 (Sept. 16, 2003)</A></LI>
      </UL>

      </p>



    </div>
  </li>

  <li>
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a702">
      Supplemental Material
    </button>
    <div id="b-a702" class="usa-accordion__content">

      <P><STRONG>Department of State </STRONG></P>
      <UL>
        <LI><A href="javascript:window.open('https://fam.state.gov/FAM/09FAM/09FAM060106.html')"
            title="(opens New Window)">Foreign Affairs Manual (FAM) Provisions at 9 FAM 601.6, Maintaining Visa Files,
            Records and Information</A></LI>
        <LI><A
            href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/frequently-asked-questions/about-basics.html#:~:text=A%20visa%20allows%20a%20foreign,Admissions%20on%20the%20CBP%20website.">About
            Visas – The Basics</A></LI>
      </UL>


      <P><STRONG>Department of Homeland Security</STRONG></P>
      <UL>
        <LI><A HREF="https://www.dhs.gov/violence-against-women-act">Violence Against Women Act (VAWA) Confidentiality
            Provisions at DHS</A></LI>
      </UL>


      <P><EM><STRONG>U.S. Citizenship and Immigration Services (USCIS)</STRONG></EM></P>
      <UL>
        <LI><A href="">•Policy Manual, Vol. 1, Chap. 5, General Policies and Procedures, Part A., Customer Service,
            Privacy and Confidentiality in Customer Service</A></LI>
        <I>Tip: The USCIS Policy Manual is the agency’s centralized online repository for USCIS’s immigration
          policies</I>
        <LI><A href="https://www.uscis.gov/e-verify/about-program/our-commitment-privacy">E-Verify – Our Commitment to
            Privacy, U.S. Citizenship and Immigration Services (USCIS)</A></LI>
      </UL>


      <P><EM><STRONG>Customs and Border Patrol</STRONG></EM></P>
      <UL>
        <LI><A HREF="https://www.cbp.gov/list-page/frequently-asked-questions-privacy">Frequently Asked Questions:
            Privacy (CBP)</A></LI>
      </UL>




      <P><EM><STRONG>U.S. Immigration and Customs Enforcement</STRONG></EM></P>
      <UL>
        <LI><A href="javascript:window.open('https://www.ice.gov/management-administration/igp#wcm-survey-target-id')"
            title="(opens New Window)">Office of Information Governance and Privacy (ICE)</A></LI>

      </UL>




      <P><STRONG>Department of Labor</STRONG></P>
      <UL>
        <LI><A href="javascript:window.open('https://www.dol.gov/general/topic/discrimination/immdisc')"
            title="(opens New Window)">Popular Topics: Immigration</A></LI>

      </UL>



    </div>





  </li>
</ul>