   
   <H2 class="sub_section_header" style="text-underline: none;">Federal Records Act of 1950 (FRA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2014-title44/pdf/USCODE-2014-title44-chap31.pdf')" 
title="(opens New Window)">44 U.S.C. Chapter 31 et seq</A></H5>
            

<H4><STRONG>Overview</STRONG></H4>

               
<P>

         The FRA provides that “the head of each Federal agency shall make and preserve records containing adequate and proper documentation of the organization, functions, policies, decisions, procedures, and essential transactions of the agency and designed to furnish the information necessary to protect the legal and financial rights of the Government and of persons directly affected by the agency’s activities.” 
         [<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2008-title44/pdf/USCODE-2008-title44-chap31-sec3101.pdf">44 U.S.C. § 3101</A>]
<BR><BR>
The implementation of the FRA is overseen by the Archivist of the United States, who heads the National
Archives and Records Administration (NARA). The Archivist provides “guidance and assistance to Federal agencies with respect to ensuring adequate
and proper documentation of the policies and transactions of the Federal Government and ensuring proper records disposition.” [<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2011-title44/pdf/USCODE-2011-title44-chap29-sec2904.pdf">44 U.S.C. § 2904</A>]

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

                                   

      
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a540">
      Regulations
    </button>
    <div id="b-a540" class="usa-accordion__content">

                                                  
                                                  <p>
                                          
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2011-title36-vol3/pdf/CFR-2011-title36-vol3-chapXII-subchapB.pdf">36 C.F.R. Chapter XII Subchapter B Records Management </A><BR>      
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2011-title36-vol3/pdf/CFR-2011-title36-vol3-part1236.pdf">36 C.F.R. Part 1236 Electronic Records Management </A><BR>      
  
</p>
                                                 
                                                 
               </div>
           
  </li>
  

                              
                              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
