   
   <H2 class="sub_section_header" style="text-underline: none;">Communications Act of 1934 </H2>
<DIV class="content">
<H4><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2014-title47/pdf/USCODE-2014-title47.pdf')" 
title="(opens New Window)">TITLE  47—TELECOMMUNICATIONS</A></H4>
<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title47/pdf/USCODE-2014-title47-chap5-subchapII-partI-sec222.pdf">47 U.S.C. §§ et seq</A></H5>

<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title47/pdf/USCODE-2014-title47-chap5-subchapIII-partI-sec338.pdf">47 U.S.C. § 222, Privacy of Customer Information</A><BR>

<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title47/pdf/USCODE-2014-title47-chap5-subchapV-A-partIV-sec551.pdf">47 U.S.C. § 338(i), Privacy Rights of Satellite Subscribers</A><BR>

<A HREF="">47 U.S.C. § 551, Protection of Subscriber Privacy</A><BR>

<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title47/pdf/USCODE-2014-title47-chap5-subchapVI-sec605.pdf">47 U.S.C. § 605, Unauthorized Publication or Use of Communications</A><BR>

See also, <A HREF="https://transition.fcc.gov/Reports/1934new.pdf">The Communications Act of 1934</A><BR>





<H4><STRONG>Overview</STRONG></H4>

               
<P>
<A HREF="https://it.ojp.gov/PrivacyLiberty/authorities/statutes/1288">The Communications Act of 1934 (the “Act”)</A> combined and organized federal regulation of telephone, telegraph, and radio communications. The Act created the Federal Communications Commission (FCC) to oversee and regulate these industries. The Act is updated periodically to add provisions governing new communications technologies, such as broadcast, cable and satellite television.

The Act, as amended, is an expansive statue regulating U.S. telephone, telegraph, television, and radio communications. Its seven subchapters regulate virtually all aspects of the communications and broadcasting industry, including assignment of frequencies, rates and fees, standards, competition, terms of subscriber access, commercials, broadcasting in the public interest, government use of communications systems. The Act also provides for more detailed regulation and oversight via the establishment of the FCC.



<BR><BR>
Source: <A HREF="https://it.ojp.gov/PrivacyLiberty/authorities/statutes/1288">The Communications Act of 1934</A><BR>
</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

 
                    
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a335">
      Regulations
    </button>
    <div id="b-a335" class="usa-accordion__content">

                                                  
                                                  <p>
                                       
                                       <A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2015-title47-vol3/pdf/CFR-2015-title47-vol3-part64-subpartU.pdf">47 C.F.R. Part 64 Subpart U – Customer Proprietary Network Information</A>
                                                  

</p>
                                                 
                                                 
               </div>
           
  </li>
  
  
  <!-- STATUTORY IMPLEMENTATION GUIDANCE -->
                    
                                                 <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a336">
Statutory Implementation Guidance
</button>
    <div id="b-a336" class="usa-accordion__content">

                              
                       <P><STRONG>Federal Communications Commission (FCC)</STRONG></P>
    
    <p>
    <UL>                  
                       
<LI><A HREF="https://www.fcc.gov/document/fcc-releases-proposed-rules-protect-broadband-consumer-privacy">FCC Releases Proposed Rules to Protect Broadband Consumer Privacy, April 2016</A></LI>
<LI><A HREF="https://www.fcc.gov/document/isps-should-take-reasonable-steps-protect-privacy ">ISPs Should Take Reasonable Steps to Protect Privacy, May 2015</A></LI>
<LI><A HREF="https://apps.fcc.gov/edocs_public/attachmatch/FCC-13-89A1.pdf">Declaratory Ruling on Customer Proprietary Network Information in the Mobile Wireless Context, 2013</A></LI>
<LI><A HREF="https://apps.fcc.gov/edocs_public/attachmatch/FCC-07-22A1.pdf">Report and Order Adopting Rules to Address “Pretexting” and Other Matters, 2007</A></LI>
<LI><A HREF="https://apps.fcc.gov/edocs_public/attachmatch/FCC-02-214A1.pdf">Report and Order Adopting Implementing Rules, 2002</A></LI>

</UL>

<I>Note:</I> most FCC rules are adopted by a process known as “notice and comment” rule-making. Under that process, the FCC gives the public notice that it is considering adopting or modifying rules on a particular subject and seeks the public’s comment. The FCC considers the comments received in developing final rules.
                       
</P>
                                                 
                                                 
    </div>
                                                                                      
  </li>


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a337">
      Supplemental Material
    </button>
    <div id="b-a337" class="usa-accordion__content">
 
<P><STRONG>Federal Communications Commission (FCC)</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://www.fcc.gov/consumers/guides/protecting-your-privacy')" 
  title="(opens New Window)">Protecting Your Privacy: Phone and Cable Records</A></LI>
  </UL>


<P><STRONG>U.S. Department of Justice</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://www.justice.gov/usam/criminal-resource-manual-1066-interception-radio-communications-47-usc-605')" 
  title="(opens New Window)">U.S. Attorneys’ Manual, 47 U.S.C. § 605</A></LI>
  </UL>

<P><EM><STRONG>Office of Justice Programs, Bureau of Justice Assistance</STRONG></EM></P>
<UL>
  <LI><A href="javascript:window.open('https://it.ojp.gov/PrivacyLiberty/authorities/statutes/1288')" 
  title="(opens New Window)">The Communications Act of 1934</A></LI>
  </UL>


                         
    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
