<A NAME="F">

   <p class="section_header">F</p>
   <hr>
   
    {% include law-library-f-fair-credit-reporting-act.html %}   
    
    {% include law-library-f-family-educational-rights-and-privacy-act.html %}   
    
    {% include law-library-f-federal-agency-data-mining-reporting-act-2007.html %}   
   
    
   {% include law-library-f-common-rule-federal-policy-for-the-protection-of-human-subjects.html    %}
    
    {% include law-library-f-federal-information-security-modernization-act.html %}  
       
       
       
   
    {% include law-library-f-federal-records-act-1950.html %}   
    
    {% include law-library-f-food-and-drug-administration-safety-innovation-act.html %}   
    
    {% include law-library-f-foreign-intelligence-surveillance-act-1978-and-amendments.html %}   
    
    {% include law-library-f-foia.html %}   
    
    
    
    
    </A>
