<H2 class="sub_section_header" style="text-underline: none;">Protection of Pupil Rights Amendment (PPRA) </H2>
<DIV class="content">
  <H5><A
    href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title20/pdf/USCODE-2015-title20-chap31-subchapIII-part4-sec1232h.pdf')"
      title="(opens New Window)">20 U.S.C. § 1232h</A></H5>


  <H4><STRONG>Overview</STRONG></H4>


  <P>

    The PPRA applies to the programs and activities of a State educational agency (SEA), local educational agency (LEA),
    or other recipient of funds under any program funded by the U.S. Department of Education. It governs the
    administration to students of a survey, analysis, or evaluation that concerns one or more of the following eight
    protected areas:
  <UL>
    <LI>political affiliations or beliefs of the student or the student’s parent;</LI>
    <LI>mental or psychological problems of the student or the student’s family;</LI>
    <LI>sex behavior or attitudes;</LI>
    <LI>illegal, anti-social, self-incriminating, or demeaning behavior;</LI>
    <LI>critical appraisals of other individuals with whom respondents have close family relationships;</LI>
    <LI>legally recognized privileged or analogous relationships, such as those of lawyers, physicians, and ministers;
    </LI>
    <LI>religious practices, affiliations, or beliefs of the student or student’s parent; or,</LI>
    <LI>income (other than that required by law to determine eligibility for participation in a program or for receiving
      financial assistance under such program).</LI>
  </UL>
  <BR>
  PPRA also concerns marketing surveys and other areas of student privacy, parental access to information, and the
  administration of certain physical examinations to minors. The rights under PPRA transfer from the parents to a
  student who is 18 years old or an emancipated minor under State law.

  <BR><BR>
  Source: <A HREF="http://familypolicy.ed.gov/ppra">Family Policy Compliance Office: Protection of Pupil Rights
    Amendment (PPRA)</A><BR>
  </P>
</DIV>


<ul class="usa-accordion usa-accordion--bordered">

  <!-- HELPFUL TIPS -->



  <li>
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a890">
      Helpful Tips

    </button>
    <div id="b-a890" class="usa-accordion__content">


      PPRA may also be known as Section 445 of the General Education Provisions Act.
      <BR>
      Source: <A HREF="http://www2.ed.gov/policy/elsec/leg/esea02/pg122.html">U.S. Department of Education: General
        Education Provisions Act</A>



    </div>
  </li>


  <!-- REGULATIONS -->

  <li>
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a891">
      Regulations
    </button>
    <div id="b-a891" class="usa-accordion__content">


      <p>


        <BR>
        <A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title34-vol1/pdf/CFR-2016-title34-vol1-part98.pdf">34 C.F.R.
          Part 98</A><BR>

      </p>


    </div>

  </li>




  <!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="b-a892">
      Supplemental Material
    </button>
    <div id="b-a892" class="usa-accordion__content">
      <UL>
        <LI><A HREF="http://familypolicy.ed.gov/">Department of Education’s Family Policy Compliance Office</A></LI>
        <LI><A HREF="http://ptac.ed.gov/">Department of Education’s Privacy Technical Assistance Center</A></LI>
        <LI><A
            HREF="http://ptac.ed.gov/sites/default/files/Student%20Privacy%20and%20Online%20Educational%20Services%20%28February%202014%29.pdf">Protecting
            Student Privacy While Using Online Educational Services: Requirements and Best Practices</A></LI>
      </UL>

    </div>



  </li>
</ul>