<A NAME="privacy_act_of_1974">   
<H2 class="sub_section_header" style="text-underline: none;">Privacy Act of 1974 (Privacy Act)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title5/pdf/USCODE-2015-title5-partI-chap5-subchapII-sec552a.pdf')" 
title="(opens New Window)">5 U.S.C. § 552a</A></H5>
             

<H4><STRONG>Overview</STRONG></H4>

               
<P>

           The Privacy Act of 1974, 5 U.S.C. § 552a, establishes a code of fair information practices that governs the collection, maintenance, use, and dissemination of information about individuals that is maintained in systems of records by federal agencies. A system of records is a group of records under the control of an agency from which information is retrieved by the name of the individual or by some identifier assigned to the individual.
<BR><BR>
The Privacy Act requires U.S. Government agencies give public notice of their systems of records by publication in the Federal Register. The Privacy Act prohibits the disclosure of a record about an individual from a system of records absent the written consent of the individual, unless the disclosure is pursuant to one of twelve statutory exceptions. The Act also provides individuals with a means by which to seek access to and amendment of their records, and sets forth various agency record-keeping requirements.

<BR><BR>
Source: <A HREF="https://www.justice.gov/opcl/privacy-act-1974">U.S. Department of Justice – Privacy Act of 1974</A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

  
  
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a859">
                Helpful Tips

</button>
    <div id="b-a859" class="usa-accordion__content">
                                                                                                    
    The Computer Matching and Privacy Protection Act of 1988 (Pub. Law 100-503), amended the Privacy Act to include provisions governing computer-matching activities – those provisions have been incorporated into the Privacy Act.
<BR><BR>
Section 7 of Public Law 93-579, regarding Social Security numbers was originally part of the Privacy Act, but was not codified; it may be found at §552a in the note section. Similarly, Sections 6 and 9 of Public Law 100-503, the Computer Matching and Privacy Protection Act of 1988, may also be found at §552a in the note section.
               
                   
                   
    </div>
  </li>
                    
                    
  
  
  
  <!-- STATUTORY IMPLEMENTATION GUIDANCE -->
                    
                                                 <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a860">
Statutory Implementation Guidance
</button>
    <div id="b-a860" class="usa-accordion__content">

                              
                       <P><STRONG>Office of Management and Budget</STRONG></P>

<UL>
<LI><A HREF="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/circulars/A108/omb_circular_a-108.pdf">OMB Circular A-108, Federal Agency Responsibilities for 
Review, Reporting, and Publication under the Privacy Act (December 12, 2016)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/computer_amendments1991.pdf">Computer Matching and Privacy Protection Amendments of 1990 and the Privacy Act 
of 1974 )(56 FR 18599, April 23, 1991)</A></LI> 
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/inforeg/final_guidance_pl100-503.pdf">Final guidance Interpreting the Provisions of Public Law 100-503, the 
Computer Matching and Privacy Protection Act of 1988 (54 FR 25818, June 19, 1989)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/guidance_privacy_act.pdf">Guidance on Privacy Act Implications of “Call Detail” Programs (52 FR 12290, April 20, 1987) </A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/implementation1974.pdf">Implementation of the Privacy Act of 1974, Supplementary Guidance (40 FR 5674, November 21, 1975)</A></LI> 
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/implementation_guidelines.pdf">Privacy Act Implementation, Guidelines and Responsibilities (OMB) (40 FR 28948, July 9, 1975)</A></LI>
</UL>
                
                
               </P>
                          
                                                 
                                                 
    </div>
                                                                                      
  </li>

                                                    
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a861">
                Executive Orders, Memoranda, and Directives

</button>
    <div id="b-a861" class="usa-accordion__content">
                                       
    <p>                                       
            
       <UL>                                           
                                             
<LI><A HREF="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/circulars/A130/a130revised.pdf">OMB Circular A-130, Managing Federal Information as a Strategic Resource (July 2016)</A></LI>     
<LI><A HREF="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2016/m_16_24_0.pdf">OMB Memorandum M-16-24, Role and Designation of Senior Agency Officials for Privacy (Sept. 2016)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/omb/memoranda_m01-05">OMB Memorandum M-01-05, Guidance on Inter-Agency Sharing of Personal Data – Protecting Personal Privacy (Dec. 2000)</A></LI>                                                  
       </UL>
       
       
       <B>OMB Memorandum for Privacy Act Officers of Departments and Agencies</B>
       <UL><LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/spotila62100.pdf">Status of Biennial Reporting Requirements under the Privacy Act and the Computer Matching and Privacy Protection Act (June 21, 2000) </A></LI></UL>
       
       
       <BR>
       
       
       <B>OMB Memorandum for Agency Chief Information Officers</B>
       <UL><LI><A HREF="https://www.obamawhitehouse.gov/omb/inforeg_datacall/">Biennial Privacy Act and Computer Matching Reports (June 1998)</A></LI></UL>
       
       
       <BR>
       
       
       <B>OMB Memorandum for the Chief Information Officers</B>
       <UL><LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/katzen_prwora.pdf">Privacy Act Responsibilities for Implementing the Personal Responsibility and Work Opportunity Reconciliation Act of 1996 (November 3, 1997) </A></LI></UL>
       
       
       <BR>
       
       
       <B>OMB Memorandum for the Senior Agency Officials for Information Resources Management</B>
       <UL><LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/guidance1985.pdf">•Privacy Act Guidance — Update (May 24, 1985) </A></LI></UL>
       
       
       <BR>
       
       <B>OMB Memorandum M-83-11, Guidelines on the Relationship Between the Privacy Act of 1974 and the Debt Collection Act of 1982</B>
       <UL><LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/guidance1983.pdf">Privacy Act Guidance — Update (May 24, 1985) </A></LI></UL>
       
       
       <BR>
       
       
       <B>OMB Memorandum to the Heads of Executive Departments and Establishments</B>
       <UL><LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/inforeg/lynn1975.pdf">Congressional Inquiries which Entail Access to Personal Information Subject to the Privacy Act (October 3, 1975) </A></LI></UL>
       
       
       
       <BR>
       
       
       
       </p>
       
    </div>
  </li>
 
                              




<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a862">
      Supplemental Material
    </button>
    <div id="b-a862" class="usa-accordion__content">
 
<A HREF="https://www.justice.gov/opcl/overview-privacy-act-1974-2015-edition">Overview of the Privacy Act of 1974, U.S. Department of Justice </A>
                                                 
    </div>
    
                              
                              
          
                              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
