   
   <H2 class="sub_section_header" style="text-underline: none;">Food and Drug Administration Safety and Innovation Act (FDASIA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title21/pdf/USCODE-2015-title21-chap9-subchapI.pdf')" 
title="(opens New Window)">21 U.S.C. §§ 301 et seq</A></H5>
   <I>See also: </I><A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-112publ144/pdf/PLAW-112publ144.pdf">Food and Drug Administration Safety and Innovation Act (Public Law No. 112-144)</A><BR>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

FDASIA, which amended the Federal Food, Drug, and Cosmetic Act and was signed into law on July 9, 2012, expands the authorities of the U.S. Food and Drug Administration (FDA) and strengthens the agency’s ability to safeguard and advance public health by:

<UL>
<LI>Giving the authority to collect user fees from industry to fund reviews of innovator drugs, medical devices, generic drugs, and biosimilar biological products;</LI>
<LI>Promoting innovation to speed patient access to safe and effective products;</LI>
<LI>Increasing stakeholder involvement in FDA processes; and</LI></LI>
<LI>Enhancing the safety of the drug supply chain.</LI>
</UL>

Section 618 of FDASIA directed the Secretary of Health and Human Services, acting through the Commissioner of the FDA, and in consultation with the Office of the National Coordinator for Health Information Technology and the Chairman of the Federal Communications Commission, to develop a report that contains a proposed strategy and recommendations on an appropriate, risk-based regulatory framework for health IT, including medical mobile applications, that promotes innovation, protects patient safety, and avoids regulatory duplication.



<BR><BR>
Sources: <BR>
<A HREF="https://www.fda.gov/regulatory-information/selected-amendments-fdc-act/food-and-drug-administration-safety-and-innovation-act-fdasia">Regulatory Information: Food and Drug Administration Safety and Innovation Act (FDASIA)</A><BR>
<A HREF="https://www.fda.gov/regulatory-information/selected-amendments-fdc-act/food-and-drug-administration-safety-and-innovation-act-fdasia">Health IT Legislation: FDASIA</A><BR>


</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

      
 
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a560">
                Helpful Tips

</button>
    <div id="b-a560" class="usa-accordion__content">
                                                                                                    
                   Section 618 of FDASIA imposed a one-time requirement that the U.S. Department of Health and Human Services (HHS) issue “a report that contains a proposed strategy and recommendations on an appropriate, risk-based regulatory framework pertaining to health information technology, including mobile medical applications, that promotes innovation, protects patient safety, and avoids regulatory duplication.” The Office of Law Revision Counsel of the United States 
                   House of Representatives chose not to include this provision in the United States Code.  The report was issued in April 2014.
                   <BR><BR>
                   
                   Source: Food and Drug Administration Safety and Innovation Act (<A HREF="https://www.congress.gov/112/plaws/publ144/PLAW-112publ144.pdf">Public Law No. 112-144</A>)
                   
    </div>
  </li>
                    
                    
                    
                

<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a561">
      Supplemental Material
    </button>
    <div id="b-a561" class="usa-accordion__content">
 
<P><STRONG>Food and Drug Administration, Federal Communications Commission, Office of the National Coordinator for Health Information Technology</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://www.healthit.gov/sites/default/files/fdasia_healthitreport_final.pdf')" 
  title="(opens New Window)">FDASIA Health IT Report Proposed Risk Based Regulatory Framework, April 2014</A></LI>
  </UL>
                                                 
    </div>
    
                                                                                      
      </li>
    </ul>                                           
                                                                         
                                                                         
                    