   
   <H2 class="sub_section_header" style="text-underline: none;">Patient Safety and Quality Improvement Act of 2005 (PSQIA)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap6A-subchapVII-partC.pdf')" 
title="(opens New Window)">42 U.S.C. § 299b-21 – b-26 </A></H5>
               <A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-109publ41/pdf/PLAW-109publ41.pdf">Patient Safety and Quality Improvement Act of 2005 (Public Law 109-41).</A><BR>

<H4><STRONG>Overview</STRONG></H4>

               
<P>
The Patient Safety and Quality Improvement Act of 2005 (PSQIA) establishes a voluntary reporting system designed to enhance the data available to assess and  resolve patient safety and health care quality issues.  To encourage the reporting and analysis of medical errors, PSQIA provides Federal privilege and confidentiality protections for patient safety information, called patient safety work product.  PSQIA authorizes the U.S. Department of Health and Human Services (HHS) to impose civil money penalties for violations of patient safety confidentiality.  PSQIA also authorizes the Agency for Healthcare Research and Quality (AHRQ) to list patient safety organizations (PSOs).  PSOs are the external experts that collect and review patient safety information.

<BR><BR>
Source: <A HREF="https://www.hhs.gov/hipaa/for-professionals/patient-safety/statute-and-rule/index.html">Health Information Privacy: Patient Safety and Quality Improvement Act of 2005 Statute and Rule</A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

   
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a845">
                Helpful Tips

</button>
    <div id="b-a845" class="usa-accordion__content">
                                                                                                    
The PSQIA amends the Public Health Service Act (42 U.S.C. 299 et. seq.; Public Law No. 109-41) by inserting sections 921 through 926, <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap6A-subchapVII-partC.pdf">42 U.S.C. § 299b-21 through 299b-26</A>. The Patient Safety Rule implements select provisions of PSQIA.
<BR><BR>
Subpart C of the Patient Safety Rule establishes the confidentiality provisions and disclosure permissions for patient safety work product and the enforcement procedures for violations of confidentiality pursuant to section 922 of the statute.  The U.S. Department of Health and Human Services, Office for Civil Rights enforces these confidentiality protections.
<BR><BR>  
AHRQ lists patient safety organizations pursuant to section 924 of PSQIA and has responsibility for common formats and network of patient safety databases pursuant to section 923.
 <BR><BR>
 <I>Source:</I><A HREF="https://www.hhs.gov/hipaa/for-professionals/patient-safety/patient-safety-quality-improvement-act-2005/index.html">Health Information Privacy: Patient Safety and Quality Act of 2005 </A>
                                                
    </div>
  </li>
                    
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a846">
      Regulations
    </button>
    <div id="b-a846" class="usa-accordion__content">

                                                  
                                                  <p>
          
<A HREF="https://www.gpo.gov/fdsys/pkg/FR-2008-11-21/pdf/E8-27475.pdf">42 C.F.R. Part 3</A><BR>      

</p>
                                                 
                                                 
               </div>
           
  </li>
  
  
  <!-- STATUTORY IMPLEMENTATION GUIDANCE -->
                    
                                                 <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a847">
Implementation Guidance
</button>
    <div id="b-a847" class="usa-accordion__content">

                              
                       <P><STRONG>U.S. Department of Health and Human Services</STRONG></P>
                       
                       Office for Civil Rights
                      
<P><A href="javascript:window.open('javascript:window.open('https://www.gpo.gov/fdsys/pkg/FR-2016-05-24/pdf/2016-12312.pdf')" 
title="(opens New Window)">HHS Guidance Regarding Patient Safety Work Product and Providers’ External Obligations (May 2016)</A><BR>
<A href="javascript:window.open('https://www.hhs.gov/sites/default/files/PSQIAFDA2guidance.pdf')" 
title="(opens New Window)">Guidance Regarding Patient Safety Organizations’ Reporting Obligations to the FDA (December 2010)</A><BR>

               </P>
                          
                                                 
                                                 
    </div>
                                                                                      
  </li>


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a848">
      Supplemental Material
    </button>
    <div id="b-a848" class="usa-accordion__content">
 
<P><STRONG>U.S. Department of Health and Human Services</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://www.hhs.gov/hipaa/for-professionals/patient-safety/index.html')" 
  title="(opens New Window)">Understanding Patient Safety Confidentiality</A></LI>
  <LI><A href="https://www.hhs.gov/hipaa/for-professionals/patient-safety/guidance/index.html">Guidance for 
  Patient Safety Rule</A></LI>
</UL>
                                                 
    </div>
    
                              
                
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
