   
   <H2 class="sub_section_header" style="text-underline: none;">Individuals with Disabilities Education Act (IDEA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title20/pdf/USCODE-2015-title20-chap33.pdf')" 
title="(opens New Window)">20 U.S.C. §§ 1400 et seq</A></H5>
               <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title20/pdf/USCODE-2015-title20-chap33-subchapII-sec1417.pdf">20 U.S.C. § 1417(c), Confidentiality</A><BR>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

               IDEA is a law ensuring services to children with disabilities throughout the nation.  IDEA governs how states and public agencies provide early intervention, special education and related services to more than 6.5 million eligible infants, toddlers, children and youth with disabilities.

Infants and toddlers with disabilities (from birth through age 2) and their families receive early intervention services under IDEA Part C.  Children and youth (from age 3 through age 21) receive special education and related services under IDEA Part B.

Parts B & C require that the Secretary of the U.S. Department of Education shall take appropriate action, in accordance with section 444 of the General Education Provisions Act (GEPA), to ensure the confidentiality of any personally identifiable data, information, and records collected or maintained by the Secretary and by State educational agencies (SEA) and local educational agencies (LEA).

<BR><BR>
Source: <BR>
<A HREF="http://idea.ed.gov/explore/home">Building the Legacy: IDEA 2004</A><BR>
<A HREF="http://ptac.ed.gov/sites/default/files/IDEA%20FERPA%20Confidentiality%20Provisions%20Comparison%20Chart%2006.06.14.pdf">IDEA and FERPA Confidentiality Provisions </A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

   
      
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a715">
      Regulations
    </button>
    <div id="b-a715" class="usa-accordion__content">

                                                  
                                                  <p>
                                         
                                                  
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2015-title34-vol2/pdf/CFR-2015-title34-vol2-part300.pdf">Part B: 34 C.F.R. Part 300</A><BR>      
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2015-title34-vol2/pdf/CFR-2015-title34-vol2-part303.pdf">Part C: 34 C.F.R. Part 303</A><BR>      

</p>
                                                 
                                                 
               </div>
           
  </li>
  
  
 


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a716">
      Supplemental Material
    </button>
    <div id="b-a716" class="usa-accordion__content">
 
<P><STRONG>U.S. Department of Education</STRONG></P>

<UL>
  <LI><A href="javascript:window.open('http://ptac.ed.gov/sites/default/files/IDEA%20FERPA%20Confidentiality%20Provisions%20Comparison%20Chart%2006.06.14.pdf')" 
  title="(opens New Window)">IDEA and FERPA Confidentiality Provisions</A></LI>
</UL>

                                                 
    </div>
    
                                                                                
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
