   
   <H2 class="sub_section_header" style="text-underline: none;">Act to Regulate the Issue and Validity of Passports, And For Other Purposes, 1926 (as amended)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title22/pdf/USCODE-2015-title22-chap4-sec211a.pdf')" 
title="(opens New Window)">22 U.S.C. § 211a, Passports</A></H5><BR>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

This law provides that the U.S. Department of State is in charge of granting and issuing U.S. passports.
<BR><BR>

</P>
</DIV>                                                                                                  
                
 <ul class="usa-accordion usa-accordion--bordered">
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a825">
                Helpful Tips

</button>
    <div id="b-a825" class="usa-accordion__content">
                 
                 Passport records may consist of applications submitted for the issuance of a passport or other records such as a Consular Report of Birth, a Certificate of Witness to Marriage, a Certificate of Loss of Nationality, or a Consular Report of Death.  These records are protected by the Privacy Act of 1974, 5 U.S.C. § 552a.  Passport records do not include evidence of travel such as entrance/exit stamps, visas, residence permits, etc.

<I>Source:</I> <A HREF="https://travel.state.gov/content/passports/en/passports/services/obtain-copies-of-passport-records.html">Order Copies of Passport Records</A>

 

Executive Order 11295 designates and empowers the Secretary of State to exercise, without the approval, ratification, or other action of the President, the authority to designate and prescribe for and on behalf of the United States rules governing the granting, issuing, and verifying of passports.

<I>Source:</I> <A HREF="https://www.archives.gov/federal-register/codification/executive-order/11295.html">Executive Order 11295, Rules governing the granting, issuing, and verifying of United States passports</A>
                 
    </div>
  </li>
                    
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a826">
      Regulations
    </button>
    <div id="b-a826" class="usa-accordion__content">

                                                  
                                                  <p>
                                                
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title22-vol1/pdf/CFR-2016-title22-vol1-part51.pdf">22 C.F.R. Part 51</A><BR>      

</p>
                                                 
                                                 
               </div>
           
  </li>
  
 
                              
                                                              
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a827">
                Executive Orders, Memoranda, and Directives

</button>
    <div id="b-a827" class="usa-accordion__content">
                                       
    <p>                                       
            Rules Governing the Granting, Issuing, and Verifying of United States Passports, Exec. Order 11295 (31 FR. 10603, August 5, 1966)

Available at: <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title22/pdf/USCODE-2015-title22-chap4-sec211a.pdf">22 U.S.C. § 211a</A>,
Passports and for further information at the <A HREF="http://www.archives.gov/federal-register/codification/executive-order/11295.html">National Archives – Executive Orders</A>

                                                  
                                              
       
       </p>
       
    </div>
  </li>
 



<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a828">
      Supplemental Material
    </button>
    <div id="b-a828" class="usa-accordion__content">
 
<P><STRONG>Department of State</STRONG></P>
<UL>
<LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1310.html">Foreign Affairs Manual (FAM) Regulations on Passport Applications</A></LI>

<LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apT.html">Introduction to Passport Services</A></LI>

<LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apJ.html">Information Request Letters and Information Notices</A></LI>

<LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apF.html">Release of Information from Passport Files</A></LI>

<LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apF.html">Passport Amendments</A></LI>

<LI><A HREF="https://fam.state.gov/FAM/07FAM/07FAM1300apM.html">Gender Change on U.S. Passports</A></LI>

                                                               </UL>
                                                               
</div>
    
                     








                              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
