   
    <H2 class="sub_section_header" style="text-underline: none;">Title V – Confidential Information Protection and Statistical Efficiency Act of 2002 of the E-Government Act of 2002 (CIPSEA)</H2>
    <DIV class="content">
        <H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2014-title44/pdf/USCODE-2014-title44-chap35-subchapI-sec3501.pdf')"
        title="(opens New Window)">44 U.S.C. § 3501 note</A></H5><BR>
              <I>See also:</I><A HREF="https://www.gpo.gov/fdsys/pkg/STATUTE-116/pdf/STATUTE-116-Pg2899.pdf">Title V –
              Confidential Information Protection and Statistical Efficiency Act (CIPSEA) (Public Law No. 107-347)</A><BR>

        <H4><STRONG>Overview</STRONG></H4>


        <P>

                The Confidential Information Protection and Statistical Efficiency Act of 2002 (CIPSEA) can provide strong confidentiality protections for statistical information collections, such as surveys and censuses, as well as for other statistical activities, such as data analysis,
                modeling, and sample design, that are sponsored or conducted by Federal agencies.


        <BR><BR>
        Source:  <A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/fedreg/2007/061507_cipsea_guidance.pdf">Implementation
        Guidance for Title V of the E-Government Act, Confidential Information Protection and Statistical Efficiency Act of 2002 (CIPSEA)</A><BR>
        </P>
    </DIV>

 <ul class="usa-accordion usa-accordion--bordered">

<!-- STATUTORY IMPLEMENTATION GUIDANCE -->
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a565">
        Statutory Implementation Guidance
    </button>
    <div id="b-a565" class="usa-accordion__content">

        <P><STRONG>Executive Office of the President</STRONG></P>
        <P>
            <A href="javascript:window.open('https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/fedreg/2007/061507_cipsea_guidance.pdf')"
            title="(opens New Window)">Implementation Guidance for Title V of the E-Government Act, Confidential Information Protection and Statistical Efficiency Act of 2002 (CIPSEA), (Oct. 2006)</A><BR>
        </P>
    </div>
                                                                                      
  </li>


                                                       
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a566">
                Executive Orders, Memoranda, and Directives
    </button>
    <div id="b-a566" class="usa-accordion__content">
     <p>
        <LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2014-12-02/pdf/2014-28326.pdf">Statistical Policy Directive No. 1: Fundamental Responsibilities of Federal Statistical Agencies and Recognized Statistical Units </A></LI>
        <LI><A HREF="https://management.cio.gov/assets/docs/FITARA_Guidance_Statistical_Agencies_and_Units_OMB.pdf">Supplemental Guidance on the Implementation of M-15-14 “Management and Oversight of Federal Information Technology”: Applying FITARA Guidance to Statistical Agencies and Units </A></LI>
     </p>

     </div>
  </li>




<!--- SUPPLEMENTAL MATERIAL -->

<!--  <li>-->
<!--    <button class="usa-accordion__button"-->
<!--      aria-expanded="false"-->
<!--      aria-controls="b-a567">-->
<!--      Supplemental Material-->
<!--    </button>-->
<!--    <div id="b-a567" class="usa-accordion__content">-->

<!--         <UL>-->
<!--            <LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/information_and_regulatory_affairs/statistical-programs-2015.pdf">Statistical Programs of the United States Government, “Statistical Confidentiality and Statistical Data Sharing,” (p. 60)</A></LI>-->

<!--            <LI><A HREF="https://www.eia.gov/about/pdfs/2015_cipsea_report.pdf">U.S. Energy Information Administration Annual Report on Implementation of CIPSEA (2015)</A></LI>-->

<!--            <LI><A HREF="https://www.bls.gov/bls/cipsea-report.htm">Bureau of Labor Statistics Report to the Office of Management and Budget On Implementation of The Confidential Information Protection and Statistical Efficiency Act of 2002 Calendar Year 2015</A></LI>-->

<!--            <LI><A HREF="https://www.bls.gov/bls/cipsea-report.htm">Annual Report from the National Center for Health Statistics to the Office of Management and Budget as required in the Implementation Guidance for Title V of the E-Government Act, Confidential Information Protection and Statistical Efficiency Act of 2002 (CIPSEA)</A></LI>-->

<!--            <LI><A HREF="https://www.ssa.gov/policy/about/CIPSEA-Report-CY2015.pdf">Office of Research, Evaluation, and Statistics (ORES) Annual Report to OMB on the Implementation of CIPSEA for Calendar Year 2015</A></LI>-->
<!--        </UL>-->

<!--    </div>-->
<!--  </li>-->

 </ul>
                                                                         
                                                                         
                        
