   
   <H2 class="sub_section_header" style="text-underline: none;">Homeland Security Act of 2002</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6-chap1.pdf')" 
title="(opens New Window)">6 USC § 101 et seq</A></H5>
       <i>See also: </i>
       <A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-107publ296/pdf/PLAW-107publ296.pdf">Pub. Law 107-296</A> and the <A HREF="https://www.dni.gov/index.php/who-we-are/organizations/ogc/ogc-related-menus/ogc-related-content/ic-legal-reference-book">Office of the Director of National Intelligence Legal Reference Book</A>  
       <BR>

<H4><STRONG>Overview</STRONG></H4>
            
<P>
The Homeland Security Act of 2002 charges the Department of Homeland Security (DHS) Chief Privacy Officer with primary responsibility for ensuring that privacy considerations and protections are integrated into all DHS programs, policies, and procedures. The Chief Privacy Officer serves as the principal advisor to the DHS Secretary on privacy policy.
<BR><BR>
The activities of the Privacy Office serve to build privacy into departmental programs.


<BR><BR>
Sources: <BR>
<A HREF="https://www.dhs.gov/sites/default/files/publications/FINAL-PRIV-Section%20803%20FY16%20Semiannaul%20Report%2007%2006%2016.pdf">Department of Homeland Security, Privacy Office, “Fiscal Year 2016 Semiannual Report to Congress: For the period October 1, 2015 – March 31, 2016,” July 6, 2016</A><BR>
<A HREF="https://www.dhs.gov/chief-privacy-officers-authorities-and-responsibilities/">DHS, Authorities and Responsibilities of the Chief Privacy Officer</A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a640">
                Helpful Tips

</button>
    <div id="b-a640" class="usa-accordion__content">
                                                                                                    
 More information can be found in the following resources:
<UL>
<LI>Sec. 222. Privacy Officer. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2002-title6/pdf/USCODE-2002-title6-chap1-subchapII-partC-sec142.pdf">6 U.S.C. § 142</A>)</LI>
<LI>Sec. 1004. Information Security and Privacy Advisory Board. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title15/pdf/USCODE-2015-title15-chap7-sec278g-4.pdf">15 U.S.C. § 278g-4</A>)</LI>
<LI>Sec. 1601. Retention of security sensitive information authority at Department of Transportation. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title49/pdf/USCODE-2014-title49-subtitleVII-partA-subparti-chap401-sec40119.pdf">49 U.S.C. § 40119</A>)</LI>
</UL>
Subsequent amendments, <A HREF="https://www.gpo.gov/fdsys/pkg/PLAW-110publ53/pdf/PLAW-110publ53.pdf">Pub.L. 110-53, Implementing Recommendations of the 9/11 Commission Act of 2007</A>
                            
                                                
    </div>
  </li>

                     
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a641">
                Executive Orders, Memoranda, and Directives

</button>
    <div id="b-a641" class="usa-accordion__content">
                                       
    <p>                                       
<UL>                                             
<LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2008-08-04/pdf/E8-17940.pdf">United States 
Intelligence Activities, Exec. Order No. 12333 (46 FR 59941, Dec. 08, 1981), amended by Exec. Order 13284 (68 FR 4057, Jan. 28, 2003), Exec. Order 13355 (69 FR 53593, Sept. 1, 2004), and Exec. Order 13470 (73 FR 45325, Aug. 4, 2008)</A></LI>     
<LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2005-10-27/pdf/05-21571.pdf">Further Strengthening the Sharing of Terrorism Information to Protect Americans, 
Exec. Order No. 13388 (70 FR 62023, Oct. 27, 2005)</A></LI>
<LI><A HREF="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2016/m_16_24_0.pdf">OMB Memorandum M-16-24,
Role and Designation of Senior Agency Officials for Privacy (Sept. 2016)</A></LI>                                                  
                                                                                                    </UL>   
       </p>
       
                                                  
                                                  
    </div>
  </li>
 
  
  
  
  
    
    </ul>                                                