   
   <H2 class="sub_section_header" style="text-underline: none;">Justice System Improvement Act of 1979</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap46.pdf')" 
title="(opens New Window)">42 U.S.C. § 3701 et seq</A></H5>
               <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title42/pdf/USCODE-2015-title42-chap46-subchapVIII-sec3789g.pdf">42 U.S.C. § 3789(g) Confidentiality of information</A><BR>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

              As a Federal statistical agency that collects, analyzes, publishes, and disseminates a wide array of information on crime, criminal offenders, victims of crime, and the operation of justice systems at all levels of government, the Bureau of Justice Statistics (BJS) has taken aggressive measures to protect the privacy and confidentiality of individuals from whom they obtain information. BJS has procedures in place to ensure that information collected by BJS that is identifiable to a private person may only be used and/or revealed for the statistical or research-related purpose for which it is obtained. BJS has procedures in place to ensure that copies of such information shall not, without the consent of the person to whom the information pertains, be revealed to others who are not involved in the collection and analysis of the information.


<BR><BR>
Source: <A HREF="https://www.bjs.gov/content/dataquality/guidelines.cfm#guide1">Bureau of Justice Statistics Data Quality Guidelines</A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">
  
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a810">
      Regulations
    </button>
    <div id="b-a810" class="usa-accordion__content">

                                                  
                                                  <p>

<BR>
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2004-title28-vol1/pdf/CFR-2004-title28-vol1-part22.pdf">28 C.F.R. § 22</A><BR>      
     
</p>
                                               
               </div>
           
  </li>
  
  
  

<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a811">
      Supplemental Material
    </button>
    <div id="b-a811" class="usa-accordion__content">
 

<UL>
  <LI><A href="javascript:window.open('https://www.bjs.gov/content/pub/pdf/BJS_Data_Protection_Guidelines.pdf')" 
  title="(opens New Window)">BJS Data Protection Guidelines</A></LI>
  <LI><A href="https://www.bjs.gov/content/hscr.cfm">BJS Human Subjects/Confidentiality Requirements</A></LI>
</UL>

                                                 
    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
