   <H2 class="sub_section_header" style="text-underline: none;">Paperwork Reduction Act of 1995 (PRA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2014-title44/pdf/USCODE-2014-title44-chap35.pdf')" 
title="(opens New Window)">44 U.S.C. Chapter 35 et seq</A></H5>
             

<H4><STRONG>Overview</STRONG></H4>
               
<P>
               
               The Paperwork Reduction Act (PRA), signed into law in 1980 and reauthorized in 1995, provides the statutory framework for the Federal government’s collection, use, and dissemination of information. The goals of the PRA include (1) minimizing paperwork and reporting burdens on the American public and (2) ensuring the maximum possible utility from the information that is collected.
<BR><BR>
In support of these goals, the PRA requires Federal agencies to take specific steps before requiring or requesting information from the public. These steps include (1) seeking public comment on proposed information collections and (2) submitting proposed collections for review and approval by the Office of Management and Budget (OMB). Within OMB, the Office of Information and Regulatory Affairs (OIRA) carries out the information collection review.
<BR><BR>
One of the purposes of the Paperwork Reduction Act is to “ensure that the creation, collection, maintenance, use, dissemination, and disposition of information by or for the Federal Government is consistent with applicable laws, including laws relating to (A) privacy and confidentiality, including section 552a of title 5; (B) security of information, including section 11332 of title 40; and (C) access to information, including section 552 of title 5.” 44 U.S.C. § 3501(8).
       
<BR><BR>
Source: <A HREF="https://www.reginfo.gov/public/jsp/Utilities/faq.jsp">Office of Information and Regulatory Affairs – Regulations and the Rule Making Process</A><BR>
</P>
</DIV>                                                                                                  
                
 <ul class="usa-accordion usa-accordion--bordered">
   
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a840">
                Helpful Tips
</button>
    <div id="b-a840" class="usa-accordion__content">
                                                                                                    
                  The Paperwork Reduction Act was signed into law in 1980, reauthorized in 1995, and subsequently amended.
                           
                                                
    </div>
  </li>
                    
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a841">
      Regulations
    </button>
    <div id="b-a841" class="usa-accordion__content">
                                                  
                                                  <p>
                                                
<BR>
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title5-vol3/pdf/CFR-2016-title5-vol3-part1320.pdf">5 C.F.R. § 1320 </A><BR>      
</p>
                                                 
                                                 
               </div>
           
  </li>
  
  
                              
                              
                                                              
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a842">
                Executive Orders, Memoranda, and Directives
</button>
<div id="b-a842" class="usa-accordion__content">

<STRONG>Office of Management and Budget</STRONG>

<UL>
<LI><A HREF="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/circulars/A130/a130revised.pdf">OMB Circular No. A-130, Managing Information as a Strategic Resource (July 2016)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/inforeg/pra_flexibilities_memo_7_22_16_finalI.pdf">Flexibilities under the Paperwork Reduction Act for Compliance with Information Collection Requirements (July 2016)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/inforeg/memos/2015/behavioral-science-insights-and-federal-forms.pdf">Behavioral Science Insights and Federal Forms (Sept. 2015)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/inforeg/memos/2014/web-based-interactive-technologies-data-search-tools-calculators-paperwork-reduction-act.pdf">Web-based Interactive Technologies: Data Search Tools, Calculators, and the Paperwork Reduction Act (Sept. 2014)</A></LI> 
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/inforeg/memos/testing-and-simplifying-federal-forms.pdf">Testing and Simplifying Federal Forms (Aug. 2012)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/inforeg/memos/reducing-reporting-and-paperwork-burdens.pdf">Reducing Reporting and Paperwork Burdens (June 2012) </A></LI>
<LI><A HREF="https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2011/m11-26.pdf">OMB Memorandum M-11-26, New Fast-Track Process for Collecting Service Delivery Feedback Under the Paperwork Reduction Act (June 2011)</A></LI>
<LI><A HREF="https://www.whitehouse.gov/sites/whitehouse.gov/files/omb/memoranda/2011/m11-07.pdf">OMB Memorandum M-11-07, Facilitating Scientific Research by Streamlining the Paperwork Reduction Act Process (Dec. 2010)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/inforeg/PRA_Gen_ICRs_5-28-2010.pdf">Paperwork Reduction Act – Generic Clearances (May 2010) </A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/inforeg/PRAPrimer_04072010.pdf">Information Collection under the Paperwork Reduction Act (Apr. 2010)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/inforeg/SocialMediaGuidance_04072010.pdf">Social Media, Web-Based Interactive Technologies, and the Paperwork Reduction Act (Apr. 2010)</A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/statpolicy/standards_stat_surveys.pdf">Standards and Guidelines for Statistical Surveys (Sept. 2006) </A></LI>
<LI><A HREF="https://www.obamawhitehouse.gov/sites/default/files/omb/assets/omb/inforeg/pmc_survey_guidance_2006.pdf">Guidance on Agency Survey and Statistical Information Collections (Jan. 2006)</A></LI>
</UL>

         
    </div>
  </li>
 
                              
                              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                    
