   
   <H2 class="sub_section_header" style="text-underline: none;">Public Health Service Act (Confidentiality of Health Statistics) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2014-title42/pdf/USCODE-2014-title42-chap6A.pdf')" 
title="(opens New Window)">42 U.S.C. Ch. 6A</A></H5>
         <I>See also:</I> <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title42/pdf/USCODE-2014-title42-chap6A-subchapII-partA-sec242m.pdf">42 U.S.C. § 242m(d)</A><BR>

         <I>See also:</I> <A HREF="https://www.cdc.gov/rdc/Data/b4/section308.pdf">Section 308(d) of the Public Health Service Act</A><BR>


<H4><STRONG>Overview</STRONG></H4>

               
<P>

The Public Health Service Act, 42 U.S.C. Ch. 6A, provision regarding the confidentiality of health statistics prohibits the National Center for Health Statistics (NCHS) from using any personal information for any purpose other than what was described to survey participants and from sharing that information with anyone not clearly mentioned to them. This provision enables NCHS to assure respondents strict confidentiality.

<BR><BR>
Source: <A HREF="https://www.cdc.gov/nchs/about/policy/confidentiality.htm">How NCHS Protects Your Privacy</A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

   
         

<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a905">
      Supplemental Material
    </button>
    <div id="b-a905" class="usa-accordion__content">
 
    <UL>                                              
  <LI><A HREF="https://www.cdc.gov/nchs/about/policy/confidentiality.htm">How NCHS Protects Your Privacy: Confidentiality and Security of Information Collected by The National Center for Health Statistics</A></LI>
  <LI><A HREF="https://www.cdc.gov/nchs/data/misc/staffmanual2004.pdf">NCHS Staff Manual on Confidentiality</A></LI>
  </UL>
                                                 
    </div>
    
              
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
