<A NAME="B">

   <p class="section_header">B</p>
   <hr>
  <!-- BANK SECRECY ACT  -->

</A>
<H2 class="sub_section_header" style="text-underline: none;">Bank Secrecy Act (BSA)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title31/pdf/USCODE-2015-title31-subtitleI-chap3-subchapI-sec310.pdf')" 
title="(opens New Window)">31 U.S.C. § 310</A></H5>

<H4><STRONG>Overview</STRONG></H4>
<P>The Currency and Foreign Transactions Reporting Act of 1970 (which 
legislative framework is commonly referred to as the “Bank Secrecy Act” or 
“BSA”) requires U.S. financial institutions to assist U.S. government agencies 
to detect and prevent money laundering. Specifically, the Act requires financial 
institutions to keep records of cash purchases of negotiable instruments, file 
reports of cash transactions exceeding $10,000 (daily aggregate amount), and to 
report suspicious activity that might signify money laundering, tax evasion, or 
other criminal activities. It was passed by the Congress of the United States in 
1970. The BSA is sometimes referred to as an anti-money laundering” law (“AML”) 
or jointly as “BSA/AML.” Several AML Acts, including provisions in Title III of 
the USA PATRIOT Act of 2001, have been enacted up to the present to amend the 
BSA. (See 31 USC 5311-5330 and 31 CFR Chapter X [formerly 31 CFR Part 103] )</P>
<P><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title31/pdf/USCODE-2015-title31-subtitleI-chap3-subchapI-sec310.pdf')">Sec. 
31 U.S.C. § 310 (c)(2) </A>requires the US Department of the Treasury, Financial 
Crimes Enforcement Network (FinCEN) to provide appropriate standards and 
guidelines for determining who is to be given access to the information 
maintained by FinCEN; what limits are to be imposed on the use of such 
information; and how information about activities or relationships which involve 
or are closely associated with the exercise of constitutional rights is to be 
screened out of the data maintenance system.</P>
<P>When investigating potential money laundering or Bank Secrecy Act (BSA) 
violations, the key test (related statute test) is whether, under the facts and 
circumstances of the particular case, the money laundering and BSA provisions 
are considered related to the administration of the Internal Revenue laws.</P>
<P>Source:<br><A href="javascript:window.open('https://www.fincen.gov/resources/statutes-regulations/fincens-mandate-congress')" title="(opens New Window)">FinCEN’s Mandate from Congress</A></P>                                                                                                  </DIV>                                                                                                  
                                                                                      
                                                              
 <ul class="usa-accordion usa-accordion--bordered">

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a9">
      Helpful Tips
    </button>
    <div id="b-a9" class="usa-accordion__content">
     <P><A href="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title31/pdf/USCODE-2015-title31-subtitleI-chap3-subchapI-sec310.pdf">Sec. 
31 U.S.C. § 310 (c)(2) </A>Requirements Relating to Maintenance and Use of Data 
Banks</P>
                                                                                                    
                                                 
                                                
    </div>
  </li>
                                                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a10">
      Regulations
    </button>
    <div id="b-a10" class="usa-accordion__content">

<P><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/CFR-2012-title31-vol3/pdf/CFR-2012-title31-vol3-subtitleB-chapX.pdf')" 
title="(opens New Window)">31 C.F.R. Chapter X-Financial Crimes Enforcement Network, 
Department of the Treasury</A></P>
                                                 
                                                 
                                                 
                                                 
                                                 
               </div>
           
  </li>
                    
                                                 <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a11">
      Statutory Implementation Guidance
    </button>
    <div id="b-a11" class="usa-accordion__content">
 
                       <P><STRONG>US Department of the Treasury, Financial Crimes Enforcement Network 
(FinCEN)</STRONG></P>
<P><A href="javascript:window.open('https://www.fincen.gov/sites/default/files/shared/FIN-2010-A014.pdf')" 
title="(opens New Window)">Advisory, Maintaining the Confidentiality of Suspicious Activity 
Reports</A></P>
                          
                                                 
                                                 
    </div>
                                                                                      
  </li>

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a12">
      Supplemental Material
    </button>
    <div id="b-a12" class="usa-accordion__content">
 
<P><STRONG>US Department of the Treasury</STRONG></P>
<P><EM><STRONG>Financial Crimes Enforcement Network (FinCEN)</STRONG></EM></P>
<UL>
  <LI><A href="javascript:window.open('https://www.fincen.gov/resources/fincens-mandate-congress')" 
  title="(opens New Window)">FinCEN’s Mandate from Congress</A></LI>
  <LI><A href="https://www.fincen.gov/sites/default/files/shared/ChapterXFAQ.pdf">Answers 
  to Frequently Questions about 31 C.F.R. Chapter X</A></LI></UL>

<P><EM><STRONG>Internal Revenue Service (IRS)</STRONG></EM></P>
<UL>
  <LI><A>Bank Secrecy Act</A></LI></UL>
                                                 
    </div>
    
                                                                                      
      </li>
                                                
                                                
                                                
                                                
    </ul>
