   
   <H2 class="sub_section_header" style="text-underline: none;">Cybersecurity Information Sharing Act of 2015 (CISA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title6/pdf/USCODE-2015-title6.pdf')" 
title="(opens New Window)">6 U.S.C. §§ 149, 151, 1501-1510, 1521-1525, 1531-1533</A></H5>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

       On December 18, 2015, the President signed the Cybersecurity Act of 2015 (CISA) into law.  Congress enacted CISA, Title I of the Cybersecurity Act, to direct the Department of Homeland Security (DHS)—in collaboration with other named agencies—to create a voluntary cybersecurity information sharing process that will protect participants from certain types of liability and encourage public and private entities to 
       share cyber threat information in real-time while protecting the privacy and civil liberties of individuals.

<BR><BR>
Source: <A HREF="https://www.us-cert.gov/sites/default/files/ais_files/Privacy_and_Civil_Liberties_Guidelines_%28Sec%20105%28b%29%29.pdf">Privacy and Civil Liberties Final Guidelines: Cybersecurity Information Sharing Act of 2015"</A><BR>
</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a330">
                Executive Orders, Memoranda, and Directives

</button>
    <div id="b-a330" class="usa-accordion__content">
                                       
    <p>           
    <A HREF="https://www.gpo.gov/fdsys/pkg/FR-2015-02-20/pdf/2015-03714.pdf">Promoting Private Sector Cybersecurity Information Sharing, Exec. Order No. 13691, (80 FR 9349, Feb. 13, 2015)</A><BR><BR>
        <A HREF="https://www.federalregister.gov/articles/2013/02/19/2013-03915/improving-critical-infrastructure-cybersecurity">Improving Critical Infrastructure Cybersecurity, Exec. Order No. 13636 ( 78 FR 11737, February 12, 2013)</A><BR><BR>
            <A HREF="https://www.obamawhitehouse.gov/the-press-office/2013/02/12/presidential-policy-directive-critical-infrastructure-security-and-resil">Critical Infrastructure Security and Resilience, Presidential Policy Directive/PPD-21 (Feb. 2013)</A><BR><BR>
                <A HREF="https://www.obamawhitehouse.gov/the-press-office/2016/07/26/presidential-policy-directive-united-states-cyber-incident">United States Cyber Incident Coordination, Presidential Policy Directive/PPD–41 (July 2016)</A><BR>
    
       </p>
       
    </div>
  </li>
 
 

<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a331">
      Supplemental Material
    </button>
    <div id="b-a331" class="usa-accordion__content">
 
<P><STRONG>U.S. Department of Homeland Security</STRONG></P>

<UL>
  <LI><A href="javascript:window.open('https://www.us-cert.gov/ais')" 
  title="(opens New Window)">Cybersecurity Information Sharing Act of 2015, June 15, 2016.</A></LI>
  <LI><A href="https://www.us-cert.gov/ais">Guidance to Assist Non-Federal Entities to Share Cyber Threat Indicators and Defensive Measures with Federal Entities under the Cybersecurity Information Sharing Act of 2015, June 15, 2016.</A></LI>
  <LI><A href="https://www.us-cert.gov/ais">Guidance on Sharing of Cyber Threat Indicators and Defensive Measures by the Federal Government under the Cybersecurity Information Sharing Act of 2015, February 16, 2016.</A></LI>
  <LI><A href="https://www.us-cert.gov/ais">Final Procedures Related to the Receipt of Cyber Threat Indicators and Defensive Measures by the Federal Government, June 15, 2016.</A></LI>
  
  </UL>

                                                 
    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
