   
   <H2 class="sub_section_header" style="text-underline: none;">Health Insurance Portability and Accountability Act of 1996 (HIPAA Privacy Rule)</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/PLAW-104publ191/pdf/PLAW-104publ191.pdf')" 
title="(opens New Window)">Health Insurance Portability and Accountability Act of 1996 (Public Law 104-191)</A></H5>
               <A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2011-title45-vol1/pdf/CFR-2011-title45-vol1-part160-subpartA.pdf">45 C.F.R. Part 160</A><BR>
               <A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2011-title45-vol1/pdf/CFR-2011-title45-vol1-part164.pdf">45 C.F.R. Part 164 Subparts A and E</A><BR>
               

<H4><STRONG>Overview</STRONG></H4>

               
<P>

              The HIPAA Privacy Rule, adopted by the U.S. Department of Health and Human Services pursuant to the Health Insurance Portability and Accountability Act of 1996 (HIPAA) establishes national standards to protect individuals’ medical records and other personal health information and applies to health plans, health care clearinghouses, and those health care providers that conduct certain health care transactions electronically.  The Rule requires appropriate safeguards to protect the privacy of personal health information, and sets limits and conditions on the uses and disclosures that may be made of such information without patient authorization. The Rule also gives patients rights over their health information, including rights to examine and obtain a copy of their health records, and to request corrections.


<BR><BR>
Sources: <BR>
<A HREF="https://www.hhs.gov/hipaa/for-professionals/privacy/index.html">Health Information Privacy: The HIPAA Privacy Rule</A><BR>
<A HREF="https://aspe.hhs.gov/report/health-insurance-portability-and-accountability-act-1996">The Health Insurance Portability and Accountability Act of 1996</A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

              
 
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a620">
                Helpful Tips

</button>
    <div id="b-a620" class="usa-accordion__content">
                                                                                                    
The complete suite of HIPAA Administrative Simplification Regulations can be found at 45 C.F.R. Part 160, Part 162, and Part 164, and includes:
<BR>
<UL>
<LI>Transactions and Code Set Standards</LI>
<LI>Identifier Standards</LI>
<LI>Privacy Rule</LI>
<LI>Security Rule</LI>
<LI>Enforcement Rule</LI>
<LI>Breach Notification Rule</LI>
</UL>
Source: <A HREF="https://www.hhs.gov/hipaa/for-professionals/privacy/laws-regulations/combined-regulation-text/index.html">Health Information Privacy, Complete Text of All Rules</A>
                             
                                                
    </div>
  </li>
                    
                    
                    
     

<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a621">
      Supplemental Material
    </button>
    <div id="b-a621" class="usa-accordion__content">
 
<P><STRONG>U.S. Department of Veterans Affairs, Office of General Counsel</STRONG></P>
<UL>
<LI><A HREF="https://www.hhs.gov/hipaa/for-professionals/privacy/index.html">The HIPAA Privacy Rule</A></LI>
<LI><A HREF="https://www.hhs.gov/hipaa/for-professionals/privacy/laws-regulations/index.html">Summary of the HIPAA Privacy Rule</A></LI>
<LI><A HREF="https://www.hhs.gov/hipaa/for-professionals/privacy/guidance/index.html">HIPAA Guidance Materials</A></LI>
<LI><A HREF="https://www.hhs.gov/hipaa/for-professionals/special-topics/index.html">Special Topics in Health Information Privacy</A></LI>
<LI><A HREF="https://www.hhs.gov/hipaa/for-professionals/faq">HIPAA FAQs for Professionals</A></LI>
<LI><A HREF="https://www.cdc.gov/mmwr/preview/mmwrhtml/m2e411a1.htm">HIPAA Privacy Rule and Public Health; Guidance from CDC and the U.S. Department of Health and Human Services</A></LI>
<LI><A HREF="https://privacyruleandresearch.nih.gov/">HHS National Institutes of Health (NIH), HIPAA Privacy Rule,  Information for Researchers</A></LI>

 
 
</UL>




 
<P><STRONG>U.S. Department of Defense, Defense Health Agency (DHA) Privacy and Civil Liberties Office</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('http://www.va.gov/ogc/hipaa.asp')" 
  title="(opens New Window)">HIPAA Information</A></LI>
 
</UL>







 
<P><STRONG>U.S. Department of Defense, Defense Health Agency (DHA) Privacy and Civil Liberties Office</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://health.mil/Military-Health-Topics/Privacy-and-Civil-Liberties/HIPAA-Compliance-within-the-MHS')" 
  title="(opens New Window)">HIPAA Compliance within the Military Health Systems</A></LI>
</UL>






</div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
