   
   <H2 class="sub_section_header" style="text-underline: none;">National Security Act of 1947</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap44.pdf')" 
title="(opens New Window)">50 U.S.C. § 3001 et seq</A></H5>
               <A HREF="https://www.dni.gov/index.php/ic-legal-reference-book/national-security-act-of-1947">National Security Act of 1947</A><BR>

<H4><STRONG>Overview</STRONG></H4>

               
<P>
In the aftermath of World War II, the National Security Act provided a major reorganization of the U.S. defense and intelligence agencies. As amended, the Act provides “a comprehensive program for the future security of the United States” through the integration of the policies and procedures of U.S. military, intelligence, and national security agencies, and the coordination of national security policy.

<BR><BR>
Source: <A HREF="https://it.ojp.gov/PrivacyLiberty/authorities/statutes/1280">National Security Act </A><BR>

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

   
                                   
<!-- HELPFUL TIPS -->
                                   
                                   
                                   
  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a815">
                Helpful Tips

</button>
    <div id="b-a815" class="usa-accordion__content">
                                                                                                    
   Sec. 103D. Civil Liberties Protection Officer. (<A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2014-title50/pdf/USCODE-2014-title50-chap44-subchapI-sec3029.pdf">50 U.S.C. § 3029</A>)
   
    </div>
  </li>
                    
                    
                    
                              
                              
                                                              
<!-- EXECUTIVE ORDERS, MEMORANDA, AND DIRECTIVES -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a816">
                Executive Orders, Memoranda, and Directives

</button>
    <div id="b-a816" class="usa-accordion__content">
                                       
    <p>                                       
                    <UL>                         
<LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2008-08-04/pdf/E8-17940.pdf">United States Intelligence Activities, Exec. Order No. 12333, Fed. Reg. Vol. 46, No. 59941 (Dec. 04, 1981), amended by Exec. Order </A></LI>     
<LI><A HREF="https://www.gpo.gov/fdsys/pkg/FR-2005-10-27/pdf/05-21571.pdf">Further Strengthening the Sharing of Terrorism Information to Protect Americans, Exec. Order No. 13388, Fed. Reg. Vol. 70, No. 207 (Oct. 25, 2005)</A></LI>      
<LI><A HREF="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2016/m_16_24_0.pdf">OMB Memorandum M-16-24, Role and Designation of Senior Agency Officials for Privacy (Sept. 2016)</A></LI>         

</UL>
                                                                                                    
       
       </p>
       
    </div>
  </li>
 
                              
                              
                                                                                      
      </li>
    </ul>                                                
