   
   <H2 class="sub_section_header" style="text-underline: none;">Title 13 – Census </H2>
<DIV class="content">
<H5><A href="" 
target="_blank"></A></H5>
<P>&nbsp;</P>
<H4><STRONG>Overview</STRONG></H4>

               
<P>

           The Census Bureau is bound by Title 13 of the United States Code. These laws not only provide authority for the work it does, but also provide strong protection for the information it collects from individuals and businesses.

People sworn to uphold Title 13 are legally required to maintain the confidentiality of respondent data. Every person with access to respondent data is sworn for life to protect your information and understands that the penalties for violating this law are applicable for a lifetime.

<BR><BR>
Sources: <BR>
<A HREF="https://www.census.gov/about/policies/privacy/data_protection/title_13_-_protection_of_confidential_information.html">Title 13 – Protection of Confidential Information</A><BR>

<A HREF="https://www.census.gov/about/policies/privacy/data_protection/oath_of_non-disclosure.html">Oath of Non-Disclosure</A>


</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

  
<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a345">
      Supplemental Material
    </button>
    <div id="b-a345" class="usa-accordion__content">
 <A HREF="https://www.census.gov/about/policies/privacy/data_protection.html">U.S. Census Bureau Data Protection</A>                                                 
    </div>
    
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                                         
                        
