   
   <H2 class="sub_section_header" style="text-underline: none;">Confidentiality of Medical Quality Assurance Records</H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title38/pdf/USCODE-2015-title38-partIV-chap57.pdf')" 
title="(opens New Window)">38 U.S.C. §§ 5701 – 5728</A></H5>

<H4><STRONG>Overview</STRONG></H4>

               
<P>

               Records and documents created by the Department of Veterans Affairs (VA) as part of a medical quality-assurance program are confidential and privileged and  may not be disclosed to any person or entity except as provided in 38 U.S.C. § 5705.


</P>
</DIV>                                                                                                  
                

<!-- HELPFUL TIPS -->

 <ul class="usa-accordion usa-accordion--bordered">

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a325">
                Helpful Tips

</button>
    <div id="b-a325" class="usa-accordion__content">
                                                                                                    
                   The VA’s National Center for Patient Safety (NCPS) has developed an internal, confidential, non-punitive system— the Patient Safety Information System. This reporting and analysis system allows users to electronically document patient safety information from across the VA so that “lessons learned” can benefit the entire system. A combined total of more than 1,000,000 root cause analysis reports and safety reports have been entered into the reporting system since it was established.  Confidentiality is a key reason for the system’s success. Because the Patient Safety Information System is part of a medical quality assurance program, the information within it is protected from disclosure under 
                   <A HREF="https://www.gpo.gov/fdsys/pkg/USCODE-2015-title38/pdf/USCODE-2015-title38-partIV-chap57-subchapI-sec5705.pdf">38 U.S.C. § 5705.</A>
                   
                   
                   <BR><BR>
                   Source: <A HREF="http://www.patientsafety.va.gov/media/reporting.asp">V.A. National Center for Patient Safety</A>
                   
    </div>
  </li>
                    
                    
                    
                
<!-- REGULATIONS -->                
                    
<li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a326">
      Regulations
    </button>
    <div id="b-a326" class="usa-accordion__content">

                                                  
                                                  <p>
                                                     Regulations Text
                      
<BR>
<A HREF="https://www.gpo.gov/fdsys/pkg/CFR-2016-title38-vol1/pdf/CFR-2016-title38-vol1-part17.pdf">38 C.F.R. § 17.500-511</A><BR>      
                      

</p>
                                                 
                                                 
               </div>
           
  </li>
  
  
    </ul>                                                
                                                                         
                                                                         
                        
