   
   <H2 class="sub_section_header" style="text-underline: none;">Freedom of Information Act (FOIA) </H2>
<DIV class="content">
<H5><A href="javascript:window.open('https://www.gpo.gov/fdsys/pkg/USCODE-2015-title5/pdf/USCODE-2015-title5-partI-chap5-subchapII-sec552.pdf')" 
title="(opens New Window)">5 U.S.C. § 552</A></H5>
               <I>See also: </I><A HREF="https://www.congress.gov/114/bills/s337/BILLS-114s337enr.xml">Full Text of the FOIA Improvement Act of 2016 (Public Law No. 114-185)</A><BR>
               <I>See also: </I><A HREF="https://www.justice.gov/oip/freedom-information-act-5-usc-552">U.S. Department of Justice Freedom of Information Act </A><BR>
               

<H4><STRONG>Overview</STRONG></H4>

               
<P>
Since 1967, the <A HREF="https://www.foia.gov/about.html">Freedom of Information Act (FOIA)</A> has provided 
the public the right to request access to records from any federal agency. It is often described as the law that keeps citizens in the know about their government. Federal agencies are required to disclose any information requested under the FOIA unless it 
falls under one of nine exemptions which protect interests such as personal privacy, national security, and law enforcement.

</P>
</DIV>                                                                                                  
                


 <ul class="usa-accordion usa-accordion--bordered">

     
       
       
  
  <!-- STATUTORY IMPLEMENTATION GUIDANCE -->
                    
                                                 <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a570">
Statutory Implementation Guidance
</button>
    <div id="b-a570" class="usa-accordion__content">

                              
                         <P><STRONG>U.S. Department of Justice</STRONG></P>



<UL>
  <LI><A href="javascript:window.open('https://www.justice.gov/oip/doj-guide-freedom-information-act-0')" 
  title="(opens New Window)">Department of Justice Guide to the Freedom of Information Act</A></LI>
</UL>
              
              
               </P>
                          
                                                 
                                                 
    </div>
                                                                                      
  </li>
  
  
  
  


<!--- SUPPLEMENTAL MATERIAL -->

  <li>
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="b-a572">
      Supplemental Material
    </button>
    <div id="b-a572" class="usa-accordion__content">
 
<P><STRONG>U.S. Department of Justice</STRONG></P>
<UL>
  <LI><A href="javascript:window.open('https://www.justice.gov/oip')" 
  title="(opens New Window)">Office of Information Policy (OIP)<A></LI>
  <LI><A href="https://www.foia.gov/index.html">FOIA.gov </A></LI></UL>



    </div>
    
                                                                                      
      </li>
                                               
                 
                                                                                      
      </li>
    </ul>                                                
                                                                         
                                                               
                                                                         
                                                                         
    