<div class="usa-logo" id="extended-logo">
  <div class="usa-logo__text display-flex font-sans-sm line-height-sans-4 tablet:width-tablet">
    <a href="{{site.baseurl}}/" title="FPC - Federal Privacy Council" class="display-inline-flex flex-row  flex-align-center">
      <img class="width-10" alt="logo: Federal Privacy Council (FPC)" src="{{site.baseurl}}/assets/img/logo-main.png">
      <span class="margin-left-2 text-normal line-height-sans-6 margin-top-05">
        <em>Protecting Privacy.<br>Promoting Trust in Government.</em>
      </span>
    </a> 
  </div>
</div>

