<div class="usa-logo" id="extended-logo">
  <div class="usa-logo__text display-flex flex-align-center font-sans-sm line-height-sans-4 width-tablet">
    <a href="{{site.baseurl}}" title="FPC Home" aria-label="FPC Home" class="margin-right-3">
      <img class="width-10" alt="FPC header logo" src="{{site.baseurl}}/assets/img/logo-main.png">
    </a> 
    <p class="text-normal">
      <em><b>Strengthening protection</b> of people's personal information<br>and <b>privacy rights</b> across the Federal Government</em>
    </p>
  </div>
</div>


