{% comment %}
You shouldn't have to edit this page very often. But if you want to modify some of the meta-data for the
site, this is the place to do it.
{% endcomment %}

{% if site.baseurl contains '/preview/' %}
{% assign absoluteurl = 'https://federalist-61b9594e-083a-41f6-89bb-8b418db4ccf9.sites.pages.cloud.gov/' %}
{% else %}
{% assign absoluteurl = '' %}
{% endif %}
<head>
    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title and meta description
      ================================================== -->
    <title>{{ page.title }} | {{site.title}}</title>

    <meta property="og:image" content="{{absoluteurl}}{{ site.baseurl | absolute_url }}{% if page.ogimage %}{{ page.ogimage }}{% else %}{{ site.ogimage }}{% endif %}" />
    <meta property="og:title" content="{% if page.ogtitle %}{{ page.ogtitle }}{% else %}{{ page.title }}{% endif %}">
    <meta name="description" content="{% if page.ogdescription %}{{ page.ogdescription }}{% else %}{{ site.ogdescription }}{% endif %}">
    <meta property="og:description" content="{% if page.ogdescription %}{{ page.ogdescription }}{% else %}{{ site.ogdescription }}{% endif %}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{site.twitter}}" />

    {% if page.url contains "/data-privacy-week-2024/" %}
    <meta name="twitter:title" content="Data Privacy Week 2024 January 21-27" />
    <meta name="twitter:image" content="https://federalist-61b9594e-083a-41f6-89bb-8b418db4ccf9.sites.pages.cloud.gov/preview/gsa/fpc.gov/feature/ECASOGP-10908/assets/img/DPW.png" />
    <meta name="twitter:description" content="The Federal Privacy Council is proud to support Data Privacy Week 2024. This page contains: Useful resources, Events hosted by the Federal community, and Data Privacy Champions." />
    {% else %}
    <meta name="twitter:title" content="{{site.title}}" />
    <meta name="twitter:description" content="{{site.description}}" />
    {% endif %}

    <meta property="og:type" content="article">
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <!-- Favicons
      ================================================== -->
    <!-- 128x128 -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/uswds/img/favicons/favicon.png">

    <!-- 192x192, as recommended for Android
      http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
      -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/assets/uswds/img/favicons/favicon-192.png">
    <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/uswds/img/favicons/favicon-57.png">
    <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/uswds/img/favicons/favicon-72.png">
    <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/uswds/img/favicons/favicon-114.png">
    <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/uswds/img/favicons/favicon-144.png">
    <!-- CSS
      ================================================== -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/index.css?{{ site.time | date: '%s%N' }}">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main-page.css?{{ site.time | date: '%s%N' }}">

</head>
