{% comment %}
This banner will be displayed on the homepage. It highlights the President's Management Agenda and newsletter signup.
{% endcomment %}

<section class="usa-graphic-list grid-container ">
    <div class="grid-container shadow-5 radius-lg bg-white padding-y-5">
        <div class="usa-graphic-list__row grid-row grid-gap">

            <div class="tablet:grid-col-6">
                <h3 class=" margin-top-0 tablet:margin-bottom-0 font-sans-lg text-primary-darker">President's Management Agenda</h3>
                <p class="font-sans-sm text-ink padding-bottom-3">The President’s Management Agenda (PMA) lays out a long-term vision for modernizing the Federal Government. Learn about the PMA's Cross-Agency Priority (CAP) Goals.
                </p><a class="usa-button usa-button--hover border-0 " href="https://www.performance.gov/index.html#president-agenda">Learn More</a>
            </div>

            <div class="tablet:grid-col-6">
                <h3 class="margin-top-0 tablet:margin-bottom-0 font-sans-lg text-primary-darker">Interested in Federal Privacy?</h3>
                <p class="font-sans-sm text-ink">Email the FPC Inbox to join our Council listservs and to get involved in Committees, Communities of Practice, and Working Groups! Note that our listservs are only open to Executive Branch .gov and .mil email addresses.
                </p><a class="usa-button usa-button--hover border-0 " href="mailto:privacy.council@gsa.gov?subject=Sign Up!">Sign Up!</a>
            </div>


        </div>
    </div>
</section>
