{% comment %}
This banner will be displayed on the homepage. It highlights the President's Management Agenda and newsletter signup.
{% endcomment %}

<section class="usa-graphic-list grid-container ">
    <div class="grid-container shadow-5 radius-lg bg-white padding-y-5">
        <div class="usa-graphic-list__row grid-row grid-gap">

            <div class="tablet:grid-col-6">
                <h3 class=" margin-top-0 tablet:margin-bottom-0 font-serif-lg">President's Management Agenda</h3>
                <p class="font-sans-sm text-ink">The President’s Management Agenda (PMA) lays out a long-term vision for modernizing the Federal Government. It's one of the key ways our Council sets priorities. Learn how the PMA's Cross-Agency Priority (CAP) Goals relate to Federal IT.
                </p>
                <a class="usa-button border-0" href="https://performance.gov/pma/">Learn More</a>
            </div>

            <div class="tablet:grid-col-6">
                <h3 class="margin-top-0 tablet:margin-bottom-0 font-serif-lg">Interested in Federal Privacy?</h3>
                {% include newsletter.html %}
            </div>

        </div>
    </div>
</section>
