// Import the US Web Design System SASS.

@import "uswds";

// Add your SASS/CSS here

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
  .usa-footer__secondary-section .flex-justify-end{
    justify-content: flex-start;
  }

}

@media(max-width: 63.99em){
.usa-logo img {
 height: 46px !important;
}
}
#search_form .usa-search{
  margin-bottom:2.5%;
}
