
@import 'css/font-awesome-style/css/font-awesome.min.css';
.circle-image {
  border-radius: 50%;
  width: 110px;
}
.circle-image-members {
  border-radius: 50%;
  border: 4px solid #337BB7;
  width: 129px;
  height: 129px;
}


.circle-image-members-borderless {
  border-radius: 50%;
  width: 129px;
  height: 129px;
}

.circle-image:hover {
  -webkit-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  -moz-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
}


.top {
  background: -webkit-linear-gradient(40deg, #ccb8a5 40%, #D3C1B3 40%);
  background: -o-linear-gradient(40deg, #ccb8a5 40%, #D3C1B3 40%);
  background: -moz-linear-gradient(40deg, #ccb8a5 40%, #D3C1B3 40%);
  background: linear-gradient(40deg, #ccb8a5 40%, #D3C1B3 40%);
  padding:30px 0;
}
.carousel{
  padding:50px 30px;
  background:rgba(0, 80, 216,0.8);
  border-radius: 30px;
  color: #fff;
}
.usa-nav__primary > .usa-nav__primary-item > a{
  font-weight:normal;
}
.carousel__track {
  color: #ffffff;
  text-align:left;
}

.slick-prev {
  left:5px;
}
.slick-next{
  right:5px;
}

.slick-dots
{
  position: absolute;
  bottom: 15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.bottom .slick-dots{
  text-align: center;
  right:0;
}
.slick-dots li button:before{
  color:#fff;
  font-size:15px;
}

.slick-dots li.slick-active button:before{
color:#fff;
  opacity: 1;
}
.slick-dotted.slick-slider{
  margin-bottom:0;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

.circle-image.picons{
  margin: 0 auto;
}
.picon{
  height: 100px;
  padding: 25px;
}

.priority-icons {
  background-position: center;
  background-image: url('../assets/img/priority-middle-image1.png');
  background-repeat:no-repeat;
  background-size: cover;
}

.alpha-index {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 65px;
  padding: 20px 20px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(204,204,204,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(204,204,204,1);
  box-shadow: 5px 5px 5px 0px rgba(204,204,204,1);
  overflow: hidden;
}
.alpha-index a {
  min-width: 40px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  float: left;
  display: block;
}
.alpha-index a:hover{
  text-decoration: underline;
}

.glossary-entry {
  margin-top: 30px;
}

.back-to-top {
  float: right;
  text-align: right;
}

.back-to-top a{
  text-decoration: none;

}
.back-to-top a:hover{
  text-decoration: underline;
  color: #ccc;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.disabled a:hover{
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.section_header {
  font-family: 'Poppins', sans-serif;
  color: #515151;
  font-size: 28px;
  align: left;
}

.sub_section_header {
  font-family: 'Poppins', sans-serif;
  color: #515151;
  font-size: 20px;
  align: left;
}

.tab {
  float: left;
  background-color: #ffffff;
  width: 15%;
  height: auto;
  border-right: 2px solid #ccc;
  -webkit-box-shadow: inset -5px 0px 5px 0px rgba(204,204,204,1);
  -moz-box-shadow: inset -5px 0px 5px 0px rgba(204,204,204,1);
  box-shadow: inset -5px 0px 5px 0px rgba(204,204,204,1);
}

.tab button {
  display: block;
  background-color: #206993;
  color: #ffffff;
  padding: 20px 10px;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.tab button:hover {
  background-color: #e59393;
  color: #444444;
}

.tab button.active {
  background-color: #19387b;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  height: auto;

}

.backgroundCover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top .usa-button:visited{
color:#2A4294;
}
.top .usa-button:hover{
  color:#fff;
}
#main-content{
  background: #fefefe;
}
.icon-back{
  background:#f0ebe5;
}
.usa-banner__button::after {
  background-image: url("../img/angle-arrow-down-primary.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  content: '';
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 2px;
  background-color:transparent;
  }
.usa-banner__button[aria-expanded="true"]::after {
  background-image: url(../img/angle-arrow-up-primary.svg),linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  content: "";
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 2px;
  background-color:transparent;

}

.about {
  background: #19387b;
  background: linear-gradient(90deg, #19387b 0%, rgba(9, 13, 121, 0.9164040616) 80%, #020024 100%);
  color: #fff;}



.members-hover:hover {
  -webkit-box-shadow: 1px -1px 11px 4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 1px -1px 11px 4px rgba(0, 0, 0, 0.47);
  box-shadow: 1px -1px 11px 4px rgba(0, 0, 0, 0.47); }

.usa-width-one-half {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 47.58542%;
}

.usa-grid,
.usa-grid-full {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.usa-grid::after,
.usa-grid-full::after {
  clear: both;
  content: "";
  display: block;
}

.usa-grid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media screen and (min-width: 600px) {
  .usa-grid {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.usa-grid-full {
  padding: 0;
}

@media screen and (min-width: 600px) {
  .usa-width-one-whole {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
  }
  .usa-width-one-whole:last-child {
    margin-right: 0;
  }
  .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%;
  }
  .usa-width-one-half:last-child {
    margin-right: 0;
  } 
}
abbr{
  text-decoration: none !important;
}
.council-leadership-grid{
  width: 40%;
  margin-bottom: 2%;
}
.person_font{
  color: #162e51;
}
.council-leadership-h2{
  margin-bottom: 2%;
  color: #162e51;
}
.leadership-council-header-logo{
  background-image: url(/assets/img/fpc-conference.jpg);
  max-height: 200px;
}
.agency_font{
  font-size: 1.0rem;
}
.council-members-grid{
  width:33%;
  margin-bottom: 2%;
}
.card-tag {
  font-size: .9rem;
  margin-top: .2em;
  margin-bottom: .15em;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #323a45;
}
.justify-text {
  text-align:justify;
}
@media screen and (max-width:600px) {  
  /* Style for video(s) text on home page slider*/
  .slick-cloned .text-right .padding-2, #navigation00 .text-right .padding-2, #navigation01 .text-right .padding-2, #navigation02 .text-right .padding-2, #navigation03 .text-right .padding-2{
    justify-content: center;
    display: grid;
  }
  .slick-cloned .text-right, #navigation00 .text-right, #navigation01 .text-right,#navigation02 .text-right,#navigation03 .text-right{
    width: 16%;
  }
}
