
.circle-image {
  border-radius: 50%;
  width: 110px;
}
.circle-image:hover {
  -webkit-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  -moz-box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
  box-shadow: 1px -1px 11px 4px rgba(0,0,0,0.47);
}


.top {
  background: -webkit-linear-gradient(70deg, #2A4294 40%, #4264CF 40%);
  background: -o-linear-gradient(70deg, #2A4294 40%, #4264CF 40%);
  background: -moz-linear-gradient(70deg, #2A4294 40%, #4264CF 40%);
  background: linear-gradient(70deg, #2A4294 40%, #4264CF 40%);
  padding:30px 0;
}
.carousel{
  padding:50px 30px;
background:rgba(8, 18, 65, 0.7);
  border-radius: 30px;
  color: #fff;
}
.usa-nav__primary > .usa-nav__primary-item > a{
  font-weight:normal;
}
.carousel__track {
  color: #ffffff;
  text-align:left;
}

.slick-prev {
  left:5px;
}
.slick-next{
  right:5px;
}

.slick-dots
{
  position: absolute;
  bottom: 15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.bottom .slick-dots{
  text-align: center;
  right:0;
}
.slick-dots li button:before{
  color:#fff;
  font-size:15px;
}

.slick-dots li.slick-active button:before{
color:#fff;
  opacity: 1;
}
.slick-dotted.slick-slider{
  margin-bottom:0;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

.circle-image.picons{
  margin: 0 auto;
}
.picon{
  height: 100px;
  padding: 25px;
}

.priority-icons {
  background-position: center;
  background-image: url('../assets/img/priority-middle-image1.png');
  background-repeat:no-repeat;
  background-size: cover;
}

.alpha-index {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 65px;
  padding: 20px 20px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(204,204,204,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(204,204,204,1);
  box-shadow: 5px 5px 5px 0px rgba(204,204,204,1);
  overflow: hidden;
}
.alpha-index a {
  min-width: 40px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  float: left;
  display: block;
}
.alpha-index a:hover{
  text-decoration: underline;
}

.glossary-entry {
  margin-top: 30px;
}

.back-to-top {
  float: right;
  text-align: right;
}

.back-to-top a{
  text-decoration: none;

}
.back-to-top a:hover{
  text-decoration: underline;
  color: #ccc;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.disabled a:hover{
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.section_header {
  font-family: 'Poppins', sans-serif;
  color: #515151;
  font-size: 28px;
  align: left;
}

.sub_section_header {
  font-family: 'Poppins', sans-serif;
  color: #515151;
  font-size: 20px;
  align: left;
}

.tab {
  float: left;
  background-color: #ffffff;
  width: 15%;
  height: auto;
  border-right: 2px solid #ccc;
  -webkit-box-shadow: inset -5px 0px 5px 0px rgba(204,204,204,1);
  -moz-box-shadow: inset -5px 0px 5px 0px rgba(204,204,204,1);
  box-shadow: inset -5px 0px 5px 0px rgba(204,204,204,1);
}

.tab button {
  display: block;
  background-color: #e31c3d;
  color: #ffffff;
  padding: 20px 10px;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.tab button:hover {
  background-color: #e59393;
  color: #444444;
}

.tab button.active {
  background-color: #981b1e;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  height: auto;

}

.backgroundCover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top .usa-button:visited{
color:#2A4294;
}
.top .usa-button:hover{
  color:#fff;
}
#main-content{
  background: #fefefe;
}
.icon-back{
  background:#f0ebe5;
}
.usa-banner__button::after {
  background-image: url("../img/angle-arrow-down-primary.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  content: '';
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 2px;
  background-color:transparent;
  }
.usa-banner__button[aria-expanded="true"]::after {
  background-image: url(../img/angle-arrow-up-primary.svg),linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  content: "";
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 2px;
  background-color:transparent;

}