---
layout: default
title: Federal Privacy Council
---

<section class="usa-section about margin-bottom-3">
    <div class="usa-grid">
        <div class="grid-container ">
            <div class="priority-tag-line"><h1 class="margin-0 font-ui-2xl">{{ page.title }}</h1></div><br>
        </div>
    </div>
</section>

<section class="usa-graphic-list grid-container margin-bottom-3 ">
    <div class="grid-container shadow-5 radius-lg bg-white padding-y-5">
        <div class="usa-graphic-list__row grid-row grid-gap">

            <div class="tablet:grid-col-12">
                <h3 class="margin-top-0 tablet:margin-bottom-0 text-primary-darker font-sans-lg">Vision</h3>
                <h2 class="font-sans-sm text-bold" style="color:#323a45;">Ensure that Privacy Practices and Privacy Programs Evolve to Help Promote and Maintain our Nation’s Core Values</h2>
                <p class="font-sans-sm">The Federal Privacy Council will help to ensure that as Federal agencies carry out the diverse
                    missions of the Federal Government, they do so in a manner that honors and respects the personal information entrusted to
                    the Federal Government by the American people and other individuals. Today, the United States is in the midst of a revolution
                    of innovation and opportunity based on the explosive growth of the digital economy and the wide-scale adoption of new technology.
                    To keep pace with this change, the Federal Privacy Council will identify more effective and innovative ways to help protect privacy
                    across the Government while supporting efforts to deliver better and more efficient services for the American people.

                </p>
            </div>
            <div class="tablet:grid-col-6">  <a class="usa-button usa-button--hover border-0" HREF="{{ site.baseurl }}/council-members/">Council Members</a></div>

        </div>
    </div>
</section>


<section class="usa-graphic-list grid-container margin-bottom-3 ">
    <div class="grid-container shadow-5 radius-lg bg-white padding-y-5">
        <div class="usa-graphic-list__row grid-row grid-gap">

            <div class="tablet:grid-col-12">
                <h3 class=" margin-top-0 tablet:margin-bottom-0 text-primary-darker font-sans-lg">Purpose</h3>
                <h2 class="font-sans-sm text-bold " style="color:#323a45;">Build on Existing Interagency Efforts to Protect Privacy</h2>
                <p class="font-sans-sm">The Federal Privacy Council is the principal interagency forum to improve the privacy practices
                    of agencies and entities acting on their behalf. The work of the Federal Privacy Council shall strengthen protections of
                    people’s personal information and privacy rights across the Federal Government. To achieve this purpose, the Federal Privacy
                    Council shall: support interagency efforts to protect privacy and provide expertise and assistance to agencies; expand the skill
                    and career development opportunities of agency privacy professionals; improve the management of agency privacy programs by
                    identifying and sharing lessons learned and best practices; and promote collaboration between and among agency privacy
                    professionals to reduce unnecessary duplication of efforts and to ensure the effective, efficient, and consistent
                    implementation of privacy policy government-wide.
                </p>

            </div>

            <div class="tablet:grid-col-6"> <a class="usa-button usa-button--hover border-0" HREF="https://www.gpo.gov/fdsys/pkg/FR-2016-02-12/pdf/2016-03141.pdf">Executive Order</a></div>

        </div>
    </div>
</section>


<section class="usa-graphic-list grid-container margin-bottom-3" >
    <div class="grid-container shadow-5 radius-lg bg-white padding-y-5">
        <div class="grid-col-12">
            <h2 class="text-primary-darker font-sans-lg" >Objectives</h2>
            <p class="font-sans-sm">
            The Federal Privacy Council shall perform functions that include the following:
            </p>
        </div>

        <div class="grid-row grid-gap margin-1">
            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-check"></i> <span class="text-bold" style="color:#323a45;"> Develop Recommendations </span> for the Office of Management and Budget (OMB) on Federal Government privacy policies and requirements</p>

            </div>

            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-bullhorn"></i>  <span class="text-bold" style="color:#323a45;">Inform government-wide priorities</span>  on privacy policy and monitor their implementation</p>

            </div>
        </div>
        
        <div class="grid-row grid-gap margin-1">
            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-lightbulb-o"></i> <span class="text-bold" style="color:#323a45;"> Share lessons learned</span> ideas, best practices, and innovative approaches related to privacy and the responsible management of PII</p>
                
            </div>

            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-th"></i> <span class="text-bold" style="color:#323a45;"> Promote the development </span> and use by agencies of common performance measures to help evaluate the effectiveness of privacy programs</p>

            </div>
        </div>
        
        <div class="grid-row grid-gap margin-1">
            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-folder"></i> <span class="text-bold" style="color:#323a45;"> Work with the Archivist of the United States</span> to assess how the Federal Records Act can be addressed effectively by Federal privacy initiatives and activities</p>

            </div>

            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-cogs"></i>  <span class="text-bold" style="color:#323a45;">Assist OMB</span> in the identification, development, and coordination of multi-agency projects and other innovative initiatives to improve how the Federal Government manages privacy risks while embracing new technologies</p>
            </div>
        </div>
        
        <div class="grid-row grid-gap margin-1">
            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-code-fork"></i>  <span class="text-bold" style="color:#323a45;">Partner with NIST</span>  as appropriate, to develop recommendations  on privacy standards and guidelines</p>
            </div>

            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-users"></i> <span class="text-bold" style="color:#323a45;"> Work with OPM</span>  to assess and address the hiring, training, classification, and professional development needs of Federal employees in areas related to privacy</p>
            </div>
        </div>
        
        <div class="grid-row grid-gap margin-1">
            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-comments"></i> <span class="text-bold" style="color:#323a45;"> Promote collaboration</span> and community building among Senior Agency Officials for Privacy (SAOPs) and other privacy professionals for purposes of sharing best practices, transferring knowledge, and developing a unified approach for addressing Federal privacy challenges,
                     practices, and innovative approaches related to privacy and the responsible management of PII</p>
            </div>

            <div class="desktop:grid-col-6">
                 <p class="font-sans-sm"><i class="fa fa-binoculars"></i>  <span class="text-bold" style="color:#323a45;">Solicit perspectives</span> from the Federal Chief Information Officer Council, Chief Data Officers Council, Chief Financial Officers Council, Chief Acquisition Officers Council, Chief Human Capital Officers Council, Budget Officers Advisory Council, and other key groups in the Federal Government, as well as industry, academia, and other Federal, tribal, and state and local governments, on matters of concern to the Council as appropriate
                </p>
            </div>

        </div>
    </div>
</section>

